<div class="flex flex-col flex-auto bg-white">


    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- Header -->
    <div class="bg-transparent flex flex-col mt-4 w-full h-full">
        <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" maxWidth="auto" proportion="25"
            slides="5" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false"
            orientation="ltr">
            <mat-carousel-slide #matCarouselSlide>
                <div class="mx-auto w-full">
                    <div class="flex flex-col bold items-center justify-center rounded-sm m-auto">
                        <img class="rounded-sm custom-height-img" src="assets\images\pages\article\S HB 2018 Fall - 1 - 1.png">
                    </div>
                </div>
            </mat-carousel-slide>

            <mat-carousel-slide #matCarouselSlide>
                <div class="mx-auto w-full">
                    <div class="flex flex-col bold items-center justify-center rounded-sm m-auto">
                        <img class="rounded-sm custom-height-img" src="assets\images\pages\article\slide-2.png">
                    </div>
                </div>
            </mat-carousel-slide>

            <mat-carousel-slide #matCarouselSlide>
                <div class="mx-auto w-full">
                    <div class="flex flex-col bold items-center justify-center rounded-sm m-auto">
                        <img class="rounded-sm custom-height-img" src="assets\images\pages\article\S HB 2018 Fall - 1 - 3.png">
                    </div>
                </div>
            </mat-carousel-slide>

            <mat-carousel-slide #matCarouselSlide>
                <div class="mx-auto w-full">
                    <div class="flex flex-col bold items-center justify-center rounded-sm m-auto">
                        <img class="rounded-sm custom-height-img" src="assets\images\pages\article\S HB 2018 Fall - 1 - 4.png">
                    </div>
                </div>
            </mat-carousel-slide>


        </mat-carousel>
    </div>




    <div class="container flex flex-col md:flex-row columns-1 mx-auto w-9/12 gap-8 py-16">
        <div class="flex flex-col bold w-1/1 justify-start gap-y-8 text-left">
            <h1 class="text-4xl text-center">Travelling Man</h1>
            <p class="">
                Demaray Harvesting brings workers from all over the globe to Custom Harvest. In a bygone era, young
                Irishmen like Billy Kelly - those who are eager for adventure and foreign travel - might have joined the
                navy or merchant marines. But in 2018, they have another kind of fleet they can join; the armada of
                custom cutting combines that starts out every spring in southern states like Texas or Arizona to follow
                the ripening grain northwards.
            </p>
            <p>

                “The way I see it, I’m getting paid to see the world,” said Kelly who hails from the county of Kerry in
                Ireland’s southwest. “To me it’s a holiday. Where else could you start in Arizona and finish up 10 miles
                inside the Canadian border. You get to see the country from one end to the other, not just the cities.
                It’s a way to see the real America that not many people from my part of the world can say that they have
                seen.”

                Kelly is just one of hundreds – if not thousands – of workers employed by America’s custom grain
                harvesters every year under the US Government’s H-2A Program which permits agricultural employers to
                hire foreign workers for seasonal work. This year alone, according to statistics published by the US
                Department of Labor, approximately 200,000 foreign workers were issued Visas under the program for
                employment on everything from dairies to tobacco farms across the US.
            </p>
            <p>
                While opting to hire foreign workers has become a necessity for many custom cutters, Demaray says that
                the solution is not without its complications. Demaray says that he must get his foreign workers to his
                base in Arizona by the third week of April, so that they can complete this process in time for the
                beginning of his harvest run in mid-May.
            </p>
            <p>
                “I hire people who have experience related to what we are doing, either driving trucks or who have
                worked on farms doing work like silage harvesting. I have found that European drivers, especially if
                they have experience driving on both sides of the road with right hand steering, tend to be skilled
                drivers. We also tend to get a lot of hires through referrals from people who have worked for us
                before.”</p>
            <p>
                He also needs people willing to put in long days of hard work, sometimes for weeks on end without much
                break. It’s a profile that fits Billy Kelly to a tee.
            </p>
            <p>
                “Back home I come from a farming background and normally work construction where I run an excavator. I
                knew a guy who worked for Tim a few years ago and now I am here. Back in Ireland it is all forage
                harvesting because it is all dairy. I have driven lots of forage harvesters, but never grain combines.”
            </p>
            <p>
                Because many of his foreign employees have limited experience with combines, Demaray says that it is
                important that the equipment he uses is both easy to handle and maintain.
            </p>
            <p>
                “Most of my Case combines are currently running FD1 FlexDrapers. I really like the FlexDraper’s
                reliability and the job it does. We also don’t have any trouble with chopping the reel fingers off,
                which is easy to do with other headers. It’s just a nice operating head for us and not much cost to
                maintain.”</p>
            <p>
                Kelly, still in his first-year custom cutting, confirms that Demaray’s FlexDrapers make his job easier.
                “The FlexDraper’s simplicity is amazing. Because there is nothing that can go wrong you can go hours and
                hours without stoppage,” said Kelly.
                “There’s nothing difficult to do on that header and maintenance is so easy anyone can do it.”
            </p>
            <p>
                Micky Kane, who calls Leicestershire, England, home. Is in his fifth-year custom cutting and seventh
                “consecutive summer” harvesting, says that he has also spent time cutting in Australia and New Zealand,
                all to get more experience on combines. Working for Demaray that experience has included time in wheat,
                barley, canola, soybeans and specialty crops like chickpeas, pinto beans, navy beans, and edible beans.
                When Performance Magazine caught up with Demaray’s crew for this interview, they were working on a job
                in northern North Dakota, not far from MacDon’s headquarters in Winnipeg, Manitoba.
            </p>
            <p>
                The proximity afforded everyone the opportunity to visit MacDon’s plant and see how the headers that
                they have been using all summer are made. Demaray confirms that the opportunity to see behind the scenes
                at MacDon was appreciated by everyone on his crew, because so many of them are here to drive the latest
                harvesting equipment.
            </p>
            <p>
                Read the original article here, <a
                    href="https://www.macdon.com/stories/flexdraper-headers/travelling-man" target="_blank" class="text-blue-600">https://www.macdon.com/stories/flexdraper-headers/travelling-man</a>
                featured in MacDon Performance Magazine’s Fall 2018 Issue.
            </p>

        </div>

    </div>


</div>