<!-- Header -->
<div class="flex flex-col max-w-250 md:min-w-160 max-h-screen -m-6">

    <!-- Title -->
    <header class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Edit Contact Data</div>
        <button mat-icon-button (click)="discard()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </header>
    <!-- Actions -->
    <div class="overflow-y-auto">
        <!-- <div class="flex justify-end mr-12 mt-4">
            <button *ngIf="isEdit" class="" mat-flat-button [color]="'primary'" (click)="enableEditButton()">
                <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                <span class="ml-2 mr-1">Edit</span>
            </button>
        </div> -->
        <form [formGroup]="form" class="flex flex-col flex-auto sm:p-8 p-6 sm:grid overflow-y-auto">
            <div class="py-3 center mx-auto">
                <div class="px-4 py-5 rounded-lg text-center w-48">
                    <div class="mb-4 imagePreview" *ngIf="imageURL && imageURL !== ''">
                        <img class="w-28 h-28 mx-auto rounded-full object-cover object-center" [src]="imageURL">
                    </div>
                    <div class="mb-4" *ngIf="imageURL ===''">
                        <img class="w-28 h-28 mx-auto rounded-full object-cover object-center" src="https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png" alt="Avatar Upload" />
                    </div>
                    <label class="cursor-pointer mt-6">
                <span class="mt-4 text-base leading-normal px-4 py-2 bg-blue-500 text-white text-sm rounded-full" >Upload Photo</span>
                    <input formControlName="avatar" type='file' class="hidden" accept="image/*" (change)="showPreview($event)" />
              </label>
                </div>
            </div>
            <div class="flex flex-col flex-auto sm:grid lg:grid-cols-2 md:grid-cols-2 justify-between gap-x-6 gap-2 p-0">
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500 sm:w-4/12">First Name</mat-label>
                        <input [readonly]="isEdit" matInput formControlName="first_name">
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500 sm:w-4/12">Last Name</mat-label>
                        <input [readonly]="isEdit" matInput formControlName="last_name">
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500 w-4/12">Website</mat-label>
                        <input [readonly]="isEdit" matInput formControlName="website">
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500">Contact Position</mat-label>
                        <input [readonly]="isEdit" matInput formControlName="position">
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500">Address</mat-label>
                        <input [readonly]="isEdit" matInput formControlName="address">
                    </mat-form-field>
                </div>

                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500">Cell Number </mat-label>
                        <input [readonly]="isEdit" matInput formControlName="cell_number">
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500">City</mat-label>
                        <input [readonly]="isEdit" matInput formControlName="city">
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500">Office Number</mat-label>
                        <input [readonly]="isEdit" matInput formControlName="office_number">
                    </mat-form-field>
                </div>

                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline" class="cat mx-1  w-full ">
                        <mat-label>Select State</mat-label>
                        <mat-select  formControlName="state">
                            <mat-option
                                *ngFor="let state of states"
                                [value]="state"
                                >{{ state }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500">Email</mat-label>
                        <input [readonly]="isEdit" matInput formControlName="email">
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500">Zip Code</mat-label>
                        <input type="number" [readonly]="isEdit" matInput formControlName="zip_code">
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500">Fax</mat-label>
                        <input type="number" [readonly]="isEdit" matInput formControlName="fax">
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-gray-500 text-gray-500 sm:w-2/12">LinkedIn</mat-label>
                        <input [readonly]="isEdit" matInput formControlName="linkedin">
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label class="text-gray-500 md:w-2/12 sm:w-4/12">Note 1</mat-label>
                        <textarea [readonly]="isEdit" matInput formControlName="note_1"></textarea>
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Note 2</mat-label>
                        <textarea [readonly]="isEdit" matInput formControlName="note_2"></textarea>
                    </mat-form-field>
                </div>
                <!-- </div> -->
            </div>
        </form>
    </div>
    <div class="flex flex-0 items-center justify-end h-16 pr-4 sm:pr-8 lg:pr-12 pl-6 sm:pl-8 bg-white text-on-primary">
        <div class="flex gap-2 items-center mt-4 sm:mt-0">
            <!-- Discard -->
            <button *ngIf="!isEdit" type="submit" class="bg-amber-600" mat-flat-button [color]="'primary'" (click)="discard()">
                Discard
            </button>
            <button *ngIf="!isEdit" mat-flat-button color="primary" [class.spinner]="isLoadingCustomerContact$ | async" [disabled]="form.invalid || ((isLoadingCustomerContact$) | async)" (click)="onSubmit()">Update</button>
        </div>
    </div>
</div>
