.redInActiveIcon {
    color: #dc2626;
}

.greenActiveIcon {
    color: #16a34a;
}

.machinery-grid {
    grid-template-columns: 40% 40%;

    @screen sm {
        grid-template-columns: 20% 20% 20% 20%;
    }
    @screen md {
        grid-template-columns: 10% 8% 10% 10% 8% 15% 10% 10%;
    }
    @screen lg {
        grid-template-columns: 10% 10% 12% 12% 14% 14% 10% 10%;
    }
}