<div class="flex flex-col xs:w-72 sm:w-120 md:w-180 w-240 h-screen 2xl:max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Add Employee</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <div class="py-3 center mx-auto">
            <div class="px-4 py-5 rounded-lg text-center w-48">
                <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                    <img class="w-28 h-28 mx-auto rounded-full object-cover object-center" [src]="imageURL">
                </div>
                <div class="mb-4" *ngIf="imageURL ==''  ">
                    <img class="w-28 h-28 mx-auto rounded-full object-cover object-center" src="https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png" alt="Avatar Upload" />
                </div>
                <label class="cursor-pointer mt-6">
                <span class="mt-4 text-base leading-normal px-4 py-2 bg-blue-500 text-white text-sm rounded-full" >Upload Photo</span>
                    <input formControlName="avatar" type='file' class="hidden" accept="image/*" (change)="showPreview($event)" />
              </label>
            </div>
        </div>
        <!-- <div>
            <input id="avatar-file-input" 
            class="" type="file" [multiple]="false" [accept]="'image/jpeg, image/png'" (change)="uploadAvatar(avatarFileInput.files)" #avatarFileInput>
            <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover" for="avatar-file-input" matRipple>
                        <mat-icon
                            class="text-white"
                            [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                    </label>
        </div> -->
        <!-- <div>

            <button mat-icon-button (click)="removeAvatar()">
                        <mat-icon
                            class="text-white"
                            [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    </button>
        </div> -->
        <div class="font-medium text-2xl ">
            General Information
        </div>
        <div class="lg:grid lg:grid-cols-2 gap-2">
            <div class="">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>

            </div>
            <div class="">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input type="number" matInput formControlName="phone">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Emergency Contacts</mat-label>
                    <input type="number" matInput formControlName="emergencyContact">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Banking Info</mat-label>
                    <input matInput formControlName="bankingInfo">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Roles</mat-label>
                    <mat-select formControlName="role" multiple>
                        <mat-select-trigger *ngFor="let role of this.form.controls.role.value; index as i" [value]="role">
                            {{role}}{{this.form.controls.role.value.length - i == 1 ? '' : ',' }}
                        </mat-select-trigger>
                        <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Position</mat-label>
                    <input matInput formControlName="position">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
            <div class="flex justify-center items-center">
                <mat-checkbox formControlName="salary">Salary</mat-checkbox>
                <mat-checkbox formControlName="currentEmployee" class="checkbox ml-2">Current Employee</mat-checkbox>
            </div>
        </div>
        <div class="mt-2 flex items-center">
            <div matTooltipPosition="above" matTooltip="Please upload relevant documents here" class="font-medium text-2xl">
                Government Docs
            </div>
            <div class="ml-1">(Please upload relevant documents here) </div>
        </div>
        <div class="lg:grid lg:grid-cols-2 gap-2 mt-1">
            <div class="flex items-center" *ngFor="let doc of employeeGovernemtDocs; index as i">
                <mat-form-field>
                    <div>
                        <mat-toolbar>
                            <input matInput [value]="doc.uploadedDocName != '' ? doc.uploadedDocName  : doc.docName" />
                        </mat-toolbar>
                        <input type="file" id="fileInput" name="fileInput" accept="" multiple (change)="selectFiles($event , i)" />
                    </div>

                </mat-form-field>
                <label class="flex justify-end"> <mat-icon (click)="removeDocHandler(i)" *ngIf="doc?.isUpload" color = "warn"  [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    <mat-icon (click)="removeDocHandler(i)" *ngIf="!doc?.isUpload" color = "#64748b"  [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                </label>
            </div>
        </div>
        <div class="flex items-center">
            <div matTooltipPosition="above" matTooltip="Please upload relevant documents here" class="font-medium text-2xl">
                Company Docs
            </div>
            <div class="ml-1">(Please upload relevant documents here) </div>
        </div>
        <div class="lg:grid lg:grid-cols-2 gap-2 mt-1">
            <div class="flex items-center" *ngFor="let doc of employeeCompanyDocs; index as i">
                <mat-form-field>
                    <div>
                        <mat-toolbar>
                            <input matInput [value]="doc.uploadedDocName != '' ? doc.uploadedDocName  : doc.docName" />
                        </mat-toolbar>
                        <input type="file" id="fileInput" name="fileInput" accept="" multiple (change)="selectFiles($event, i+8)" />
                    </div>
                </mat-form-field>
                <label class="flex justify-end"><mat-icon (click)="removeDocHandler(i+8)" *ngIf="doc?.isUpload" color = "warn"  [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    <mat-icon (click)="removeDocHandler(i+8)" *ngIf="!doc?.isUpload" color = "#64748b"  [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                </label>
            </div>
        </div>
        <div class="flex items-center">
            <div matTooltip="Please upload relevant documents here" class="font-medium text-2xl">
                Work Records
            </div>
            <div class="ml-1">(Please upload relevant documents here)</div>
        </div>
        <div class="lg:grid lg:grid-cols-2 gap-2 mt-1">
            <div class="flex items-center">
                <mat-form-field>
                    <div>
                        <mat-toolbar>
                            <input matInput [value]="employeeRecordDocs[0].uploadedDocName != '' ? employeeRecordDocs[0].uploadedDocName  : employeeRecordDocs[0].docName" />
                        </mat-toolbar>
                        <input type="file" id="fileInput" name="fileInput" accept="" multiple (change)="selectFiles($event , 14)" />
                    </div>
                </mat-form-field>
                <label class="flex justify-end"> <mat-icon (click)="removeDocHandler(14)" *ngIf="employeeRecordDocs[0]?.isUpload" color = "warn"  [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    <mat-icon (click)="removeDocHandler(14)" *ngIf="!employeeRecordDocs[0]?.isUpload" color = "#64748b"  [svgIcon]="'heroicons_outline:trash'"></mat-icon>
            </label>
            </div>

        </div>
        <div class="flex flex-col gap-2 sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
        </div>
    </form>

    <div class="flex flex-0 items-center justify-end h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-white text-on-primary">
        <div class="flex gap-2 items-center mt-4 sm:mt-0">
            <!-- Discard -->
            <button type="submit" class="order-first sm:order-last bg-amber-600" mat-flat-button [color]="'primary'" (click)="discard()">
                Discard
            </button>
            <button type="submit" class="order-first sm:order-last" mat-flat-button [color]="'primary'" (click)="onSubmit()">
                Save
            </button>
        </div>
    </div>
</div>