<div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"
    >
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Applicants</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"
                ></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search Applicant'"
                />
            </mat-form-field>
            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="openAddDialog()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="lg:ml-2">Add</span>
            </button>
        </div>
    </div>
    <mat-accordion class="sm:hidden ">
        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="text-2xl font-extrabold tracking-tight">
                    Filter Applicants
                </mat-panel-title>
            </mat-expansion-panel-header>
                    <div class="flex flex-col sm:flex-row md:flex-row">
                        <div class="w-10/12  ">
                            <mat-form-field appearance="fill" class="mx-1 mt-2 w-60">
                                <mat-label>Select Country</mat-label>
                                <mat-select multiple >
                                    <mat-option
                                        *ngFor="let country of country_list"
                                        [value]="country"
                                        >{{ country }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                                <mat-form-field appearance="fill" class="mx-1 mt-2 w-60">
                                    <mat-label>Select status</mat-label>
                                    <mat-select multiple>
                                        <mat-option
                                            *ngFor="let status of statusList"
                                            [value]="status"
                                            >{{ status }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                        </div>
                        <div class="w-2/12   flex justify-center items-center">
                            <button class="" mat-flat-button [color]="'primary'">
                                <span class="" >Filter</span>
                            </button>
                        </div>

                    </div>
        </mat-expansion-panel>
    </mat-accordion>


    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

                        <div class="flex flex-col justify-center hidden sm:block w-64 h-68 sm:w-50 bg-gray-100">
                            <mat-label class="text-4xl font-extrabold ml-2 ">Filters</mat-label>
                            <div class="border-b border-gray-200  w-full "></div>
                            <div class="">
                                <mat-form-field appearance="fill" class="mx-1 ml-4 mt-1  w-40 ">
                                    <mat-label>Select Country</mat-label>
                                    <mat-select multiple >
                                        <mat-option
                                            *ngFor="let country of country_list"
                                            [value]="country"
                                            >{{ country }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                                    <mat-form-field appearance="fill" class="mx-1 ml-4 w-40">
                                        <mat-label>Select status</mat-label>
                                        <mat-select multiple>
                                            <mat-option
                                                *ngFor="let status of statusList"
                                                [value]="status"
                                                >{{ status }}</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                            </div>
                            <div class="flex justify-center ">
                                <button class="" mat-flat-button [color]="'primary'">
                                    <span class="" >Filter</span>
                                </button>
                            </div>

                        </div>

        <div
            class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
        >
            <ng-container *ngIf="applicantsdata$ | async as applicants">
                <ng-container *ngIf="applicants.length > 0; else noProducts">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="applicant-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear
                        >
                        <div> </div>

                            <div [mat-sort-header]="'namee'">Name</div>

                            <div class="hidden sm:block">Email</div>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'phone'"
                            >
                                Phone
                            </div>
                            <!-- <div
                                class="hidden sm:block"
                                [mat-sort-header]="'country'"
                            >
                                Country
                            </div> -->
                            <div class="">Status</div>
                            <div class="">Details</div>
                        </div>
                        <!-- Rows -->
                        <ng-container
                            *ngIf="applicantsdata$ | async as applicants"
                        >
                            <ng-container
                                *ngFor="
                                    let applicant of applicants;
                                    trackBy: trackByFn
                                "
                            >
                                <div
                                    class="applicant-grid grid items-center gap-4 py-4 px-6 md:px-8 border-b"
                                >
                                <div>
                                    <img *ngIf="applicant.avatar" class="max-w-none flex items-center justify-center h-8 w-8 rounded-full" src="{{applicant.avatar}}" alt="">
                                    <div *ngIf="applicant.avatar === ''" class="flex items-center justify-center w-8 h-8 rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">{{applicant.name.charAt(0)}} </div>
                                </div>
                                    <!-- Name -->
                                    <div class="capitalize">
                                        {{ applicant.name }}
                                    </div>

                                    <!-- Email -->
                                    <div
                                        class="hidden lg:block md:block sm:block truncate"
                                    >
                                        {{ applicant.email }}
                                    </div>

                                    <!-- Cellphone -->
                                    <div
                                        class="lg:flex items-center hidden sm:block"
                                    >
                                        <div class="min-w-4 ml-2">
                                            {{ applicant.cellPhone }}
                                        </div>
                                    </div>

                                     <!-- Country -->
                                     <!-- <div
                                     class="flex items-center hidden sm:block"
                                 >
                                     {{ applicant.country }}
                                 </div> -->

                                    <!-- Status -->
                                    <div>
                                        <div
                                            class="truncate rounded-full h-7 w-26 flex justify-center items-center
                                     bg-{{
                                                applicant.status ===
                                                'In-Process'
                                                    ? 'green'
                                                    : ''
                                            }}-400
                                     bg-{{
                                                applicant.status === 'Hired'
                                                    ? 'green'
                                                    : ''
                                            }}-700
                                     bg-{{
                                                applicant.status === 'New'
                                                    ? 'yellow'
                                                    : ''
                                            }}-400
                                     bg-{{
                                                applicant.status ===
                                                'Pre-Interview'
                                                    ? 'orange'
                                                    : ''
                                            }}-400
                                     bg-{{
                                                applicant.status === 'Evaluated'
                                                    ? 'blue'
                                                    : ''
                                            }}-400
                                     bg-{{
                                                applicant.status ===
                                                'Rejected'
                                                    ? 'red'
                                                    : ''
                                            }}-400
                                        "
                                        >
                                            {{ applicant.status }}
                                        </div>
                                    </div>

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="
                                                toggleDetails(applicant.id)
                                            "
                                        >
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    selectedProduct?.id ===
                                                    applicant.id
                                                        ? 'heroicons_solid:chevron-up'
                                                        : 'heroicons_solid:chevron-right'
                                                "
                                            ></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container
                                        *ngIf="
                                            selectedProduct?.id === applicant.id
                                        "
                                    >
                                        <ng-container
                                            *ngTemplateOutlet="
                                                rowDetailsTemplate;
                                                context: {
                                                    $implicit: applicant
                                                }
                                            "
                                        ></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{ 'pointer-events-none': isLoading }"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"
                    ></mat-paginator>
                </ng-container>
            </ng-container>

            <ng-template #noProducts>
                <div
                    class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
                >
                    There are no products!
                </div>
            </ng-template>
        </div>
    </div>
</div>
