

.applicant-grid {
    grid-template-columns: 30% 30% 30%;

    @screen sm {
        grid-template-columns: 7% 7% 10% 8% 8% 8% 15% 10% 8% 10%;
    }

    @screen md {
        grid-template-columns: 7% 7% 12% 8% 10% 8% 15% 10% 10% 10%;
    }

    @screen lg {
        grid-template-columns: 7% 7% 12% 8% 10% 8% 15% 10% 10% 10%;
    }
}

.mat-filter {
    background-color: #f1f5f9 !important;
    color: #4f46e5 !important;
}

.mat-filter-applied {
    background-color: green;
    color: #fff;
}