<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Add Data</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">

        <mat-form-field appearance="outline">
            <mat-label>Truck Name</mat-label>
            <input matInput formControlName="truckname">
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field> -->

        <mat-form-field appearance="outline">
            <mat-label>Company Name</mat-label>
            <mat-select formControlName="cmp_name">
                <mat-option value="one">DHT</mat-option>
                <mat-option value="two">DIRECT FROM GRAIN CART/HARVESTER</mat-option>
                <mat-option value="third">FARMERS TRUCK</mat-option>
                <mat-option>KIWI</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Position</mat-label>
            <input matInput formControlName="position">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field> -->
        <!-- <div>
            <mat-checkbox formControlName="salary">Salary</mat-checkbox>
            <mat-checkbox formControlName="currentEmployee" class="checkbox">Current Employee</mat-checkbox>
        </div> -->

        <!-- Body -->

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Discard -->
                <button class="ml-auto sm:ml-0" mat-stroked-button (click)="discard()">
                    Discard
                </button>
                <!-- Save as draft -->
                <!-- Send -->
                <button type="submit" class="order-first sm:order-last" mat-flat-button [color]="'primary'" (click)="send()">
                    Save Record
                </button>
            </div>
        </div>
    </form>
</div>