<!-- Header -->
<div class="flex flex-col max-w-250 md:min-w-160 max-h-screen -m-6">
    <!-- Title -->
    <header class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">
            Preliminary Reviews
        </div>
        <button mat-icon-button (click)="onClose()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </header>

    <div class="flex flex-0 items-center justify-end h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-white text-on-primary">
        <div class="flex gap-2 items-center mt-4 sm:mt-0">
            <!-- Discard -->
            <button type="submit" class="bg-amber-600" mat-flat-button [color]="'primary'" (click)="onClose()">
                Discard
            </button>
            <button mat-flat-button [color]="'primary'">
                Button 1
            </button>
            <button mat-flat-button [color]="'primary'">
                Button 2 
            </button>
            <button mat-flat-button [color]="'primary'">
                Button 
            </button>
        </div>
    </div>
</div>