
#fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    left: 0px;
    top: 0px;
    height: 4rem;
}
.pictures-fields-label
{
    font-size: 14px;
    font-weight: 500;
    color:#B7BFC9 !important;
}
.mat-toolbar-row, .mat-toolbar-single-row
{
    padding: 0px !important;
}

::ng-deep .mat-form-field-wrapper 
{
    margin: 0.25em 0 !important;
}
.pic-3 
{
    margin-top: 20px !important;
}