<div class=" sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col xs:items-center sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div (click)="backHandler()" class="flex gap-3 items-center text-4xl font-extrabold tracking-tight">
            <mat-icon class="icon-size-6 text-secondary" [svgIcon]="'heroicons_solid:arrow-circle-left'"></mat-icon>
            <img *ngIf="employees.avatar" class="inline-block h-14 w-14 rounded-full" src="{{employees.avatar}}" alt="">
            <img *ngIf="employees.avatar == ''" class="inline-block h-12 w-14 rounded-full" src="https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png" alt="">
            <span class="ml-1 capitalize">{{employees.fname}} {{employees.lname}}   </span>
        </div>
        <div class="flex justify-end gap-4 px-4 py-5 sm:px-6 flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="inline-flex items-center px-5 py-2 border border-transparent text-base font-medium rounded-full shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" mat-flat-button [color]="'warn'">
                <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                <span class="ml-2 mr-1">Delete</span>
            </button>
            <button (click)="openUpdateDialog()" class="inline-flex items-center px-5 py-2 border border-transparent text-base font-medium rounded-full shadow-sm text-white  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" mat-flat-button
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                <span class="ml-2 mr-1">Update</span>
            </button>
        </div>
        <!-- Actions -->
    </div>

    <!-- Main -->
    <div class="tab bg-white shadow overflow-hidden sm:rounded-lg">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="General Information">
                <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                    <dl class="sm:divide-y sm:divide-gray-200">
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Name</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.fname}} {{employees.lname}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Email</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.email}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Harvest Year</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.harvestYear}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Address</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.address}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Phone</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.phone}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">International Phone Number</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.internationalPhoneNumber}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Emergency Contacts</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.emergencyContact}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Banking Info</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.bankingInfo}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Role</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.role}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Position</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.position}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Salary</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.harvestYear}}</dd>
                        </div>
                        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-extrabold text-gray-500">Current Employee</dt>
                            <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">{{employees.currentEmployee}}</dd>
                        </div>
                    </dl>
                </div>
            </mat-tab>
            <mat-tab label="Government Docs">
                <div class="h-screen border-t border-gray-200 px-4 py-5 sm:p-0 ">
                    <div *ngIf="employeeGovernemtDocs.length > 0">
                        <div>
                            <div class="flex flex-wrap m-4">
                                <div *ngFor="let file of employeeGovernemtDocs; trackBy:trackByFn">
                                    <a class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card" [routerLink]="['./details/', file.id]">
                                        <div class="aspect-w-9 aspect-h-6">
                                            <div class="flex items-center justify-center">
                                                <!-- Icons -->
                                                <div class="relative">
                                                    <mat-icon class="icon-size-14 text-hint" [svgIcon]="'iconsmind:file'"></mat-icon>
                                                    <div class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white" [class.bg-red-600]="file.type === 'PDF'" [class.bg-blue-600]="file.type === 'DOC'" [class.bg-green-600]="file.type === 'XLS'" [class.bg-gray-600]="file.type === 'TXT'"
                                                        [class.bg-amber-600]="file.type === 'JPG'">
                                                        {{file.type.toUpperCase()}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                            <div class="truncate" [matTooltip]="file.name">{{file.name}}</div>
                                            <ng-container *ngIf="file.contents">
                                                <div class="text-secondary truncate">{{file.contents}}</div>
                                            </ng-container>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Company Docs ">
                <div class="border-t h-screen border-gray-200 px-4 py-5 sm:p-0 ">
                    <div class="flex flex-wrap m-4">
                        <div *ngFor="let file of employeeCompanyDocs;">
                            <a class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card" [routerLink]="['./details/', file.id]">
                                <div class="aspect-w-9 aspect-h-6">
                                    <div class="flex items-center justify-center">
                                        <!-- Icons -->
                                        <div class="relative">
                                            <mat-icon class="icon-size-14 text-hint" [svgIcon]="'iconsmind:file'"></mat-icon>
                                            <div class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white" [class.bg-red-600]="file.type === 'PDF'" [class.bg-blue-600]="file.type === 'DOC'" [class.bg-green-600]="file.type === 'XLS'" [class.bg-gray-600]="file.type === 'TXT'"
                                                [class.bg-amber-600]="file.type === 'JPG'">
                                                {{file.type.toUpperCase()}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                    <div class="truncate" [matTooltip]="file.name">{{file.name}}</div>
                                    <ng-container *ngIf="file.contents">
                                        <div class="text-secondary truncate">{{file.contents}}</div>
                                    </ng-container>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Work Records ">
                <div class="border-t h-screen border-gray-200 px-4 py-5 sm:p-0 ">
                    <div class="flex flex-wrap m-4">
                        <a class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card">
                            <div class="aspect-w-9 aspect-h-6">
                                <div class="flex items-center justify-center">
                                    <!-- Icons -->
                                    <div class="relative">
                                        <mat-icon class="icon-size-14 text-hint" [svgIcon]="'iconsmind:file'"></mat-icon>
                                        <div class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white bg-red-600">
                                            {{" PDF ".toUpperCase()}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium ">
                                <div class="truncate " matTooltip="Work Record ">{{"Work Record "}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
