.employee-detail-grid {
    grid-template-columns: 10% 50% 30%;

    @screen sm {
        grid-template-columns: 3% 20% 20% 40% 10%;
    }
    @screen md {
        grid-template-columns: 3% 20% 20% 40% 10%;
    }
    @screen lg {
        grid-template-columns: 3% 20% 20% 40% 10%;
    }
}

.tab .mat-tab-group .mat-tab-body-content {
    padding: 0px !important;
}

.tab .mat-tab-group .mat-tab-labels {
    padding: 12px !important;
}

.mat-input-element {
    font-size: medium;
    font-weight: 400;
    color: #1e293b;
}

// Left Navigation CSS //
.sub-nav-component {
    width: 100%;
    height: 100vh;
}

.sub-sidenav-content {
    // height: 100vh;
    width: 100%;
    overflow-x: clip;
}

.sub-sidenav {
    padding: 5px;
    border-right: none !important;
    max-width: 270px;
}

.opacity-8 {
    opacity: 80%;
}

.opacity-9 {
    opacity: 90%;
}

.subnav-menu-icon {
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    transition: 0.3s;
    width: 35px !important;
    height: 35px !important;
}

.subnav-menu-icon:hover {
    background-color: #eaedf1;
}

// Left Navigation CSS //

.mat-drawer-inner-container div:nth-child(3),
.mat-drawer-inner-container div:nth-child(4)
{
    //  pointer-events: none;
}
