<div class=" sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="border-b">
    <div class="relative flex flex-col xs:items-center sm:flex-row flex-0 sm:items-center py-4 px-4 md:px-4">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div>
            <button mat-icon-button (click)="toggleDrawer()">
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
        </div>
        <!-- Title -->
        <div (click)="backHandler()" class="flex gap-3 items-center text-2xl font-extrabold tracking-tight pl-2">
            <mat-icon class="icon-size-6 text-secondary" [svgIcon]="'heroicons_solid:arrow-circle-left'"></mat-icon>
            <img *ngIf="employees.avatar" class="inline-block h-14 w-14 rounded-full" src="{{employees.avatar}}" alt="">
            <img *ngIf="employees.avatar == ''" class="inline-block h-12 w-14 rounded-full" src="https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png" alt="">
            <span class="ml-1 capitalize">{{employees.fname}} {{employees.lname}}   </span>
        </div>
    </div>
    </div>
    <div style="height: 100%" class="bg-card dark:bg-transparent">
        <mat-drawer-container class=" w-full bg-card divide-x" autosize>
            <mat-drawer #drawer class="sub-sidenav bg-card" [mode]="drawerMode" [opened]="drawerOpened">
                <div class="flex" *ngFor="let route of routes;let i = index">
                    <button style="padding: 15px;" [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'"
                    [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" mat-button class="my-1 justify-start w-full" (click)="navigationHandler(route)">
                            <mat-icon svgIcon="{{route.icon}}" class="icon-size-5 text-primary"></mat-icon>
                            <!-- <span style="font-size: 13px; font-weight: bold; margin-left: 10px;"> {{route.title}} </span> -->
                        </button>
                </div>
            </mat-drawer>

            <div class="flex  bg-light">
                <div class="w-full">
                    <div class="tab overflow-auto">
                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Employee Data'">
                            <app-employee-data></app-employee-data>
                            </ng-template>
                        </div>
                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Profile Data'">
                                <app-profile-data [customers]="customers">
                                </app-profile-data>
                            </ng-template>
                        </div>
                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Onboarding'">
                                <app-onboarding>
                                </app-onboarding>
                            </ng-template>
                        </div>
                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Account Management'">
                                <app-account-management>
                                </app-account-management>
                            </ng-template>
                        </div>
                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Payroll'">
                                <app-payroll>
                                </app-payroll>
                            </ng-template>
                        </div>
                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Documents'">
                                <app-documents>
                                </app-documents>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>

        </mat-drawer-container>

        <!-- Main -->

    </div>

</div>
