.tab .mat-tab-group .mat-tab-body-content {
    padding: 0px !important;
}

.tab .mat-tab-group .mat-tab-labels {
    padding: 12px !important;
}

.mat-input-element {
    font-size: medium;
    font-weight: 400;
    color: #1e293b;
}