.invoice-grid {
    grid-template-columns: 15% 15% 15%;

    @screen sm {
        grid-template-columns: 10% 15% 15% 20% 8% 8% 8% 8%;
    }
    @screen md {
        grid-template-columns: 10% 15% 15% 20% 8% 8% 8% 8%;
    }

    @screen lg {
        grid-template-columns: 10% 15% 15% 20% 8% 8% 8% 8%;
    }
}
.farming-grid
{
    grid-template-columns: 15% 15% 15%;

    @screen sm {
        grid-template-columns: 15% 15% 15% 15% 8% 8% 8% 8%;
    }
    @screen md {
        grid-template-columns: 15% 15% 15% 15% 8% 8% 8% 8%;
    }

    @screen lg {
        grid-template-columns: 15% 15% 15% 15% 8% 8% 8% 8%;
    }
}


.harvesting-grid
{
    grid-template-columns: 15% 15% 15%;

    @screen sm {
        grid-template-columns: 20% 15% 10% 15% 8% 8% 8% 8%;
    }
    @screen md {
        grid-template-columns: 20% 15% 10% 15% 8% 8% 8% 8%;
    }

    @screen lg {
        grid-template-columns: 20% 15% 10% 15% 8% 8% 8% 8%;
    }

}

::ng-deep .mat-tabs-wrapper-invoice .mat-tab-body-content
{
    overflow-y: hidden !important;
}
// ::ng-deep customer-details > .overflow-auto {
//     // overflow-y: hidden !important;
// }

mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-form-field-wrapper
  {
    padding: 0px !important;

  }

  ::ng-deep mat-form-field .mat-form-field-wrapper {
    width: 100%;
    background-color: #fff;
  }


 


// ::ng-deep .mat-form-field + .mat-form-field {
//     margin-left: 8px;
//   }

// .mat-expansion-panel
//   {
//     background: #F5F5F5 !important;
//   }
//   .mat-accordion .mat-expansion-panel
//   {
//     marging

//   }