.invoice-grid {
    grid-template-columns: 25% 35% 25%;

    @screen sm {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 5% 10%;
    }
    @screen md {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 5% 10%;
    }

    @screen lg {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 5% 10%;
    }
}
.farming-grid
{
    grid-template-columns: 15% 15% 15%;

    @screen sm {
        grid-template-columns: 15% 15% 15% 15% 8% 8% 8%;
    }
    @screen md {
        grid-template-columns: 15% 15% 15% 15% 8% 8% 8%;
    }

    @screen lg {
        grid-template-columns: 15% 15% 15% 15% 8% 8% 8%;
    }
}


.harvesting-grid
{
    grid-template-columns: 15% 15% 15%;

    @screen sm {
        grid-template-columns: 20% 15% 10% 15% 8% 8% 8% 8%;
    }
    @screen md {
        grid-template-columns: 20% 15% 10% 15% 8% 8% 8% 8%;
    }

    @screen lg {
        grid-template-columns: 20% 15% 10% 15% 8% 8% 8% 8%;
    }

}

::ng-deep .mat-tabs-wrapper-invoice .mat-tab-body-content
{
    overflow-y: hidden !important;
}
// ::ng-deep customer-details > .overflow-auto {
//     // overflow-y: hidden !important;
// }

mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-form-field-wrapper
  {
    padding: 0px !important;

  }

  ::ng-deep mat-form-field .mat-form-field-wrapper {
    width: 100%;
    background-color: #fff;
  }


 


// ::ng-deep .mat-form-field + .mat-form-field {
//     margin-left: 8px;
//   }

// .mat-expansion-panel
//   {
//     background: #F5F5F5 !important;
//   }
//   .mat-accordion .mat-expansion-panel
//   {
//     marging

//   }

.job-result-custom-farming-grid-new {
    grid-template-columns: 25% 35% 25%;

    @screen sm {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 5% 10%;
    }
    @screen md {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 5% 10%;
    }

    @screen lg {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 5% 10%;
    }
}


.total-grid-new{
    grid-template-columns: 25% 35% 25%;

    @screen sm {
        grid-template-columns: 20% 20% 20% 20%;
    }
    @screen md {
        grid-template-columns: 20% 20% 20% 20%;
    }

    @screen lg {
        grid-template-columns: 20% 20% 20% 20%;
    }
}
.invoice-farming-grid
{
    grid-template-columns: 25% 35% 25%;

    @screen sm {
        grid-template-columns: 15% 15% 15% 15% 15%;
    }
    @screen md {
        grid-template-columns: 15% 15% 15% 15% 15%;
    }

    @screen lg {
        grid-template-columns: 18% 18% 18% 18% 18%;
    }
}


.details-summary-style
{
    border: 1px solid #DFE4EA;
    border-radius: 4px;
}
.listing-detailed-styles
{
    border: 1px solid #DFE4EA;
    border-radius: 4px;    
}
::ng-deep .mat-form-field-wrapper
{
    border-radius: 5px;    

}

::ng-deep .mat-tab-group .mat-tab-header
{
border-bottom: 1px solid #e2e8f0 !important;

}
::ng-deep .mat-expansion-panel-content
{
    background-color: #fff !important;
}