<form class="interview-results-form mt-1 bg-gray-100 m-3 p-3 rounded">
    <ng-template matStepLabel>Interview Results</ng-template>
    <!-- First Section    -->
    <section class="sm:w-6/12 md:w-8/12 lg:w-full">
        <mat-checkbox class="firstphoneCall" id="firstphoneCall" name="firstphoneCall" >1st Phone Call </mat-checkbox>
    </section>
    <mat-form-field class="sm:w-6/12 md:w-8/12 lg:w-full" appearance="outline">
        <mat-label>1st Phone Interview Results</mat-label>
        <textarea matInput type="text" id="interviewResults"  placeholder="1st Phone Interview Results"> </textarea>
    </mat-form-field>
    <div class="md:flex lg:flex align-center justify-between">
        <div class="sm:w-6/12 md:w-8/12 lg:w-52">
            <label>1st Interview Ranking: </label>
        </div>
        <mat-radio-group class="grid md:flex lg:flex">
            <mat-radio-button value="1" class="mr-2">1</mat-radio-button>
            <mat-radio-button value="2" class="mr-2">2</mat-radio-button>
            <mat-radio-button value="3" class="mr-2">3</mat-radio-button>
            <mat-radio-button value="4" class="mr-2">4</mat-radio-button>
            <mat-radio-button value="5" class="mr-2">5</mat-radio-button>
            <mat-radio-button value="6" class="mr-2">6</mat-radio-button>
            <mat-radio-button value="7" class="mr-2">7</mat-radio-button>
            <mat-radio-button value="8" class="mr-2">8</mat-radio-button>
            <mat-radio-button value="9" class="mr-2">9</mat-radio-button>
            <mat-radio-button value="10" class="mr-2">10</mat-radio-button>
        </mat-radio-group>
    </div>
    <section class="sm:w-6/12 md:w-8/12 lg:w-full mt-2">
        <mat-checkbox class="refreePhoneCall" id="refreePhoneCall" name="refreePhoneCall">Refree Phone Call </mat-checkbox>
    </section>
    <mat-form-field class="sm:w-6/12 md:w-8/12 lg:w-full" appearance="outline">
        <mat-label>Refree Phone Interview Results</mat-label>
        <textarea matInput type="text" id="refreeInterviewResult"  placeholder="Refree Phone Interview Results"> </textarea>
    </mat-form-field>
    <div class="md:flex lg:flex align-center justify-between">
        <div class="sm:w-6/12 md:w-8/12 lg:w-52">
            <label>Refree Interview Ranking: </label>
        </div>
        <mat-radio-group class="grid md:flex lg:flex">
            <mat-radio-button value="1" class="mr-2">1</mat-radio-button>
            <mat-radio-button value="2" class="mr-2">2</mat-radio-button>
            <mat-radio-button value="3" class="mr-2">3</mat-radio-button>
            <mat-radio-button value="4" class="mr-2">4</mat-radio-button>
            <mat-radio-button value="5" class="mr-2">5</mat-radio-button>
            <mat-radio-button value="6" class="mr-2">6</mat-radio-button>
            <mat-radio-button value="7" class="mr-2">7</mat-radio-button>
            <mat-radio-button value="8" class="mr-2">8</mat-radio-button>
            <mat-radio-button value="9" class="mr-2">9</mat-radio-button>
            <mat-radio-button value="10" class="mr-2">10</mat-radio-button>
        </mat-radio-group>
    </div>
    <!-- Second section -->
    <section class="sm:w-6/12 md:w-8/12 lg:w-full mt-2">
        <mat-checkbox class="secondPhoneCall" id="secondPhoneCall" name="secondPhoneCall" >2nd Phone Call </mat-checkbox>
    </section>
    <mat-form-field class="sm:w-6/12 md:w-8/12 lg:w-full" appearance="outline">
        <mat-label>2nd Phone Interview Results</mat-label>
        <textarea matInput type="text" id="secondInterviewResult"  placeholder="1st Phone Interview Results"> </textarea>
    </mat-form-field>
    <div class="md:flex lg:flex align-center justify-between">
        <div class="sm:w-6/12 md:w-8/12 lg:w-52">
            <label>2nd Interview Ranking: </label>
        </div>
        <mat-radio-group class="grid md:flex lg:flex">
            <mat-radio-button value="1" class="mr-2">1</mat-radio-button>
            <mat-radio-button value="2" class="mr-2">2</mat-radio-button>
            <mat-radio-button value="3" class="mr-2">3</mat-radio-button>
            <mat-radio-button value="4" class="mr-2">4</mat-radio-button>
            <mat-radio-button value="5" class="mr-2">5</mat-radio-button>
            <mat-radio-button value="6" class="mr-2">6</mat-radio-button>
            <mat-radio-button value="7" class="mr-2">7</mat-radio-button>
            <mat-radio-button value="8" class="mr-2">8</mat-radio-button>
            <mat-radio-button value="9" class="mr-2">9</mat-radio-button>
            <mat-radio-button value="10" class="mr-2">10</mat-radio-button>
        </mat-radio-group>
    </div>
    <!-- Third Section -->
    <section class="sm:w-6/12 md:w-8/12 lg:w-full mt-2">
        <mat-checkbox class="thirdPhoneCall" id="thirdPhoneCall"  name="thirdPhoneCall">3rd Phone Call </mat-checkbox>
    </section>
    <mat-form-field class="sm:w-6/12 md:w-8/12 lg:w-full" appearance="outline">
        <mat-label>3rd Face/Phone Interview Results</mat-label>
        <textarea matInput type="text" id="thirdInterviewResult"  placeholder="3rd Face/Phone Interview Results"> </textarea>
    </mat-form-field>
    <div class="md:flex lg:flex align-center justify-between">
        <div class="sm:w-6/12 md:w-8/12 lg:w-52">
            <label>3rd Interview Ranking: </label>
        </div>
        <mat-radio-group class="grid md:flex lg:flex">
            <mat-radio-button value="1" class="mr-2">1</mat-radio-button>
            <mat-radio-button value="2" class="mr-2">2</mat-radio-button>
            <mat-radio-button value="3" class="mr-2">3</mat-radio-button>
            <mat-radio-button value="4" class="mr-2">4</mat-radio-button>
            <mat-radio-button value="5" class="mr-2">5</mat-radio-button>
            <mat-radio-button value="6" class="mr-2">6</mat-radio-button>
            <mat-radio-button value="7" class="mr-2">7</mat-radio-button>
            <mat-radio-button value="8" class="mr-2">8</mat-radio-button>
            <mat-radio-button value="9" class="mr-2">9</mat-radio-button>
            <mat-radio-button value="10" class="mr-2">10</mat-radio-button>
        </mat-radio-group>
    </div>
</form>
