.commercial-trucking-grid {
    grid-template-columns: 50% 50%;
    @screen sm {
        grid-template-columns: 45% 35% 15%;
    }
    @screen md {
        grid-template-columns: 40% 40% 20%;
    }
    @screen lg {
        grid-template-columns: 45% 30% 10%;
    }
}


::ng-deep .mat-tab-body-wrapper {
    height: 100% !important;
}

::ng-deep .tab_group {
    height: 100% !important;
}

::ng-deep .mat-sort-header-content {
    text-align: start !important;

}

.summary-pg-rows-height {
    max-height: 22rem !important;
}

.rows-wrapper {
    height: 16.9rem !important;
}

.rows-wrapper-summary
{
    height: 14.4rem !important;
}