.farm-data-farms {
    grid-template-columns: 35% 45% 45%;
    @screen sm {
        grid-template-columns: 15% 15% 15% 7% 7% 10% 10%;
    }
    @screen md {
        grid-template-columns: 15% 15% 15% 7% 7% 10% 10%;
    }
    @screen lg {
        grid-template-columns: 15% 15% 15% 7% 7% 10% 10%;
    }
}

.single-dwr-grid {
    grid-template-columns: 35% 45% 45%;
    @screen sm {
        grid-template-columns: 12% 7% 7% 7% 7% 7% 7% 7% 10% 7% 7%;
    }
    @screen md {
        grid-template-columns: 12% 7% 7% 7% 7% 7% 7% 7% 10% 7% 7%;
    }
    @screen lg {
        grid-template-columns: 12% 7% 7% 7% 7% 7% 7% 7% 10% 7% 7%;
    }
}


::ng-deep .mat-form-field-wrapper
{
    padding: 0px !important;
}
::ng-deep .mat-select-panel
{
    min-width: calc(100% + 17px) !important;
    margin-left: 7px !important;

}

.mat-filter {
    background-color: #f1f5f9 !important;
    color: #4f46e5 !important;
}

.mat-filter-applied {
    background-color: green;
    color: #fff;
}
.custom-class-for-col-header div
{
    text-align: left;
}