<div class="w-full bg-card dark:bg-transparent" *ngIf="(allDwrsList$ | async) as employee">
    <div class="sm:p-0 rounded-md" *ngIf="employee?.dwrTasks">
        <div class="border-b">
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8">
                <!-- Loader -->
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoadingEmployee$ | async">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <!-- Title -->
                <div class="text-2xl font-extrabold tracking-tight">All DWRs
                    <span class="text-sm font-normal"
                        *ngIf="dwrFiltersForm.value.status || dwrFiltersForm.value.beginning_date || dwrFiltersForm.value.ending_date || dwrFiltersForm.value.employee_id || dwrFiltersForm.value.category || dwrFiltersForm.value.supervisor_id || dwrFiltersForm.value.state">
                        Filters Applied</span>
                    <span class="text-sm font-normal"
                        *ngIf="dwrFiltersForm.value.beginning_date || dwrFiltersForm.value.ending_date"> For Date Range
                        {{dwrFiltersForm.value.beginning_date |date:"MMM-dd-YYYY"}}
                        {{dwrFiltersForm.value.ending_date|date:"MMM-dd-YYYY"}}</span>
                </div>

                <!-- Actions -->
                <div class="flex sm:flex-row flex-col flex-shrink-0 items-center mt-1 sm:mt-0 sm:ml-4 ">
                    <div class="flex">


                        <!--Filter-->
                        <button mat-flat-button class="mat-filter" (click)="filtersDrawer.toggle()">
                            <mat-icon
                                *ngIf="dwrFiltersForm.value.status || dwrFiltersForm.value.beginning_date || dwrFiltersForm.value.ending_date || dwrFiltersForm.value.employee_id || dwrFiltersForm.value.category || dwrFiltersForm.value.supervisor_id || dwrFiltersForm.value.state"
                                [svgIcon]="'heroicons_solid:filter'"></mat-icon>
                            <mat-icon
                                *ngIf="!dwrFiltersForm.value.status && !dwrFiltersForm.value.beginning_date && !dwrFiltersForm.value.ending_date && !dwrFiltersForm.value.employee_id && !dwrFiltersForm.value.category && !dwrFiltersForm.value.supervisor_id && !dwrFiltersForm.value.state"
                                [svgIcon]="'heroicons_outline:filter'"></mat-icon>
                        </button>
                        <!-- <button class="flex flex-row justify-center items-center" (click)="exportExcelSingleDwr()">
                            <mat-icon>download</mat-icon>
                            <span>Export</span>
                        </button> -->
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="exportToExcel()" mat-menu-item>
                                <mat-icon>download</mat-icon>
                                <span>Export Detailed DWR</span>
                            </button>
                            <button (click)="exportExcelSingleDwrByState()" mat-menu-item>
                                <mat-icon>download</mat-icon>
                                <span>Export DWR By State</span>
                            </button>
                            <button (click)="exportExcelSingleDwrBySupervisor()" mat-menu-item>
                                <mat-icon>download</mat-icon>
                                <span>Export DWR By Supervisor</span>
                            </button>
                        </mat-menu>

                    </div>
                </div>
            </div>
        </div>

        <!-- Single DWRs Work-->
        
        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto mb-20">

                <!-- Testing All wages -->
                <div class="overflow-auto" name="viewport" content="width=device-width, initial-scale=1">

                    <ng-container *ngIf="employee?.dwrTasks.length > 0; else noEmployees1">
                        <ng-container>
                            <!-- Header -->
                            <div class="single-dwr-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort [matSortActive]="sort.active" [matSortDirection]="sort.direction"
                                (matSortChange)="sortData($event)">
                                <!-- <div class="sm:block">ID</div> -->
                                <div mat-sort-header="first_name" class="sm:block">Name</div>
                                <div mat-sort-header="created_at" class="hidden sm:block">Date</div>
                                <div mat-sort-header="state" class="hidden sm:block">State</div>
                                <div mat-sort-header="category" class="hidden sm:block">Category</div>
                                <div class="hidden sm:block">Check In</div>
                                <div class="hidden sm:block">Check Out</div>
                                <div mat-sort-header="hours_worked" class="custom-class-for-col-header">Hours</div>
                                <div class="hidden sm:block custom-class-for-col-header">Hourly Rate</div>
                                <div mat-sort-header="wage" class="hidden sm:block custom-class-for-col-header">Wages
                                </div>
                                <div class="hidden sm:block">Status</div>
                                <div mat-sort-header="supervisor" class="hidden sm:block">Supervisor</div>
                                <div mat-sort-header="ticket_id" class="hidden sm:block">Ticket ID</div>
                                <div class="hidden">Notes</div>

                                <!-- <div class="">Actions</div> -->
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="employee?.final_wages.length > 0; else noPayroll">
                        <ng-container *ngFor="let dwr of employee?.dwrTasks; let z = index">
                            <div class="single-dwr-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                <div class="break-normal hidden sm:block">{{ dwr.first_name}} {{ dwr.last_name}}</div>
                                <div class="break-normal hidden sm:block">{{ dwr.created_at | date : 'MMM-dd-yyyy'}}
                                </div>
                                <div class="break-normal hidden sm:block">{{ dwr.state}}</div>
                                <div class="break-normal hidden sm:block capitalize">{{ dwr.category}}</div>
                                <div class="break-normal hidden sm:block">{{ dwr.begining_day | date: 'HH:mm'}}</div>
                                <div class="break-normal hidden sm:block">{{dwr.ending_day | date: 'HH:mm'}}</div>
                                <div class="break-normal hidden sm:block">{{ dwr.hours_worked}}</div>
                                <div class="break-normal hidden sm:block">${{dwr.state ==='Arizona' ? employee.hourly_rate[0].arizona_rate :
                                    employee.hourly_rate[0].max_hourly_rate}}
                                </div>
                                <div class="break-normal hidden sm:block">{{ dwr.wage}}</div>
                                <div class="break-normal hidden sm:block capitalize">{{ dwr.dwr_status}}</div>
                                <div class="break-normal hidden sm:block">{{ dwr.supervisor}}</div>
                                <div class="break-normal hidden sm:block">{{ getShortUUID(dwr.ticket_id)}}</div>
                                <div class="hidden">{{ dwr.employee_notes}}</div>


                            </div>
                        </ng-container>
                    </ng-container>
                </div>

                <div>
                    <div class="flex flex-row float-right sm:mr-8  py-2 items-end pr-20 gap-4 justify-end">
                        <mat-label class="w-3/12 border-2 font-bold p-6">Total Hours:
                            {{calculateTotalHoursSingleDwr().toFixed(2)}}</mat-label>
                        <mat-label class="w-3/12 border-2 font-bold p-6">Total Wages:
                            ${{calculateTotalSingleWages()}}</mat-label>
                    </div>

                </div>

                <ng-template #noEmployees1>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        There is no Employee Data!
                    </div>
                </ng-template>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto mb-20">

                <!-- Testing All wages -->
                <!-- <ng-container *ngIf="employee?.final_wages.length > 0; else noEmployees1">
                    <ng-container *ngFor="let payroll of employee?.final_wages; let z = index">
                        <div class="grid" *ngIf="z === 0">
                            <div class="farm-data-farms z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort [matSortActive]="sort.active" [matSortDirection]="sort.direction"
                                (matSortChange)="sortData($event)">
                                <div mat-sort-header="hw.employee_name" class="sm:block">Name</div>
                                <div>Supervisor</div>
                                <div class="hidden sm:block">State</div>
                                <div mat-sort-header="ss.total_hours" class="custom-class-for-col-header">Total Hours
                                </div>
                                <div class="hidden sm:block custom-class-for-col-header">Hourly Rate</div>
                                <div mat-sort-header="ss.total_wages"
                                    class="hidden sm:block custom-class-for-col-header">Total Wages</div>

                            </div>
                        </div>
                    </ng-container>
                </ng-container> -->
                <!-- <ng-container *ngIf="employee?.final_wages.length > 0; else noPayroll">
                    <ng-container *ngFor="let payroll of employee?.final_wages; let x = index">
                        <div *ngFor="let state of payroll?.result.state_details;">
                            <div class="farm-data-farms grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                <div class="break-normal">{{payroll.result.employee_name}}</div>
                                <div class="break-normal">{{ payroll.result.supervisors?.join(', ') || 'No supervisors
                                    found' }}</div>
                                <div class="break-normal hidden sm:block">{{state.state}}
                                </div>

                                <div class="break-normal">{{state.state_hours}}</div>
                                <div class="break-normal hidden sm:block">${{state.state==='Arizona' ? '15.62' :
                                    '18.65'}}</div>
                                <div class="break-normal hidden sm:block">${{ state.state_wage}}</div>

                            </div>
                        </div>
                        
                    </ng-container>
                </ng-container> -->
                <!-- <div>
                    <div class="flex flex-row float-right sm:mr-8  py-2 items-end pr-20 gap-4 justify-end">
                        <mat-label class="w-3/12 border-2 font-bold p-6">Total Hours:
                            {{calculateTotalHours().toFixed(2)}}</mat-label>
                        <mat-label class="w-3/12 border-2 font-bold p-6">Total Wages:
                            ${{calculateTotalWages()}}</mat-label>
                    </div>

                </div> -->

                <ng-template #noEmployees1>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        There is no Employee Data!
                    </div>
                </ng-template>
            </div>
        </div>



        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                <!-- Title -->
                <div class="flex flex-row justify-between">
                    <div class="pl-8 pb-6 text-2xl  font-extrabold tracking-tight">Top 10 Wages</div>
                    <button class="pr-10 flex flex-row justify-center items-center" (click)="exportTopTenDataExcel()">
                        <mat-icon>download</mat-icon>
                        <span>Export</span>
                    </button>
                </div>
                <!-- Testing All wages -->
                <ng-container>
                    <ng-container>
                        <div class="grid">
                            <!-- Header -->
                            <div
                                class="farm-data-farms border-t z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                                <!-- <div class="sm:block">ID</div> -->
                                <div class="sm:block">Employee Name</div>
                                <div class="sm:block">Total Hours Worked</div>
                                <div>Total Wages</div>
                                <div class="hidden sm:block"></div>
                                <div></div>
                                <div class="hidden sm:block"></div>
                                <div class="hidden sm:block"></div>
                                <div class=""></div>
                                <!-- <div class="">Actions</div> -->
                            </div>
                        </div>

                    </ng-container>
                </ng-container>
                <ng-container *ngIf="employee?.final_wages.length > 0; else noPayroll">
                    <ng-container *ngFor="let payroll of employee?.top_ten_wages; let i = index">
                        <div class="farm-data-farms grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                            <div class="truncate">{{payroll.employee_name}}</div>
                            <div class="truncate">{{payroll.hours_worked}}</div>
                            <div class="truncate hidden sm:block">${{wagesToFloat(payroll.wages)}}</div>
                            <div class="truncate"></div>
                            <div class="truncate hidden sm:block"></div>
                            <div class="truncate hidden sm:block"></div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="employee?.final_wages.length > 0; else noPayroll">
                    <ng-container>
                        <div class="farm-data-farms grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                            <div class="truncate font-extrabold">Total = </div>
                            <div class="truncate font-extrabold">{{calculateTopTenTotalHours().toFixed(2)}}</div>
                            <div class="truncate font-extrabold">${{calculateTopTenWagesTotal()}}</div>
                            <div class="truncate"></div>
                            <div class="truncate hidden sm:block"></div>
                            <div class="truncate hidden sm:block"></div>
                        </div>
                    </ng-container>
                </ng-container>


                <ng-template #noEmployees>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        There is no Employee Data!
                    </div>
                </ng-template>
            </div>
        </div>



    </div>
</div>
<!-- Filters -->
<fuse-drawer class="w-100 min-w-100 sm:w-100 sm:min-w-100 z-999 bg-green-300" fixed [mode]="'over'"
    [name]="'filtersDrawer'" [position]="'right'" #filtersDrawer>
    <div class="flex flex-col w-100 overflow-auto bg-card">
        <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
            <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_outline:filter'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">
                Filters
            </div>
            <button class="ml-auto" mat-icon-button mat-icon-button (click)="filtersDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="flex flex-col justify-center items-center h-screen">
            <div class="h-5/6 w-96">
                <div class="w-inherit flex flex-col">
                    <form [formGroup]="dwrFiltersForm" (ngSubmit)="applyFilters()"
                        class="flex flex-col flex-auto p-6 sm:p-8">
                        <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">

                            <!-- <ng-select [items]="allEmployeesList" [bindValue]="'id'" [bindLabel]="'fullName'"
                                [clearable]="true" [typeahead]="employeeSearchControl.valueChanges.pipe(
                                debounceTime(200),
                                distinctUntilChanged(),
                                switchMap(value => this._employeeService.getAllEmployeesDropDown(value, 'allEmployees', ''))
                     )" placeholder="Employee Name">
                                <ng-template ng-label-tmp let-item="item">
                                    {{ item.first_name }} {{ item.last_name }}
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item">
                                    {{ item.first_name }} {{ item.last_name }}
                                </ng-template>
                            </ng-select> -->


                            <mat-form-field appearance="outline">
                                <mat-label>Employee Name</mat-label>
                                <input (ngModelChange)="formValidation($event)" (input)="getallEmployees()"
                                    (keyup)="employee_search$.next($event.target.value)" (click)="getallEmployees()"
                                    [matAutocomplete]="employeesMenu" matInput formControlName="employee_id"
                                    name="employee_id" placeholder="Employee Name" />
                            </mat-form-field>



                            <mat-autocomplete #employeesMenu="matAutocomplete"
                                [displayWith]="displayEmployeeForAutoComplete">
                                <div *ngIf="allEmployeesList | withLoading | async as allEmployeesList">
                                    <ng-template [ngIf]="allEmployeesList.value">
                                        <mat-option *ngFor="let employeeName of allEmployeesList.value.employees"
                                            [value]="employeeName">
                                            {{ employeeName.first_name }} {{ employeeName.last_name }}
                                        </mat-option>
                                    </ng-template>
                                    <ng-template [ngIf]="allEmployeesList?.loading">
                                        <mat-option>
                                            <div style="display: flex;
                                            justify-content: center;
                                            text-align: center;">
                                                <mat-spinner class="text-primary" diameter="25"></mat-spinner>
                                            </div>
                                        </mat-option>
                                    </ng-template>

                                    <ng-template [ngIf]="allEmployeesList?.employees?.length == 0">
                                        <mat-option disabled> No Employee found </mat-option>
                                    </ng-template>
                                </div>
                            </mat-autocomplete>


                        </div>
                        <mat-form-field appearance="outline" class="cat w-full">
                            <mat-label>Select State</mat-label>
                            <mat-select formControlName="state">
                                <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field dateRangeFilter class="w-full" appearance="outline">
                            <mat-label>Date Range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate formControlName="beginning_date" placeholder="Start date">
                                <input matEndDate formControlName="ending_date" placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-label>Supervisor</mat-label>
                            <input (ngModelChange)="formValidation($event)" (input)="getallSupervisor()"
                                (click)="getallSupervisor()" [matAutocomplete]="supervisorList"
                                (keyup)="supervisor_search$.next($event.target.value)" matInput
                                formControlName="supervisor_id" name="first_name" placeholder="Supervisor Name" />
                        </mat-form-field>

                        <mat-autocomplete #supervisorList="matAutocomplete"
                            [displayWith]="displaySupervisorForAutoComplete">
                            <div *ngIf="allSupervisorsList | withLoading | async as allSupervisorsList">
                                <ng-template [ngIf]="allSupervisorsList.value">
                                    <mat-option *ngFor="let supervisor of allSupervisorsList.value.employees"
                                        [value]="supervisor">
                                        {{ supervisor.first_name }} {{ supervisor.last_name }}
                                    </mat-option>
                                </ng-template>
                                <ng-template [ngIf]="allSupervisorsList?.loading">
                                    <mat-option>
                                        <div style="display: flex;
                                            justify-content: center;
                                            text-align: center;">
                                            <mat-spinner class="text-primary" diameter="25"></mat-spinner>
                                        </div>
                                    </mat-option>
                                </ng-template>

                                <ng-template [ngIf]="allSupervisorsList?.employees?.length == 0">
                                    <mat-option disabled> No Employee found </mat-option>
                                </ng-template>
                            </div>
                        </mat-autocomplete>


                        <mat-form-field appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option [value]="'All'">All</mat-option>
                                <mat-option [value]="'verified'">Verified</mat-option>
                                <mat-option [value]="'unverified'">Unverified</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </form>
                </div>
            </div>
            <div class="flex flex-row justify-evenly items-center w-80">
                <div class="w-inherit flex justify-center items-center mt-1 mb-1">
                    <button
                        [disabled]="!dwrFiltersForm.value.status &&  !dwrFiltersForm.value.beginning_date && !dwrFiltersForm.value.ending_date && !dwrFiltersForm.value.employee_id && !dwrFiltersForm.value.supervisor_id && !dwrFiltersForm.value.state || dwrFiltersForm.invalid"
                        (click)="applyFilters(); filtersDrawer.close()" class="" mat-flat-button [color]="'primary'">
                        <span class="">Apply filters</span>
                    </button>
                </div>
                <div class="w-inherit flex justify-center items-center mt-1 mb-1">
                    <button
                        [disabled]="!dwrFiltersForm.value.status &&  !dwrFiltersForm.value.beginning_date && !dwrFiltersForm.value.ending_date && !dwrFiltersForm.value.employee_id && !dwrFiltersForm.value.supervisor_id && !dwrFiltersForm.value.state || dwrFiltersForm.invalid"
                        (click)="removeFilters(); filtersDrawer.close()" mat-flat-button [color]="'warn'">
                        <span>Remove filters</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</fuse-drawer>