<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div class="border-b">
        <div *ngIf="motorizedVehicle$ | async; let motorizedVehicle"
            class="overflow-auto relative px-4 md:px-4 flex flex-col sm:flex-row flex-0 sm:items-center justify-between">
            <!-- Title -->
            <div class="flex flex-row">
                <button mat-icon-button (click)="toggleDrawer()" class="z-0">
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                </button>
                <div (click)="backHandler()"
                    class="flex gap-3 items-center text-2xl font-extrabold tracking-tight cursor-pointer">
                    <mat-icon w-24 h-24 class="text-secondary"
                        [svgIcon]="'heroicons_solid:arrow-circle-left'"></mat-icon>
                    <span class="ml-1">{{ motorizedVehicle?.name }} </span>
                </div>
            </div>
            <div class="flex float-right justify-end p-4">
                <button class="ml-4 float-right justify-end" mat-flat-button [color]="'primary'"
                    (click)="openUpdateDialog(motorizedVehicle)">
                    <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                    <span class="ml-2 mr-1">Edit</span>
                </button>
            </div>

        </div>
    </div>

    <div style="height: 100%" class="bg-card dark:bg-transparent">
        <mat-drawer-container class="sub-nav-component bg-card divide-x" style="height: 100%" autosize>
            <mat-drawer #drawer class="sub-sidenav bg-card" [mode]="drawerMode" [opened]="drawerOpened">
                <div class="flex" *ngFor="let route of routes; let i = index">
                    <button style="padding: 15px"
                        [style.background-color]="route.title === selectedIndex? '#d4d7dd': 'transparent'"
                        matTooltip="{{ route.title }}" matTooltipPosition="right"
                        [ngClass]="route.title === selectedIndex? 'opacity-100': 'opacity-80'" mat-button
                        class="my-1 justify-start w-full" (click)="routeHandler(route)">
                        <mat-icon svgIcon="{{ route.icon }}" class="icon-size-5 text-primary"></mat-icon>
                        <span style="font-size: 13px;font-weight: bold;margin-left: 10px;"></span>
                    </button>
                </div>
            </mat-drawer>

            <div class="flex sub-sidenav-content bg-light">
                <div class="w-full h-full">
                    <div class="tab bg-white overflow-auto h-full mb-28">
                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Profile'">
                                <app-motorized-profile></app-motorized-profile>
                            </ng-template>
                        </div>

                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Location'">
                                <app-motorized-location></app-motorized-location>
                            </ng-template>
                        </div>
                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Fuels/Miles'">
                                <app-fuels-miles></app-fuels-miles>
                            </ng-template>
                        </div>
                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Maintenance & Repair'">
                                <app-motorized-main-repair></app-motorized-main-repair>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-container>

        <!-- Main -->
    </div>
</div>