.tab .mat-tab-group .mat-tab-body-content {
    padding: 0px !important;
}

.tab .mat-tab-group .mat-tab-labels {
    padding: 12px !important;
}
::ng-deep .sub-sidenav
{
    display: none !important;
}

.employee-detail-grid {
    grid-template-columns: 10% 50% 30%;

    @screen sm {
        grid-template-columns: 3% 20% 20% 40% 10%;
    }
    @screen md {
        grid-template-columns: 3% 20% 20% 40% 10%;
    }
    @screen lg {
        grid-template-columns: 3% 20% 20% 40% 10%;
    }
}