<div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-t border-gray-200">
    <div>
        <header class="ml-2 text-3xl font-extrabold tracking-tight">
            Farms
        </header>
    </div>
    <div class="mt-2 flex">
        <!-- Search -->
        <mat-form-field
            class="mr-4 fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-44 lg:min-w-44 lg:min-w-64">
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <form [formGroup]="searchform">
                <input matInput formControlName="search" [autocomplete]="'off'" [placeholder]="'Search'" />
            </form>
        </mat-form-field>
        <!-- Add product button -->
        <button mat-flat-button [color]="'primary'" (click)="openAddFarmDialog()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="lg:ml-2">Add</span>
        </button>
        <!-- Import/Export -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>
            <mat-icon>filter</mat-icon>
            <span>Filters</span>
        </button> -->
            <button mat-menu-item>
                <mat-icon>upload</mat-icon>
                <span>Import</span>
            </button>
            <button mat-menu-item>
                <mat-icon>download</mat-icon>
                <span>Export</span>
            </button>
            <button mat-menu-item>
                <mat-icon>download</mat-icon>
                <span>Download Template</span>
            </button>
        </mat-menu>
    </div>
</div>
<div class="sm:p-0">
    <!-- Main -->
    <div *ngIf="customerFarmList" class="flex flex-auto">
        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18">
            <ng-container>
                <div class="grid">
                    <!-- Header -->
                    <div class="real-farm-data-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                        matSort matSortDisableClear (matSortChange)="sortData($event)">
                        <div mat-sort-header="name">Farm Name</div>
                        <div class="hidden sm:block" mat-sort-header="status">
                            Status
                        </div>
                        <div>Actions</div>
                    </div>
                    <!-- Rows -->
                    <ng-container *ngIf="
                        customerFarmList?.customer_farms?.length >
                            0;
                        else noFarms
                    ">
                        <ng-container *ngFor="
                            let customerFarm of this
                                .customerFarmList?.customer_farms
                        ">
                            <div class="real-farm-data-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                <div class="truncate">
                                    {{ customerFarm.name }}
                                </div>

                                <div class="hidden sm:block">
                                    <mat-icon class="{{
                                        customerFarm.status ===
                                        true
                                            ? 'greenActiveIcon'
                                            : 'redInActiveIcon'
                                    }}" [svgIcon]="
                                        customerFarm.status ===
                                        true
                                            ? 'heroicons_solid:check-circle'
                                            : 'heroicons_solid:x-circle'
                                    ">check-circle</mat-icon>
                                </div>

                                <!-- Action -->

                                <div>
                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6 items-center" mat-stroked-button
                                        (click)="openEditFarmDialog(customerFarm)" matTooltip="Edit"
                                        matTooltipPosition="above">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-square'">
                                        </mat-icon>
                                    </button>
                                    <button class="ml-2 min-w-10 min-h-7 h-7 px-2 leading-6 items-center"
                                        mat-stroked-button (click)="confirmDeleteDialog(customerFarm.id)"
                                        matTooltip="Delete" matTooltipPosition="above">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <mat-paginator *ngIf="
                    customerFarmList?.customer_farms?.length > 0"
                    class="absolute inset-x-0 bottom-0 border-b border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{ 'pointer-events-none': isLoading }" [length]="customerFarmList?.count"
                    [pageIndex]="page - 1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChanged($event)" [showFirstLastButtons]="true"></mat-paginator>
            </ng-container>
            <ng-template class="flex" #noFarms>
                <div class="show-centered-notice h-full justify-center items-center flex">
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        No Farm(s) Found!
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>