.machinery-grid {
    grid-template-columns: 3% 25% 14% 14% 14% 14% 14%;

    @screen sm {
        grid-template-columns: 3% 25% 14% 14% 14% 14% 14%;
    }
    @screen md {
        grid-template-columns: 3% 25% 14% 14% 14% 14% 14%;
    }
    @screen lg {
        grid-template-columns: 3% 25% 14% 14% 14% 14% 14%;
    }
}