<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">New Message</div>
        <button
            mat-icon-button
            (click)="discard()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="composeForm">
        <mat-form-field appearance="outline">
            <mat-label>Preliminary Review</mat-label>
            <mat-select formControlName="preliminary_review">
                <mat-option value="advance">Advance</mat-option>
                <mat-option value="wait-listed">Wait-listed</mat-option>
                <mat-option value="not-qualified">Not Qualified</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- To -->
        <mat-form-field appearance="outline">
            <mat-label>To</mat-label>
            <input
                matInput
                [formControlName]="'to'">
        </mat-form-field>

        <!-- Subject -->
        <mat-form-field appearance="outline">
            <mat-label>Subject</mat-label>
            <input
                matInput
                [formControlName]="'subject'">
        </mat-form-field>

        <!-- Body -->
        <quill-editor
            class="mt-2"
            [formControlName]="'body'"
            [modules]="quillModules"></quill-editor>

        <!-- Actions -->
        <div class="flex items-center justify-end mt-4">

            <div class="flex items-center">
                <!-- Discard -->
                <button
                    class="mr-2"
                    mat-stroked-button
                    (click)="discard()">
                    Discard
                </button>

                <!-- Send -->
                <button
                    class=""
                    mat-flat-button
                    [color]="'primary'"
                    (click)="send()">
                    Send
                </button>
            </div>
        </div>
    </form>
</div>
