<div class="flex flex-col w-max 2xl:max-h-screen md:min-w-160 -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Add Applicant</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>


    <div class="modal-body relative p-4">
        <mat-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup" [editable]="true">
                <form [formGroup]="firstFormGroup" class="example-form">
                    <ng-template matStepLabel>Applicant Information</ng-template>
                    <div class="example-full-width">
                        <mat-checkbox id="fisrEmail" name="firstEmail" required> First Email </mat-checkbox>
                    </div>
                    <mat-form-field class="example-full-width" style="margin-top: 10px;">
                        <mat-label> First Sent Date</mat-label>
                        <input matInput type="date" id="date" name="date" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="DD/MM/YYYY" value="Date">
                    </mat-form-field>
                    <div class="example-full-width">
                        <mat-checkbox id="secondEmail" name="secondEmail" required> Second Email </mat-checkbox>
                    </div>
                    <mat-form-field class="example-full-width" style="margin-top: 10px;">
                        <mat-label> Second Sent Date</mat-label>
                        <input matInput type="date" id="date" name="date" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" ngModel placeholder="DD/MM/YYYY" value="Date">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label> Application Date</mat-label>
                        <input matInput type="date" id="date" name="date" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="DD/MM/YYYY" value="Date">
                    </mat-form-field>
                    <!-- <div>
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperNext>Next</button>
                    </div> -->
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" [editable]="true">
                <form [formGroup]="secondFormGroup" class="example-form">
                    <ng-template matStepLabel>Contact Information</ng-template>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input matInput type="text" id="fullName" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Full Name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Last Name First Name</mat-label>
                        <input matInput type="text" id="lastNameFirstName" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Last Name First Name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" id="firstName" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="First Name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" id="lastName" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Last Name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Cell Phone</mat-label>
                        <input matInput type="number" id="cellPhone" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Cell Phone">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Home Phone</mat-label>
                        <input matInput type="number" id="homePhone" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Home Phone">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" id="email" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Email">
                    </mat-form-field>
                    <!-- <div>
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperPrevious>Back</button>
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperNext>Next</button>
                    </div> -->
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup" [editable]="true">
                <form [formGroup]="thirdFormGroup" class="interview-results-form">
                    <ng-template matStepLabel>Interview Results</ng-template>
                    <!-- First Section    -->
                    <section class="example-full-width">
                        <mat-checkbox class="phoneCall" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" id="phoneCall" name="phoneCall" required>1st Phone Call </mat-checkbox>
                    </section>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>1st Phone Interview Results</mat-label>
                        <textarea matInput type="text" id="interviewResults" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="1st Phone Interview Results"> </textarea>
                    </mat-form-field>
                    <div class="flex align-center">
                        <div class="w-52">
                            <label>1st Interview Ranking: </label>
                        </div>
                        <mat-radio-group [formControl]="floatLabelControl" [(ngModel)]="showMoreControls">
                            <mat-radio-button value="1">1</mat-radio-button>
                            <mat-radio-button value="2">2</mat-radio-button>
                            <mat-radio-button value="3">3</mat-radio-button>
                            <mat-radio-button value="4">4</mat-radio-button>
                            <mat-radio-button value="5">5</mat-radio-button>
                            <mat-radio-button value="6">6</mat-radio-button>
                            <mat-radio-button value="7">7</mat-radio-button>
                            <mat-radio-button value="8">8</mat-radio-button>
                            <mat-radio-button value="9">9</mat-radio-button>
                            <mat-radio-button value="10">10</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <section class="example-full-width" style="margin-top: 10px;">
                        <mat-checkbox class="phoneCall" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" id="phoneCall" name="phoneCall" required>Refree Phone Call </mat-checkbox>
                    </section>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Refree Phone Interview Results</mat-label>
                        <textarea matInput type="text" id="interviewResults" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Refree Phone Interview Results"> </textarea>
                    </mat-form-field>
                    <div class="flex align-center">
                        <div class="w-52">
                            <label>Refree Interview Ranking: </label>
                        </div>
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="1">1</mat-radio-button>
                            <mat-radio-button value="2">2</mat-radio-button>
                            <mat-radio-button value="3">3</mat-radio-button>
                            <mat-radio-button value="4">4</mat-radio-button>
                            <mat-radio-button value="5">5</mat-radio-button>
                            <mat-radio-button value="6">6</mat-radio-button>
                            <mat-radio-button value="7">7</mat-radio-button>
                            <mat-radio-button value="8">8</mat-radio-button>
                            <mat-radio-button value="9">9</mat-radio-button>
                            <mat-radio-button value="10">10</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <!-- Second section -->
                    <section class="example-full-width" style="margin-top: 10px;">
                        <mat-checkbox class="phoneCall" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" id="phoneCall" name="phoneCall" required>2nd Phone Call </mat-checkbox>
                    </section>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>2nd Phone Interview Results</mat-label>
                        <textarea matInput type="text" id="interviewResults" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="1st Phone Interview Results"> </textarea>
                    </mat-form-field>
                    <div class="flex align-center">
                        <div class="w-52">
                            <label>2nd Interview Ranking: </label>
                        </div>
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="1">1</mat-radio-button>
                            <mat-radio-button value="2">2</mat-radio-button>
                            <mat-radio-button value="3">3</mat-radio-button>
                            <mat-radio-button value="4">4</mat-radio-button>
                            <mat-radio-button value="5">5</mat-radio-button>
                            <mat-radio-button value="6">6</mat-radio-button>
                            <mat-radio-button value="7">7</mat-radio-button>
                            <mat-radio-button value="8">8</mat-radio-button>
                            <mat-radio-button value="9">9</mat-radio-button>
                            <mat-radio-button value="10">10</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <!-- Third Section -->
                    <section class="example-full-width" style="margin-top: 10px;">
                        <mat-checkbox class="phoneCall" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" id="phoneCall" name="phoneCall" required>3rd Phone Call </mat-checkbox>
                    </section>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>3rd Face/Phone Interview Results</mat-label>
                        <textarea matInput type="text" id="interviewResults" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="3rd Face/Phone Interview Results"> </textarea>
                    </mat-form-field>
                    <div class="flex align-center">
                        <div class="w-52">
                            <label>3rd Interview Ranking: </label>
                        </div>
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="1">1</mat-radio-button>
                            <mat-radio-button value="2">2</mat-radio-button>
                            <mat-radio-button value="3">3</mat-radio-button>
                            <mat-radio-button value="4">4</mat-radio-button>
                            <mat-radio-button value="5">5</mat-radio-button>
                            <mat-radio-button value="6">6</mat-radio-button>
                            <mat-radio-button value="7">7</mat-radio-button>
                            <mat-radio-button value="8">8</mat-radio-button>
                            <mat-radio-button value="9">9</mat-radio-button>
                            <mat-radio-button value="10">10</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <!-- <div style="margin-top: 10px;">
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperPrevious>Back</button>
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperNext>Next</button>
                    </div> -->
                </form>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup" [editable]="true">
                <form [formGroup]="fourthFormGroup" class="example-form">
                    <ng-template matStepLabel>Personal Information</ng-template>
                    <mat-form-field class="example-full-width" style="margin-top: 10px;">
                        <mat-label> Date Of Birth</mat-label>
                        <input matInput type="date" id="date" name="date" ngModel placeholder="DD/MM/YYYY" value="Date">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Marital Status</mat-label>
                        <select matNativeControl required>
                          <option value="single"> Single</option>
                          <option value="married">Married</option>
                          <option value="divorced"> Divorced</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Address 1</mat-label>
                        <textarea matInput type="text" id="Address 1" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Address 1"> </textarea>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Address 2</mat-label>
                        <textarea matInput type="text" id="Address 2" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Address 2"> </textarea>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width" style="margin-top: 10px;">
                        <mat-label> Town/City</mat-label>
                        <input matInput type="text" id="town" name="town" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Town/City" value="Town">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width" style="margin-top: 10px;">
                        <mat-label> County/Province/State</mat-label>
                        <input matInput type="text" id="county" name="county" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Count/Province/State">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width" style="margin-top: 10px;">
                        <mat-label> Postal Code</mat-label>
                        <input matInput type="number" id="postal-code" name="postal-code" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Postal Code">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width" style="margin-top: 10px;">
                        <mat-label> Country</mat-label>
                        <input matInput type="text" id="country" name="country" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Country">
                    </mat-form-field>
                    <div>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Are you a US Citizen?</mat-label>
                            <select matNativeControl required>
                              <option value="Yes"> Yes</option>
                              <option value="No">No</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Do you have a Tractor/Lorry/CDL License?</mat-label>
                            <select matNativeControl required>
                              <option value="Yes"> Yes</option>
                              <option value="No">No</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Passport?</mat-label>
                            <select matNativeControl required>
                              <option value="Yes"> Yes</option>
                              <option value="No">No</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <!-- <div>
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperPrevious>Back</button>
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperNext>Next</button>
                    </div> -->
                </form>
            </mat-step>
            <mat-step [stepControl]="fifthFormGroup" [editable]="true">
                <form [formGroup]="fifthFormGroup" class="interview-results-form">
                    <ng-template matStepLabel>Work Experience</ng-template>
                    <h3 class="text-xl font-bold">On the next 5 questions, Rate yourself on a scale of 1 to 5. With 5 being the highest.</h3>

                    <div class="flex align-center my-1.5">
                        <div class="w-96">
                            <label>Operating Farm Equipment (ie. Tractors): </label>
                        </div>
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="1">1</mat-radio-button>
                            <mat-radio-button value="2">2</mat-radio-button>
                            <mat-radio-button value="3">3</mat-radio-button>
                            <mat-radio-button value="4">4</mat-radio-button>
                            <mat-radio-button value="5">5</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="flex align-center my-1.5">
                        <div class="w-96">
                            <label>Operating Harvesting Equipment (ie. Combines): </label>
                        </div>
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="1">1</mat-radio-button>
                            <mat-radio-button value="2">2</mat-radio-button>
                            <mat-radio-button value="3">3</mat-radio-button>
                            <mat-radio-button value="4">4</mat-radio-button>
                            <mat-radio-button value="5">5</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="flex align-center my-1.5">
                        <div class="w-96">
                            <label class="font-md">Driving Trucks (ie. Artic and/or Semi's): </label>
                        </div>
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="1">1</mat-radio-button>
                            <mat-radio-button value="2">2</mat-radio-button>
                            <mat-radio-button value="3">3</mat-radio-button>
                            <mat-radio-button value="4">4</mat-radio-button>
                            <mat-radio-button value="5">5</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="flex align-center my-1.5">
                        <div class="w-96">
                            <label>Welding Experience: </label>
                        </div>
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="1">1</mat-radio-button>
                            <mat-radio-button value="2">2</mat-radio-button>
                            <mat-radio-button value="3">3</mat-radio-button>
                            <mat-radio-button value="4">4</mat-radio-button>
                            <mat-radio-button value="5">5</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="flex align-center my-1.5">
                        <div class="w-96">
                            <label>Mechanical Experience: </label>
                        </div>
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="1">1</mat-radio-button>
                            <mat-radio-button value="2">2</mat-radio-button>
                            <mat-radio-button value="3">3</mat-radio-button>
                            <mat-radio-button value="4">4</mat-radio-button>
                            <mat-radio-button value="5">5</mat-radio-button>
                        </mat-radio-group>
                    </div>


                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Brief Description of work experience</mat-label>
                        <textarea matInput type="text" id="Address 2" [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" placeholder="Brief Description of work experience"> </textarea>
                    </mat-form-field>
                    <div>
                        <h4 class="text-xl font-bold"> Most Recent Job</h4>
                    </div>
                    <mat-form-field appearance="outline" class="example-full-width" style="margin-top: 10px;">
                        <mat-label>Job</mat-label>
                        <input matInput type="text" id="job" name="job" ngModel placeholder="Job">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width" style="margin-top: 10px;">
                        <mat-label>Supervisor</mat-label>
                        <input matInput type="text" id="Supervisor" name="Supervisor" ngModel placeholder="Supervisor">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width" style="margin-top: 10px;">
                        <mat-label>Supervisor Contact #</mat-label>
                        <input matInput type="number" id="supervisorContact" name="postal-code" ngModel placeholder="Supervisor Contact #">
                    </mat-form-field>
                    <!-- <div>
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperPrevious>Back</button>
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperNext>Next</button>
                    </div> -->
                </form>
            </mat-step>
            <mat-step [stepControl]="sixthFormGroup" [editable]="true">
                <form [formGroup]="sixthFormGroup">
                    <ng-template matStepLabel>Educational Background</ng-template>
                    <div class="flex align-center my-1.5">
                        <div class="w-96">
                            <label>On this question, Select the highest level of Education Completed. </label>
                        </div>
                        <mat-radio-group class="example-radio-group" [formControl]="floatLabelControl">
                            <mat-radio-button class="example-radio-button" value="1">High School</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="2">Vocational School</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="3">Technical School</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="4">Jr. College</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="5">College</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="5">Graduate School</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="flex align-center my-1.5">
                        <div class="w-96">
                            <label>REASONS FOR APPLYING </label></div>
                        <mat-radio-group class="example-radio-group" [formControl]="floatLabelControl" [(ngModel)]="showMoreControls">
                            <mat-radio-button class="example-radio-button" value="1">See the United States</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="2">Travel</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="3">Learn more about harvesting in the U.S.</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="4">Financial</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="5">Other</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="flex align-center my-1.5">
                        <div class="w-96">
                            <label>HOW DID YOU HEAR ABOUT DEMARAY HARVESTING AND TRUCKING? </label>
                        </div>
                        <mat-radio-group class="example-radio-group" [formControl]="floatLabelControl" [(ngModel)]="showMoreControls">
                            <mat-radio-button class="example-radio-button" value="1">Done Deal</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="2">Farmers Journal</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="3">Top Link</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="4">Facebook</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="5">From a friend</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="5">Internet Search</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="5">Farmers weekly(Ireland,New Zealand,England)</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="5">Trademe.co.nz</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="5">Other</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <!-- <div>
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperPrevious>Back</button>
                        <button class="ml-4" mat-flat-button [color]="'primary'" matStepperNext>Next</button>
                    </div> -->
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <!-- <div>
                    <button class="ml-4" mat-flat-button [color]="'primary'" matStepperPrevious>Back</button>
                    <button class="ml-4" mat-flat-button [color]="'primary'" (click)="stepper.reset()">Reset</button>
                </div> -->
            </mat-step>
        </mat-stepper>
    </div>
    <div class="absolute bottom-0 modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 rounded-b-md">
        <button *ngIf="stepperPage > 0" class="ml-4" mat-flat-button [color]="'primary'" data-bs-dismiss="modal" (click)="stepper.previous(); onStepperBack()">
            Back 
          </button>
        <button class="ml-4" mat-flat-button [color]="'primary'" data-bs-dismiss="modal" (click)="stepper.next(); onStepperNext()">
          Next
        </button>
    </div>

</div>