<!-- <div class="bg-gray-100 mb-3 rounded-lg shadow " *ngIf="isLoadingApplicant$ | async">
    <p class="font-sans font-semibold pl-2 pt-2 text-xl">
        Resume/Profile Picture
    </p>
    <div class="flex flex-row justify-center pt-4 pb-4">
        <div class="flex justify-center items-center">
            <mat-icon class="icon-size-8" [svgIcon]="'heroicons_solid:document-add'"></mat-icon>
            <p>Download/Preview profile Picture</p>
        </div>
        <div class="flex justify-center items-center ml-4">
            <mat-icon class="icon-size-8" [svgIcon]="'heroicons_solid:document-add'"></mat-icon>
            <p>Download Resume</p>
        </div>
    </div>
</div> -->

<div class="flex justify-end mb-2">

    <button *ngIf="allExpandState == false" class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="allExpandState = true"
        matTooltip="Expand All">
        <mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:chevron-double-down'"></mat-icon>
    </button>

    <button *ngIf="allExpandState == true" class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="allExpandState = false"
        matTooltip="Collapse All">
        <mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:chevron-double-up'"></mat-icon>
    </button>
</div>
<div class="parent-of-accordions" *ngIf="applicant$ | async as applicantInfo">
    <!-- General Info -->
    <mat-accordion class="bg-gray-100">
        <mat-expansion-panel [expanded]="allExpandState" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false" class="bg-gray-100">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-sans font-semibold text-lg tracking-tight flex items-center">
                    Personal Information
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <dl class="sm:divide-y sm:divide-gray-200">
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            First Name
                        </dt>
                        <dd class="font-normal text-sm mt-1 text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.first_name }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Last Name
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.last_name }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Email
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.email }}
                        </dd>
                    </div>

                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Cell Phone number
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.cell_phone_number }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Home Phone Number
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.home_phone_number }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Date of Birth
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.date_of_birth | date: "MMM-dd-YYYY"}}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Age
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.age }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Marital Status
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.marital_status }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Languages Spoken
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{applicantInfo?.applicant_info?.languages}}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Rank Speaking English
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{applicantInfo?.applicant_info?.rank_speaking_english}} out of 5
                        </dd>
                    </div>
                </dl>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- Personal Info -->
    <mat-accordion class="bg-gray-100">
        <mat-expansion-panel [expanded]="allExpandState" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false" class="bg-gray-100 my-3">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-sans font-semibold text-lg tracking-tight flex items-center">
                    Contact Information
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <dl class="sm:divide-y lg:divide-y sm:divide-gray-200">
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Address 1
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.address_1 }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Address 2
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.address_2 }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Town/City
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.town_city }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            County/Providence
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.county_providence }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            State
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.state }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Postal Code
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.postal_code }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Country
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.country }}
                        </dd>
                    </div>
                </dl>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- Work Info -->
    <mat-accordion class="bg-gray-100">
        <mat-expansion-panel [expanded]="allExpandState" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false" class="bg-gray-100 my-3">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-sans font-semibold text-lg tracking-tight flex items-center">
                    Work History
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <dl class="sm:divide-y sm:divide-gray-200">
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Authorized to Work in US
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            <mat-icon class="{{
                            applicantInfo?.applicant_info?.authorized_to_work === true
                                ? 'greenActiveIcon'
                                : 'redInActiveIcon'
                        }}" [svgIcon]="
                        applicantInfo?.applicant_info?.authorized_to_work === true
                                ? 'heroicons_solid:check-circle'
                                : 'heroicons_solid:x-circle'
                        ">check-circle</mat-icon>
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            US Citizen
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            <mat-icon class="{{
                            applicantInfo?.applicant_info?.us_citizen === true
                                ? 'greenActiveIcon'
                                : 'redInActiveIcon'
                        }}" [svgIcon]="
                        applicantInfo?.applicant_info?.us_citizen === true
                                ? 'heroicons_solid:check-circle'
                                : 'heroicons_solid:x-circle'
                        ">check-circle</mat-icon>
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Tractor License
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            <mat-icon class="{{
                            applicantInfo?.applicant_info?.tractor_license === true
                                ? 'greenActiveIcon'
                                : 'redInActiveIcon'
                        }}" [svgIcon]="
                        applicantInfo?.applicant_info?.tractor_license === true
                                ? 'heroicons_solid:check-circle'
                                : 'heroicons_solid:x-circle'
                        ">check-circle</mat-icon>
                        </dd>
                    </div>

                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Passport
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            <mat-icon class="{{
                            applicantInfo?.applicant_info?.passport === true
                                ? 'greenActiveIcon'
                                : 'redInActiveIcon'
                        }}" [svgIcon]="
                        applicantInfo?.applicant_info?.passport === true
                                ? 'heroicons_solid:check-circle'
                                : 'heroicons_solid:x-circle'
                        ">check-circle</mat-icon>
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-7 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Work Experience Description
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.work_experience_description }}
                        </dd>
                    </div>

                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-7 sm:px-6 flex justify-between items-center">

                        <dt class="text-sm font-bold text-gray-500">

                            Employment Period

                        </dt>

                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">

                            {{ applicantInfo?.applicant_info?.employment_period }}

                        </dd>

                    </div>

                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-7 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500 whitespace-pre">
                            Operating Farm Equipment
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.question_1 }} out of 5
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-7 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500 whitespace-pre">
                            Operating Harvesting Equipment
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.question_2 }} out of 5
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-7 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Driving Trucks
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.question_3 }} out of 5
                        </dd>
                    </div>

                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-7 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Welding Experience
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.question_4 }} out of 5
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-7 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Mechanical Experience
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.question_5 }} out of 5
                        </dd>
                    </div>


                </dl>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- Education Info -->
    <mat-accordion class="bg-gray-100">
        <mat-expansion-panel [expanded]="allExpandState" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false" class="bg-gray-100 my-3">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-sans font-semibold text-lg tracking-tight flex items-center">
                    Educational and Misc.
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <dl class="sm:divide-y sm:divide-gray-200">
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-7 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Supervisor Name
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.supervisor_name }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-7 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Supervisor Contact
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.supervisor_contact }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Education Degree Name
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.degree_name }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Reasons for Applying
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.reason_for_applying }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            How did you hear about DHT?
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.hear_about_dht }}
                        </dd>
                    </div>
                </dl>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!--Interview Results-->
    <mat-accordion class="bg-gray-100">
        <mat-expansion-panel [expanded]="allExpandState" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false" class="bg-gray-100 my-3">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-sans font-semibold text-lg tracking-tight flex items-center">
                    Information Collected During Onboarding
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <dl class="sm:divide-y sm:divide-gray-200">
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            US Phone Number
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.us_phone_number }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Blood Type
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.blood_type }}
                        </dd>
                    </div>

                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Emergency Contact Name/Relation
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.emergency_contact_name }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                        <dt class="text-sm font-bold text-gray-500">
                            Emergency Contact Phone
                        </dt>
                        <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                            {{ applicantInfo?.applicant_info?.emergency_contact_phone }}
                        </dd>
                    </div>
                    <!-- <div
                    class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center"
                >
                    <dt
                        class="text-sm font-bold text-gray-500 whitespace-pre"
                    >
                        How Did You Hear About Us?
                    </dt>
                    <dd
                        class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end"
                    >
                        {{ "Newspaper" }}
                    </dd>
                </div> -->
                </dl>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>