.employee-grid {
    grid-template-columns: 35% 35% 36%;

    @screen sm {
        grid-template-columns: 7% 7% 10% 10% 10% 15% 10% 8% 10%;
    }

    @screen md {
        grid-template-columns: 7% 7% 10% 10% 10% 15% 10% 8% 10%;
    }

    @screen lg {
        grid-template-columns: 7% 7% 10% 10% 10% 15% 10% 8% 10%;
    }
}
.redInActiveIcon {
    color: #dc2626;
}

.greenActiveIcon {
    color: #16a34a;
}

::ng-deep .mat-sort-header-content {
    text-align: start !important;
}