<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div class="border-b">
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoadingEmployee$ | async">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-2xl font-extrabold tracking-tight">Employees</div>
            <!-- Actions -->
            <div class="flex sm:flex-row flex-col flex-shrink-0 items-center mt-1 sm:mt-0 sm:ml-4 ">
                <div class="flex space-x-2">
                    <!-- Search -->
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded sm:min-w-64 min-w-60">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <form [formGroup]="searchform">
                            <input matInput formControlName="search" [autocomplete]="'off'"
                                [placeholder]="'Search Employee'" />
                        </form>
                    </mat-form-field>
                    <!--Filter-->
                    <button mat-flat-button class="mat-filter" (click)="filtersDrawer.toggle()">
                        <mat-icon
                            *ngIf="employeeFiltersForm.value.created_at || employeeFiltersForm.value.status || employeeFiltersForm.value.country || employeeFiltersForm.value.employment_type || employeeFiltersForm.value.role  || employeeFiltersForm.value.employment_period"
                            [svgIcon]="'heroicons_solid:filter'"></mat-icon>
                        <mat-icon
                            *ngIf="!employeeFiltersForm.value.created_at && !employeeFiltersForm.value.status && !employeeFiltersForm.value.country && !employeeFiltersForm.value.employment_period && !employeeFiltersForm.value.employment_type && !employeeFiltersForm.value.role "
                            [svgIcon]="'heroicons_outline:filter'"></mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="employeeList$ | async as employees">
                <ng-container>
                    <div class="grid">
                        <!-- Header -->
                        <div class="employee-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear (matSortChange)="sortData($event)">
                            <div mat-sort-header="first_name">First Name</div>
                            <div mat-sort-header="last_name">Last Name</div>
                            <div mat-sort-header="country">Country</div>
                            <div mat-sort-header="role" class="hidden sm:block">Role</div>
                            <div mat-sort-header="status_step" class="hidden sm:block">Onboarding Staus</div>
                            <div mat-sort-header="employment_period" class="hidden sm:block">Employment Period</div>
                            <div mat-sort-header="email" class="hidden sm:block">Email</div>
                            <div mat-sort-header="cell_phone_number" class="hidden sm:block">
                                Employee Type
                            </div>
                            <div>Actions</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="employeeList$ | async as employees">
                            <ng-container *ngIf="employees.count > 0; else noEmployee">
                                <ng-container *ngFor="let employee of employees.employees; trackBy: trackByFn">
                                    <div class="employee-grid grid items-center gap-4 py-4 px-6 md:px-8 border-b">
                                        <div class="flex items-center cursor-pointer truncate break-words text-blue-600 hover:text-blue-800 visited:text-purple-600"
                                            (click)="toggleDetails(employee.id)">
                                            {{ employee?.first_name }}
                                        </div>
                                        <div class="flex items-center truncate">
                                            {{ employee?.last_name }}
                                        </div>
                                        <div class="flex items-center hidden sm:block truncate">
                                            {{ employee?.country }}
                                        </div>
                                        <div class="flex items-center hidden sm:block truncate">
                                            {{ employee.role? employee.role : "-" }}
                                        </div>
                                        <div matTooltip="{{getStatusCode(employee.status_step)}}"
                                            [ngClass]="{'text-red-600': employee.action_required === true}"
                                            class="flex items-center hidden sm:block truncate">
                                            {{getStatusCode(employee.status_step)}}
                                        </div>
                                        <div class="flex items-center hidden sm:block truncate">
                                            {{ employee.employment_period }}
                                        </div>
                                        <div class="hidden truncate sm:block lg:flex items-center"
                                            matTooltip="{{ employee.email }}" matTooltipPosition="above">
                                            <div class="min-w-4">
                                                {{ employee.email }}
                                            </div>
                                        </div>
                                        <div class="hidden sm:block">
                                            {{employee.country == "United States of America"? "USA" : "H2A"}}
                                        </div>

                                        <!-- Details button -->
                                        <div class="flex">
                                            <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                                (click)="toggleDetails(employee.id)">
                                                <mat-icon class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:chevron-right'">
                                                </mat-icon>
                                            </button>
                                            <button class=" ml-2 min-w-10 min-h-7 h-7 px-2 leading-6 items-center"
                                                mat-stroked-button
                                                (click)="confirmDeleteDialog(employee.id, employee.fb_id)"
                                                matTooltip="Delete" matTooltipPosition="above">
                                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:trash'">
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{ 'pointer-events-none': isLoading }" [length]="employees.count"
                        [pageIndex]="page - 1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="pageChanged($event)" [showFirstLastButtons]="true"></mat-paginator>
                </ng-container>
            </ng-container>

            <ng-template #noEmployee>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                    There are no Employees!
                </div>
            </ng-template>
        </div>
    </div>
    <!-- <fuse-drawer class="w-100 min-w-100 sm:w-100 sm:min-w-100 z-999 bg-green-300" fixed [mode]="'over'"
        [name]="'settingsDrawer'" [position]="'right'" #settingsDrawer>
        <div class="flex flex-col w-100 overflow-auto bg-card">
            <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
                <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_outline:filter'"></mat-icon>
                <div class="ml-3 text-2xl font-semibold tracking-tight">
                    Filters
                </div>
                <button class="ml-auto" mat-icon-button mat-icon-button (click)="settingsDrawer.close()()">
                    <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
            <div class="flex flex-col justify-center items-center md:h-screen">
                <div class="sm:h-200 md:h-5/6 h-160 w-80">
                    <div class="w-inherit flex flex-col">
                        <mat-form-field appearance="outline" class="cat mx-1 mt-2 w-full">
                            <mat-label>Select Country</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let country of countries; trackBy: trackByFn" [value]="country">{{ country
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="mx-1 mt-2 w-full">
                            <mat-label>Select status</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let status of statusList; trackBy: trackByFn" [value]="status">{{ status }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row justify-evenly items-center w-80">
                    <div class="w-inherit flex justify-center items-center mt-1 mb-1">
                        <button class="" mat-flat-button [color]="'primary'">
                            <span class="">Apply filters</span>
                        </button>
                    </div>
                    <div class="w-inherit flex justify-center items-center mt-1 mb-1">
                        <button
                            class="bg-transparent hover:bg-red-500 text-red-500 font-semibold hover:text-white py-2 px-2 border border-red-500 hover:border-transparent rounded inline-flex items-center">
                            <mat-icon class="m-0 icon-size-4" color="warn" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                            <span>Remove filters</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </fuse-drawer> -->
</div>
<!-- Filters -->
<fuse-drawer class="w-100 min-w-100 sm:w-100 sm:min-w-100 z-999 bg-green-300" fixed [mode]="'over'"
    [name]="'filtersDrawer'" [position]="'right'" #filtersDrawer>
    <div class="flex flex-col w-100 overflow-auto bg-card">
        <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
            <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_outline:filter'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">
                Filters
            </div>
            <button class="ml-auto" mat-icon-button mat-icon-button (click)="filtersDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="flex flex-col justify-center items-center h-screen">
            <div class="h-5/6 w-96">
                <div class="w-inherit flex flex-col">
                    <form [formGroup]="employeeFiltersForm" (ngSubmit)="applyFilters()"
                        class="flex flex-col flex-auto p-6 sm:p-8">
                        <mat-form-field appearance="outline">
                            <mat-label>Role</mat-label>
                            <input matInput formControlName="role" >
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="cat w-full">
                            <mat-label>Select Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option value="Preliminary Review">Preliminary Review</mat-option>
                                <mat-option value="First Interview Completed">First Interview Completed</mat-option>
                                <mat-option value="Second Interview Completed">Second Interview Completed</mat-option>
                                <mat-option value="Reference Call Completed">Reference Call Completed</mat-option>
                                <mat-option value="Third Interview Completed">Third Interview Completed</mat-option>
                                <mat-option value="Recruiter Decision Made">Recruiter Decision Made</mat-option>
                                <mat-option value="Offer Made">Offer Made</mat-option>
                                <mat-option value="Offer Accepted">Offer Accepted</mat-option>
                                <mat-option value="Results">Hired</mat-option>
                                <mat-option value="Waitlisted">Waitlisted</mat-option>
                                <mat-option value="Qualifications dont match current openings">Qualifications dont match
                                    current openings</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Country</mat-label>
                            <input (ngModelChange)="formValidation($event,'country')" type="text" aria-label="country"
                                matInput formControlName="country" [matAutocomplete]="country">
                            <mat-autocomplete #country="matAutocomplete">
                                <mat-option *ngFor="let country of countryOptions | async" [value]="country">
                                    {{country}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint class="flex flex-col">
                                <span *ngIf="!validCountry" class="text-md uppercase text-red-500"> Select Country from
                                    given list only </span>
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Select Employment period</mat-label>
                            <mat-select matNativeControl formControlName="employment_period">
                                <mat-option value="March 15th, 2023 to January 15th, 2024">March 15th, 2023 to January
                                    15th, 2024 </mat-option>
                                <mat-option value="July 1st,2023 to January 15th, 2024">July 1st,2023 to January 15th,
                                    2024</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Employment Type</mat-label>
                            <input matInput formControlName="employment_type" >
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="cat mx-1 mt-2 w-full">
                            <mat-label>Year</mat-label>
                            <input readonly matInput [matDatepicker]="dp" placeholder="Year" [formControl]="created_at">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)"
                                panelClass="example-month-picker">
                            </mat-datepicker>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="flex flex-row justify-evenly items-center w-80">
                <div class="w-inherit flex justify-center items-center mt-1 mb-1">
                    <button [disabled]="!employeeFiltersForm.value.created_at && !employeeFiltersForm.value.status && !employeeFiltersForm.value.country && !employeeFiltersForm.value.employment_period && !employeeFiltersForm.value.employment_type && !employeeFiltersForm.value.role || employeeFiltersForm.invalid"
                    (click)="applyFilters(); filtersDrawer.close()" class="" mat-flat-button
                        [color]="'primary'">
                        <span class="">Apply filters</span>
                    </button>
                </div>
                <div class="w-inherit flex justify-center items-center mt-1 mb-1">
                    <button [disabled]="!employeeFiltersForm.value.created_at && !employeeFiltersForm.value.status && !employeeFiltersForm.value.country && !employeeFiltersForm.value.employment_period && !employeeFiltersForm.value.employment_type && !employeeFiltersForm.value.role  || employeeFiltersForm.invalid"
                    (click)="removeFilters(); filtersDrawer.close()" mat-flat-button [color]="'warn'">
                        <span>Remove filters</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</fuse-drawer>

