.join-us-btn svg
{
    width: 1rem !important;
}

.custom-btn-color{
    background-color:#34548A !important; 
    color:#fff !important;

}
.subscribe-email .mat-form-field-flex{
background-color: #fff !important;
}

.subscribe-btn{
    background-color: #5C78A5 !important;
}