.join-us-btn svg
{
    width: 1rem !important;
}

.custom-btn-color{
    background-color:#34548A !important; 
    color:#fff !important;

}
.subscribe-email .mat-form-field-outline{
background-color: #fff !important;
border-radius: 4px;
}
.subscribe-email .mat-form-field-appearance-outline .mat-form-field-label
{
    top: 2.2em !important
}

.subscribe-btn{
    background-color: #5C78A5 !important;
}
.footer-icons
{
    width: 2.5rem !important;
}

.underline-offset-8
{
    text-decoration: underline 3px !important;
    text-underline-offset: 0.5rem !important;
}