<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full bg-white">

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <div class="top-navigation-menu flex flex-row columns-2 w-full md:w-12/12 lg:w-9/12 m-auto justify-between">
            <div class="col-1 w-3/12 md:w-4/12 px-2 items-center"> 
                <img src="assets\logo\Logo.svg" class="py-10 w-32 h-auto">
            </div>
            <div class="col-2 w-6/12 md:w-8/12 sm:flex items-center justify-end font-bold gap-2 py-8 hidden">
                <button class="max-w-16 py-4 font-bold text-xl"  (click)="navigateHome()" mat-button>Home</button>
                <button class="min-w-16 py-4 font-bold text-xl" mat-button>Trucking</button>
                <button class="min-w-16 py-4 font-bold text-xl" mat-button>Farming</button>
                <button class="min-w-16 py-4 font-bold text-xl" mat-button>Employment</button>
                <button class="min-w-16 py-4 ml-2 pl-8 font-bold text-xl join-us-btn custom-btn-color" mat-flat-button type="button" (click)="openDialog()">
                    Join Us
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-right'"></mat-icon>
                </button>

                <!-- <button mat-button [matMenuTriggerFor]="home">Home</button> -->
                <!-- <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu> -->

            </div>

            <div class="col-2 w-3/12 md:w-8/12 sm:flex items-center justify-end font-bold gap-2 py-8 hidden">
                <button class="max-w-18 font-bold text-xl p-4" style="border: 1px solid #1E293B !Important;" (click)="navigateHome()" mat-button>Log In</button>
               
                <button class="min-w-16 py-4 ml-2 pl-8 font-bold text-xl join-us-btn custom-btn-color" mat-flat-button type="button" (click)="openDialog()">
                    Get Quote
                </button>


            </div>
        </div>
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true">

        </router-outlet>

         <!-- /////////////////FOOOTERRRRRRRRRRRRRRRRRRRRRRRRRRRRRR//////////////////////////////////// -->


    <div class="flex item-center justify-center w-full pb-16" style="background-color:#31558C">
        <div class="flex flex-col md:flex-row mx-auto sm:w-9/12 gap-8 pt-12 pb-8">
            <div class="footer-col flex flex-col md:w-5/12 items-left py-8 gap-y-6">
                <img class="w-40 h-auto font-light" src="assets\images\pages\top-navigation-assets\Group 35423.png">
                <div class="flex flex-row items-center icon-footer">
                    <mat-icon class="text-white h-auto pr-2" [svgIcon]="'heroicons_outline:map'"> </mat-icon>
                    <p class="text-white pt-4">1664 East Florence Blvd Suite 4 <br>#505 Casa Grande AZ 85122</p>
                </div>

                <div class="flex flex-row items-center icon-footer">
                    <mat-icon class="envelope-icon text-white h-auto pr-2" [svgIcon]="'heroicons_outline:at-symbol'"> </mat-icon>
                    <p class="text-white">dht@dht-usa.com</p>
                </div>
            </div>


            <div class="footer-col flex flex-col md:w-3/12 items-left py-8 gap-y-6">
            </div>

            <div class="footer-col flex flex-col md:w-4/12 items-left py-8 gap-y-6">
            </div>



        </div>
    </div>

    </div>

</div>