<div class="parent-class overflow-y-auto mb-16">
    <!-- Profile Data -->
    

    <div class="bg-gray-100 w-9/12 m-auto shadow rounded-lg my-8">
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <ng-container>
                <ng-container>
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="machinery-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear
                        >
                            <div>State</div>
                            <div class="hidden sm:block">Miles</div>
                            <div class="hidden lg:block">Fuel(Gallons)</div>
                            <div class="hidden lg:block">Miles per Gallons</div>
                        </div>
                        <!-- Rows -->
                        <ng-container>
                            <ng-container
                            *ngFor="let number of [0,1,2,3,4]"                            >
                                <div
                                    class="machinery-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b bg-white"
                                >

                                    <!-- Name -->
                                    <div class="truncate">
                                        AZ
                                    </div>

                                    <!-- Make -->
                                    <div class="hidden sm:block">
                                        10,220
                                    </div>

                                    <!-- Model -->
                                    <div class="hidden sm:block">
                                        1,066
                                    </div>

                                    <!-- Odometer -->
                                    <div class="hidden sm:block">
                                        3
                                    </div>


                                    
                                </div>
                                
                            </ng-container>
                        </ng-container>
                        <div
                            class="machinery-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear
                        >
                            <div>Total</div>
                            <div class="hidden sm:block">1111</div>
                            <div class="hidden lg:block">1212</div>
                            <div class="hidden lg:block">12121</div>
                        </div>
                    </div>

                </ng-container>
            </ng-container>
           
        </div>

    </div>

    <!--Records -->


    <div class="bg-gray-100 w-9/12 m-auto shadow rounded-lg my-8">
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <ng-container>
                <ng-container>
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="machinery-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear
                        >
                            <div>Customer</div>
                            <div class="hidden sm:block">Estimated Harvest Load Miles</div>
                            <div class="hidden lg:block">Estimated Fuel (Gallons)</div>
                            <div class="hidden lg:block">Estimated Miles per Gallons</div>
                        </div>
                        <!-- Rows -->
                        <ng-container>
                            <ng-container
                            *ngFor="let number of [0,1,2,3,4]"                            >
                                <div
                                    class="machinery-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b bg-white"
                                >

                                    <!-- Name -->
                                    <div class="truncate">
                                        AZ
                                    </div>

                                    <!-- Make -->
                                    <div class="hidden sm:block">
                                        10,220
                                    </div>

                                    <!-- Model -->
                                    <div class="hidden sm:block">
                                        1,066
                                    </div>

                                    <!-- Odometer -->
                                    <div class="hidden sm:block">
                                        3
                                    </div>


                                    
                                </div>
                                
                            </ng-container>
                        </ng-container>
                        <div
                            class="machinery-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear
                        >
                            <div>Total</div>
                            <div class="hidden sm:block">1111</div>
                            <div class="hidden lg:block">1212</div>
                            <div class="hidden lg:block">12121</div>
                        </div>
                    </div>

                </ng-container>
            </ng-container>
           
        </div>

    </div>


        <!--Records-->


        <div class="bg-gray-100 w-9/12 m-auto shadow rounded-lg my-8">
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <ng-container>
                    <ng-container>
                        <div class="grid">
                            <!-- Header -->
                            <div
                                class="machinery-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary dark:bg-black dark:bg-opacity-5"
                                matSort
                                matSortDisableClear
                            >
                                <div>Customer</div>
                                <div class="hidden sm:block">Estimated Harvest Load Miles</div>
                                <div class="hidden lg:block">Estimated Fuel (Gallons)</div>
                                <div class="hidden lg:block">Estimated Miles per Gallons</div>
                            </div>
                            <!-- Rows -->
                            <ng-container>
                                <ng-container
                                *ngFor="let number of [0,1,2,3,4]"                            >
                                    <div
                                        class="machinery-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b bg-white"
                                    >
    
                                        <!-- Name -->
                                        <div class="truncate">
                                            AZ
                                        </div>
    
                                        <!-- Make -->
                                        <div class="hidden sm:block">
                                            10,220
                                        </div>
    
                                        <!-- Model -->
                                        <div class="hidden sm:block">
                                            1,066
                                        </div>
    
                                        <!-- Odometer -->
                                        <div class="hidden sm:block">
                                            3
                                        </div>
    
    
                                        
                                    </div>
                                    
                                </ng-container>
                            </ng-container>
                            <div
                                class="machinery-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary dark:bg-black dark:bg-opacity-5"
                                matSort
                                matSortDisableClear
                            >
                                <div>Total</div>
                                <div class="hidden sm:block">1111</div>
                                <div class="hidden lg:block">1212</div>
                                <div class="hidden lg:block">12121</div>
                            </div>
                        </div>
    
                    </ng-container>
                </ng-container>
               
            </div>
    
        </div>


 
</div>