.what-do-we-do,
.our-values {
  /* -- CSS3 - add a drop shadow -- */
  -webkit-box-shadow: 0 0 5px 2px gray !important;
  -moz-box-shadow: 0 0 5px 2px gray !important;
  box-shadow: 0px 4px 25px gray !important;
  /*any color you want*/


}


.heading-title {
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  width: 100%;
  padding: 20px;
  position: absolute;

}

.heading-title h1{
  -webkit-text-shadow: 0 0 5px 2px #000 !important;
  -moz-text-shadow: 0 0 5px 2px #000 !important;
  text-shadow: 7px 10px 25px #000 !important;
}

.icon-footer mat-icon{
  width: 2.5rem !important;

}

.custom-btn-color{
  background-color:#34548A !important; 
  color:#fff !important;

}
youtube-player iframe{
  width: 1920px !important;
  height: 1080px !important;

}

/* Rules for Stylus
 * https://addons.mozilla.org/en-US/firefox/addon/styl-us/
 */

/* Hide the annoying (i) button on the top-right corner */
.ytp-chrome-top-buttons {
  display: none;
}

/* Display the controls and title only on hover */
.ytp-chrome-top,
.ytp-chrome-bottom {
  opacity: 0;
  background-color: #30303080;
  position: absolute;
  width: 100% !important;
  left: 0 !important;
}
.ytp-chrome-top:hover,
.ytp-chrome-bottom:hover {
  opacity: 1;
}

/* Position the background for the title and controls */
.ytp-chrome-top {
  background-position: top;
}
.ytp-chrome-bottom {
  background-position: bottom;
}

/* Change the padding of the title */
.ytp-title-text {
  padding: 10px 20px 5px !important;
}

/* Display the title on hover, without being fullscreen */
.ytp-hide-info-bar .ytp-chrome-top {
  height: auto;
}
.ytp-hide-info-bar .ytp-chrome-top .ytp-title {
  display: flex;
}

/* Hide the dark gradient on the title and controls */
.ytp-gradient-top,
.ytp-gradient-bottom {
  display: none;
}

/* Limit the width of the title on the description area */
.watch-title-container {
  max-width: 370px;
}

/* Hide the 'More Videos' button and suggestions on pause */
button.ytp-button.ytp-expand,
.ytp-pause-overlay {
  display: none !important;
}

/* Hide suggestions at the end of the video when in fullscreen */
.ytp-ce-top-left-quad.ytp-ce-size-1280 {
  display: none;
}