.what-do-we-do,
.our-values {
  /* -- CSS3 - add a drop shadow -- */
  -webkit-box-shadow: 0 0 5px 2px gray !important;
  -moz-box-shadow: 0 0 5px 2px gray !important;
  box-shadow: 0px 4px 25px gray !important;
  /*any color you want*/


}


.heading-title {
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  width: 100%;
  padding: 20px;
  position: absolute;

}

.heading-title h1{
  -webkit-text-shadow: 0 0 5px 2px #000 !important;
  -moz-text-shadow: 0 0 5px 2px #000 !important;
  text-shadow: 7px 10px 25px #000 !important;
}

.icon-footer mat-icon{
  width: 2.5rem !important;

}

.custom-btn-color{
  background-color:#34548A !important; 
  color:#fff !important;

}
::ng-deep .ytp-chrome-top{
visibility: hidden !important;}
youtube-player iframe
{
    aspect-ratio: 16 / 9;
    width: 100% !important;
    height: auto !important;
}