.machinery-grid {
    grid-template-columns: 15% 15% 10% 10% 15% 15% 10%;

    @screen sm {
        grid-template-columns: 15% 15% 10% 10% 15% 15% 10%;
    }
    @screen md {
        grid-template-columns: 15% 15% 10% 10% 15% 15% 10%;
    }
    @screen lg {
        grid-template-columns: 15% 15% 10% 10% 15% 15% 10%;
    }
}