.customer-grid {
    grid-template-columns: 50% 20% 20%;
    @screen sm {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 5% 5% 5% 5%;
    }
    @screen md {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 5% 5% 5% 5%;
    }
    @screen lg {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 5% 5% 5% 5%;
    }
}

.redInActiveIcon {
    color: #dc2626;
}

.greenActiveIcon {
    color: #16a34a;
}