<div class="absolute inset-0 flex flex-col flex-auto min-w-0 overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoadingCustomer$ | async">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-2xl font-extrabold tracking-tight flex items-center">Customers <mat-hint *ngIf="customerFiltersForm.value.type || customerFiltersForm.value.status " class="text-sm ml-2 mt-1">(Filters Applied)</mat-hint></div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-44 lg:min-w-44 lg:min-w-64">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <form [formGroup]="searchform">
                    <input matInput formControlName="search" [autocomplete]="'off'" [placeholder]="'Search'" />
                </form>
            </mat-form-field>
            <!-- Add customer button -->
            <button class="ml-2 mr-2" mat-flat-button [color]="'primary'" (click)="openAddDialog()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="lg:ml-2 mr-1">Add</span>
            </button>
            <!-- Filters -->
            <button mat-flat-button class="mat-filter" (click)="filtersDrawer.toggle()">
                <mat-icon  *ngIf="customerFiltersForm.value.type || customerFiltersForm.value.status "
                    [svgIcon]="'heroicons_solid:filter'"></mat-icon>
                <mat-icon *ngIf="!customerFiltersForm.value.type && !customerFiltersForm.value.status"
                    [svgIcon]="'heroicons_outline:filter'"></mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="openImportDialog()" mat-menu-item>
                    <mat-icon>upload</mat-icon>
                    <span>Import</span>
                </button>
                <button (click)="handleExport()" mat-menu-item>
                    <mat-icon>download</mat-icon>
                    <span>Export</span>
                </button>
                <button (click)="downloadTemplate()" mat-menu-item>
                    <mat-icon>download</mat-icon>
                    <span>Download Template</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="customers$ | async as customers">
                <ng-container>
                    <div class="grid h-full sm:h-auto">
                        <!-- Header -->
                        <div class="customer-grid z-10 sticky top-0 grid gap-4 py-4 px-4 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear (matSortChange)="sortData($event)">
                            <div mat-sort-header="customer_name">Customer Name</div>
                            <div mat-sort-header="main_contact" class="hidden sm:block">Main Contact</div>
                            <div mat-sort-header="position" class="hidden lg:block">Position</div>
                            <div mat-sort-header="phone_number" class="hidden md:block">Phone Number</div>
                            <div mat-sort-header="state" class="hidden lg:block">State</div>
                            <div mat-sort-header="country" class="hidden sm:block">Country</div>
                            <div mat-sort-header="email" class="hidden sm:block">Email</div>
                            <div mat-sort-header="customer_type" class="hidden sm:block">Customer Type</div>
                            <div mat-sort-header="status" class="hidden sm:block">Status</div>
                            <div class="sm:block">Details</div>
                            <div class="sm:block">Contacts</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="customers$ | async as customers">
                            <ng-container *ngIf="customers.count > 0;else noCustomers">
                                <ng-container *ngFor="let customer of customers.customers">
                                    <div class="customer-grid grid items-start gap-4 py-3 px-4 border-b"
                                        ng-click="toggleContactsDetails(customer.id)">
                                        <!-- Image -->
                                        <!-- <div>
                                        <img *ngIf="customer.avatar" class="max-w-none flex items-center justify-center h-8 w-8 rounded-full" src="{{customer.avatar}}" alt="">
                                        <div *ngIf="customer.avatar ==''" class="flex items-center justify-center w-8 h-8 rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">{{customer.name.charAt(0)}} </div>
                                    </div> -->

                                        <!-- Company Name -->
                                        <div (click)="toggleGeneralInfo(customer.id, true)" class="cursor-pointer truncate break-words text-blue-600 hover:text-blue-800 visited:text-purple-600" matTooltip="{{ customer.customer_name }}"
                                            matTooltipPosition="above">
                                            {{ customer.customer_name }}
                                        </div>

                                        <!-- Main Contact -->
                                        <div (click)="toggleContactsDetails(customer.id)" class="cursor-pointer truncate break-words text-blue-600 hover:text-blue-800 visited:text-purple-600 hidden sm:block items-left truncate">
                                            <div class="min-w-4">
                                                {{ customer.main_contact }}
                                            </div>
                                        </div>

                                        <!-- Position -->
                                        <div class="hidden lg:block items-center truncate"
                                            matTooltip="{{ customer.position }}" matTooltipPosition="above">
                                            <!-- <div class="min-w-4"> -->
                                            {{ customer.position }}
                                            <!-- </div> -->
                                        </div>

                                        <!-- Phone No -->
                                        <div class="hidden md:block items-left truncate"
                                            matTooltip="{{ customer.phone_number }}" matTooltipPosition="above">
                                            <!-- <div class="min-w-4"> -->
                                            +1 {{ customer.phone_number }}
                                            <!-- </div> -->
                                        </div>

                                        <!-- State -->
                                        <div class="hidden lg:block items-left truncate"
                                            matTooltip="{{ customer.state }}" matTooltipPosition="above">
                                            <!-- <div class="min-w-4"> -->
                                            {{ customer.state }}
                                            <!-- </div> -->
                                        </div>
                                        <!-- Country -->
                                        <div class="hidden sm:block items-left truncate"
                                            matTooltip="{{ customer.country }}" matTooltipPosition="above">
                                            <!-- <div class="min-w-4"> -->
                                            {{ customer.country }}
                                            <!-- </div> -->
                                        </div>

                                        <!-- Email -->
                                        <div class="hidden sm:block items-center truncate"
                                            matTooltip="{{ customer.email }}" matTooltipPosition="above">
                                            <!-- <div class="min-w-4"> -->
                                            {{ customer.email }}
                                            <!-- </div> -->
                                        </div>

                                        <!-- Customer Type -->
                                        <div class="hidden sm:block items-center truncate">
                                            {{ customer.customer_type }}
                                        </div>

                                        <!-- Active -->
                                        <div class="hidden sm:block">
                                            <mat-icon class="{{
                                                customer.status === true
                                                    ? 'greenActiveIcon'
                                                    : 'redInActiveIcon'
                                            }}" [svgIcon]="
                                                customer.status === true
                                                    ? 'heroicons_solid:check-circle'
                                                    : 'heroicons_solid:x-circle'
                                            ">check-circle</mat-icon>
                                        </div>

                                        <!-- Details button -->
                                        <div>
                                            <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                                (click)="
                                                toggleGeneralInfo(customer.id, true)
                                            " matTooltip="Details" matTooltipPosition="above">
                                                <mat-icon class="icon-size-5" [svgIcon]="
                                                    'heroicons_solid:chevron-right'
                                                "></mat-icon>
                                            </button>
                                        </div>

                                        <!-- Contacts button -->
                                        <div>
                                            <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                                (click)="toggleContactsDetails(customer.id)" matTooltip="Contacts"
                                                matTooltipPosition="above">
                                                <mat-icon class="icon-size-5" [svgIcon]="
                                                    'heroicons_solid:chevron-right'
                                                "></mat-icon>
                                            </button>
                                        </div>


                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <mat-paginator
                        class="absolute inset-x-0 bottom-0 border-b border-t border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{ 'pointer-events-none': isLoading }" [length]="customers.count"
                        [pageIndex]="page - 1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="pageChanged($event)" [showFirstLastButtons]="true"></mat-paginator>
                </ng-container>
            </ng-container>

            <ng-template #noCustomers>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                    No Customers Found!
                </div>
            </ng-template>

        </div>
    </div>
</div>
<!-- Filters -->
<fuse-drawer class="w-100 min-w-100 sm:w-100 sm:min-w-100 z-999 bg-green-300" fixed [mode]="'over'"
    [name]="'filtersDrawer'" [position]="'right'" #filtersDrawer>
    <div class="flex flex-col w-100 overflow-auto bg-card">
        <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
            <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_outline:filter'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">
                Filters
            </div>
            <button class="ml-auto" mat-icon-button mat-icon-button (click)="filtersDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="flex flex-col justify-center items-center h-screen">
            <div class="h-5/6 w-96">
                <div class="w-inherit flex flex-col">
                    <form [formGroup]="customerFiltersForm" (ngSubmit)="applyFilters()"
                        class="flex flex-col flex-auto p-6 sm:p-8">
                        <div class="flex flex-col flex-auto justify-between gap-x-6 p-0">
                            <mat-form-field appearance="outline">
                                <mat-label>Customer Type</mat-label>
                                <mat-select formControlName="type" multiple>
                                    <mat-option value="F">Farming</mat-option>
                                    <mat-option value="T">Trucking</mat-option>
                                    <mat-option value="H">Harvesting</mat-option>
                                    <mat-option value="L">Leasing</mat-option>
                                    <mat-option value="P">Prospect</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>Position</mat-label>
                            <input matInput formControlName="position" >
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option value=true>Active</mat-option>
                                <mat-option value=false>In Active</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="cat mt-2 w-full">
                            <mat-label>Select State</mat-label>
                            <mat-select formControlName="state">
                                <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Country</mat-label>
                            <input (ngModelChange)="formValidation($event,'country')" type="text" aria-label="country"
                                matInput formControlName="country" [matAutocomplete]="country">
                            <mat-autocomplete #country="matAutocomplete">
                                <mat-option *ngFor="let country of countryOptions | async" [value]="country">
                                    {{country}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint class="flex flex-col">
                                <span *ngIf="!validCountry" class="text-md uppercase text-red-500"> Select Country from
                                    given list only </span>
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="cat mt-2 w-full">
                            <mat-label>Year</mat-label>
                            <input readonly matInput [matDatepicker]="dp" placeholder="Year" formControlName="created_at" [formControl]="created_at">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)"
                                panelClass="example-month-picker">
                            </mat-datepicker>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="flex flex-row justify-evenly items-center w-80">
                <div class="w-inherit flex justify-center items-center mt-1 mb-1">
                    <button [disabled]="!customerFiltersForm.value.type && !customerFiltersForm.value.status && !customerFiltersForm.value.position && !customerFiltersForm.value.state && !customerFiltersForm.value.country && !customerFiltersForm.value.created_at || customerFiltersForm.invalid"
                    (click)="applyFilters(); filtersDrawer.close()" class="" mat-flat-button
                        [color]="'primary'">
                        <span class="">Apply filters</span>
                    </button>
                </div>
                <div class="w-inherit flex justify-center items-center mt-1 mb-1">
                    <button [disabled]="!customerFiltersForm.value.type && !customerFiltersForm.value.status && !customerFiltersForm.value.position && !customerFiltersForm.value.state && !customerFiltersForm.value.country && !customerFiltersForm.value.created_at || customerFiltersForm.invalid"
                    (click)="removeFilters(); filtersDrawer.close()" mat-flat-button [color]="'warn'">
                        <span>Remove filters</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</fuse-drawer>
