<div class="flex sm:flex-row flex-col">
    <div class="sm:w-7/12 md:w-7/12 m-2 px-2 flex sm:flex-col flex-col">
        <div class=" pt-0 pb-2 border-b">
            <p class=" text-2xl font-extrabold tracking-tight">Onboarding</p>
        </div>
        <div class="mt-2">
            <p class="font-semibold text-lg">Heading</p>
        </div>
        <div class="flex flex-wrap justify-center sm:justify-center md:justify-start my-2">
            <div class="w-22 sm:h-18 md:h-22 mr-2 my-1  shadow rounded-md background-grey" *ngFor="let item of folders">
                <a
                    class=" inset-0 flex flex-col p-4 cursor-pointer"
                >
                    <div class="aspect-w-9 aspect-h-6">
                        <div class="flex items-center justify-center">
                            <!-- Icon -->
                            <mat-icon
                                class="icon-size-5 text-hint"
                                [svgIcon]="'iconsmind:folder'"
                            ></mat-icon>
                        </div>
                    </div>
                    <div
                        class="flex flex-col flex-auto justify-center text-center text-sm font-medium"
                    >
                        <div class="truncate">{{item.folder}}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="background-grey flex sm:flex-row rounded-md p-4">
            <div class="w-2/12 flex justify-center items-center">
                <img class=" h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80" alt="">
            </div>
            <div class="w-10/12 flex justify-start items-center pl-2">
                <div class="">
                    <p class="font-semibold text-xl leading-7">Richardo Copper</p>
                    <p class="text-base font-sans font-normal leading-6 text-gray-400">Applied for <span class="text-black">Vehicle Operator</span> on August 25, 2020</p>
                </div>
            </div>
        </div>
        <div class="flex background-grey rounded-md mt-2 sm:h-auto px-4">
            <div class="flex justify-center items-center sm:6/12 md:w-4/12 ">
                <div>
                    <p class="font-semibold text-xl text-blue-600">Password</p>
                    <p class="text-sm font-normal text-gray-500">Provided by Administrator</p>
                </div>
            </div>
            <div class="sm:w-6/12 md:w-8/12">
                <div class="flex flex-col p-2">
                    <div class="w-full  sm:mt-auto h-16">
                        <mat-form-field appearance="outline" class=" w-full ">
                            <mat-label class="text-sm font-normal text-gray-500 "> Country: </mat-label>
                            <input matInput  class="">
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:mt-auto h-16">
                        <mat-form-field appearance="outline" class=" w-full">
                            <mat-label class="text-sm font-normal text-gray-500 w-max">Number: </mat-label>
                            <input matInput >
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:mt-auto h-16">
                        <mat-form-field appearance="outline" class="w-full ">
                            <mat-label class="text-sm font-normal text-gray-500 w-max whitespace-nowrap">Expiration Date: </mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex background-grey rounded-md mt-2 px-4">
            <div class="flex justify-center items-center sm:6/12 md:w-4/12">
                <div>
                    <p class="font-semibold text-xl text-blue-600">Approval Letter</p>
                    <p class="text-sm font-normal text-gray-500">Provided by Administrator</p>
                </div>
            </div>
            <div class="sm:w-6/12 md:w-8/12">
                <div class="flex flex-col p-2  ">
                    <div class="w-full sm:mt-auto h-16">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label class="text-sm font-normal mr-1 text-gray-500 "> Date: </mat-label>
                            <input matInput  class="">
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:mt-auto h-16">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label class="text-sm font-normal mr-1 text-gray-500 w-max">Sign: </mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex background-grey rounded-md mt-2 px-4">
            <div class="flex justify-center items-center sm:6/12 md:w-4/12">
                <div>
                    <p class="font-semibold text-xl text-blue-600">Contract</p>
                    <p class="text-sm font-normal text-gray-500">Provided by Administrator</p>
                </div>
            </div>
            <div class="sm:w-6/12 md:w-8/12">
                <div class="flex flex-col p-2">
                    <div class="w-full sm:mt-auto h-16">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label class="text-sm font-normal mr-1 text-gray-500 "> Date: </mat-label>
                            <input matInput  class="">
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:mt-auto h-16">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label class="text-sm font-normal mr-1 text-gray-500 w-max">sign: </mat-label>
                            <input matInput >
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex background-grey rounded-md mt-2 px-4">
            <div class="flex justify-center items-center sm:6/12 md:w-4/12">
                <div>
                    <p class="font-semibold text-xl text-blue-600">I-797B</p>
                    <p class="text-sm font-normal text-gray-500">Provided by Administrator</p>
                </div>
            </div>
            <div class="sm:w-6/12 md:w-8/12">
                <div class="flex flex-col p-2">
                    <div class="w-full sm:mt-auto h-16">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label class="text-sm font-normal mr-1 text-gray-500 "> Number: </mat-label>
                            <input matInput  class="">
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:mt-auto h-16">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label class="text-sm font-normal mr-1 text-gray-500 w-max whitespace-nowrap">Expiration Date: </mat-label>
                            <input matInput >
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="sm:w-4/12 md:w-4/12">
        <div class="bg-gray-100 rounded-lg mx-2 shadow">
            <div class="flex flex-col py-4 px-2">
                <div class=" last-of-type:h-2 flex relative min-h-14 {{i < this.statusStep? 'opacity-100':'opacity-50'}}"
                    *ngFor="let item of items;index as i">
                    <div class="flex flex-col items-center min-w-12">
                        <div class="flex justify-center items-center border-2 border-solid border-white rounded-full  w-{{item.status === false? '4': '8'}} h-{{item.status === false? '4': '8'}} bg-white
                                bg-{{item.status === 'a'? 'blue': ''}}-400
                                bg-{{item.status === 'b'? 'red': ''}}-400
                                bg-{{item.status === 'c'? 'orange': ''}}-400
                                bg-{{item.status === 'd1'? 'yellow': ''}}-400
                                bg-{{item.status ==='e1'? 'green': 'red'}}-400
                                bg-{{item.status ==='e2'? 'slate': 'red'}}-400
                                bg-{{item.status === false? 'indigo': ''}}-400">
                            <mat-icon class="{{i+1 < this.statusStep? 'visible': 'invisible'}}"
                                [svgIcon]="'heroicons_outline:check'" [ngStyle]="{'color':'white'}">
                            </mat-icon>
                        </div>
                        <div class="timeline-track"></div>
                    </div>
                    <div class="flex-1 flex flex-row px-4">
                        <div (click)="openStatusBarForm(i)" class="cursor-pointer w-8/12 flex flex-col">
                            <span *ngIf="second_interviewer_id != null || third_interviewer_id != null"
                                class="flex items-center text-md font-sans font-normal">
                                {{item.content}}>
                            </span>
                            <span class="flex items-center text-md font-sans font-normal">{{item.content}}
                                <mat-icon matTooltip="Compose Email" *ngIf="i == 1 || i == 2 || i == 3 || i == 4 || i == 6"
                                    class="ml-2 icon-size-5" [svgIcon]="'heroicons_outline:envelope'"></mat-icon>
                            </span>
                            <!-- <ng-template [ngIf]="item.name === ''">
                            <span class="text-md font-sans font-normal ">{{item.content}}</span>
                                </ng-template> -->
                            <span *ngIf="i == 1" class=" text-md text-black">{{first_interviewer_id === null ? "":
                                first_interviewer_id}} </span>
                            <span *ngIf="i == 2" class=" text-md text-black">{{second_interviewer_id === null ? "":
                                second_interviewer_id}} </span>
                            <span *ngIf="i == 3" class=" text-md text-black">{{third_interviewer_id === null ? "":
                                third_interviewer_id}} </span>
                            <span *ngIf="i == 4" class=" text-md text-black">{{reference_interviewer_id === null ?
                                "": reference_interviewer_id}} </span>
                            <!-- <span *ngIf="i == 5" class=" text-md text-black">{{first_interviewer_id === null ? "": first_interviewer_id}} </span> -->
                        </div>
                        <div class=" w-4/12 flex justify-end font-mono text-xs">
                            {{item.date}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
