<div class="tab bg-white shadow sm:rounded-lg overflow-auto	">
    <mat-tab-group mat-align-tabs="center">
        <!-- Farm Data Nested Tabs-->
        <!-- Farm Info-->
        <mat-tab label="Farms">
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <!-- <ng-container *ngIf="(customers.cropid).length > 0; else noProducts"> -->
                <div class="grid">
                    <div class="flex justify-center md:justify-end float-right my-4 sm:mt-0 sm:mr-14 mr-4">
                        <!-- Add product button -->
                        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openAddFarmDialog()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Add Farm</span>
                            </button>
                    </div>
                    <!-- Header -->
                    <div class="crops-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                        <!-- <div class="hidden md:block" [mat-sort-header]="'sku'">
                                Farm ID
                            </div> -->
                        <div [mat-sort-header]="'name'">Farm Name</div>
                        <div class="hidden lg:block" [mat-sort-header]="'stock'">
                            Farm Harvest Year
                        </div>
                        <div class=" sm:block">Farm Total Acres</div>
                    </div>
                    <!-- Rows -->

                    <!-- <ng-container *ngIf="(customers)">
                            <ng-container *ngFor="let customer of customers; let i = index"> -->
                    <div class="crops-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                        <!-- SKU -->
                        <!-- <div class="hidden md:block truncate">
                                        {{customers.farmId}}
                                    </div> -->

                        <!-- Name -->
                        <div class="truncate">
                            {{customers.farmName}}
                        </div>

                        <!-- Harvest Year -->
                        <div class="hidden sm:block">
                            {{customers.farmHarvestYear}}
                        </div>

                        <!-- Stock -->
                        <div class="lg:flex items-center">
                            <div class="min-w-4 ml-2">{{customers.farmTotalAcres}}</div>
                        </div>
                    </div>
                    <!-- </ng-container>
                        </ng-container> -->
                </div>

                <!-- </ng-container> -->

                <!-- <ng-template #noProducts>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no products!</div>
            </ng-template> -->

            </div>
        </mat-tab>

        <!--Crops Info-->
        <mat-tab label="Crops">
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <!-- <ng-container *ngIf="(customers.cropid).length > 0; else noProducts"> -->
                <div class="grid">

                    <div class="flex justify-center md:justify-end float-right my-4 sm:mt-0 sm:mr-14 mr-4">
                        <!-- Add product button -->
                        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openAddCropDialog()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Add Crop</span>
                            </button>
                    </div>
                    <!-- Header -->
                    <div class="crops-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                        <!-- <div class="hidden md:block" [mat-sort-header]="'sku'">
                                    Crop ID
                                </div> -->
                        <div [mat-sort-header]="'name'">Crop Name</div>
                        <div class="hidden lg:block" [mat-sort-header]="'stock'">
                            Crop Harvest Year
                        </div>
                        <div class="sm:block">Crop Pounds Per Bushel</div>
                    </div>
                    <!-- Rows -->

                    <!-- <ng-container *ngIf="(customers)">
                                <ng-container *ngFor="let customer of customers; let i = index"> -->
                    <div class="crops-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                        <!-- SKU -->
                        <!-- <div class="hidden md:block truncate">
                                            {{customers.cropid}}
                                        </div> -->

                        <!-- Name -->
                        <div class="truncate">
                            {{customers.cropCrop}}
                        </div>

                        <!-- Price -->
                        <div class="hidden sm:block">
                            {{customers.cropHarvestYear}}
                        </div>

                        <!-- Stock -->
                        <div class=" lg:flex items-center">
                            <div class="min-w-4 ml-2">{{customers.cropPoundsPerBushel}}</div>
                        </div>
                    </div>
                    <!-- </ng-container>
                            </ng-container> -->
                </div>

                <!-- </ng-container> -->

                <!-- <ng-template #noProducts>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no products!</div>
                </ng-template> -->

            </div>
        </mat-tab>


        <!-- Fields/Acres Info-->
        <mat-tab label="Fields/Acres">
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <!-- <ng-container *ngIf="(customers.cropid).length > 0; else noProducts"> -->
                <div class="grid">
                    <div class="flex justify-center md:justify-end float-right my-4 sm:mt-0 sm:mr-14 mr-4">
                        <!-- Add product button -->
                        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openAddFarmDialog()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Add Fields/Acres</span>
                            </button>
                    </div>
                    <!-- Header -->
                    <div class="crops-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                        <!-- <div class="hidden md:block" [mat-sort-header]="'sku'">
                                Farm ID
                            </div> -->
                        <div [mat-sort-header]="'name'">Fields/Acres Column 1</div>
                        <div class="hidden lg:block" [mat-sort-header]="'stock'">
                            Fields/Acres Column 2
                        </div>
                        <div class=" sm:block">Fields/Acres Column 3</div>
                    </div>
                    <!-- Rows -->

                    <!-- <ng-container *ngIf="(customers)">
                            <ng-container *ngFor="let customer of customers; let i = index"> -->
                    <div class="crops-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                        <!-- SKU -->
                        <!-- <div class="hidden md:block truncate">
                                        {{customers.farmId}}
                                    </div> -->

                        <!-- Name -->
                        <!-- <div class="truncate">
                                        {{customers.farmName}}
                                    </div> -->

                        <!-- Harvest Year -->
                        <!-- <div class="hidden sm:block">
                                        {{customers.farmHarvestYear}}
                                    </div> -->

                        <!-- Stock -->
                        <!-- <div class="lg:flex items-center">
                                        <div class="min-w-4 ml-2">{{customers.farmTotalAcres}}</div>
                                    </div> -->
                    </div>
                    <!-- </ng-container>
                        </ng-container> -->
                </div>

                <!-- </ng-container> -->

                <!-- <ng-template #noProducts>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no products!</div>
            </ng-template> -->

            </div>
        </mat-tab>

        <!-- Destinations Info-->
        <mat-tab label="Destinations">
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <!-- <ng-container *ngIf="(customers.cropid).length > 0; else noProducts"> -->
                <div class="grid">
                    <div class="flex justify-center md:justify-end float-right my-4 sm:mt-0 sm:mr-14 mr-4">
                        <!-- Add product button -->
                        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openAddFarmDialog()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Add Destinations</span>
                            </button>
                    </div>
                    <!-- Header -->
                    <div class="crops-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                        <!-- <div class="hidden md:block" [mat-sort-header]="'sku'">
                                Farm ID
                            </div> -->
                        <div [mat-sort-header]="'name'">Destinations Column 1</div>
                        <div class="hidden lg:block" [mat-sort-header]="'stock'">
                            Destinations Column 2
                        </div>
                        <div class=" sm:block">Destinations Column 3</div>
                    </div>
                    <!-- Rows -->

                    <!-- <ng-container *ngIf="(customers)">
                            <ng-container *ngFor="let customer of customers; let i = index"> -->
                    <div class="crops-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                        <!-- SKU -->
                        <!-- <div class="hidden md:block truncate">
                                        {{customers.farmId}}
                                    </div> -->

                        <!-- Name -->
                        <!-- <div class="truncate">
                                        {{customers.farmName}}
                                    </div> -->

                        <!-- Harvest Year -->
                        <!-- <div class="hidden sm:block">
                                        {{customers.farmHarvestYear}}
                                    </div> -->

                        <!-- Stock -->
                        <!-- <div class="lg:flex items-center">
                                        <div class="min-w-4 ml-2">{{customers.farmTotalAcres}}</div>
                                    </div> -->
                    </div>
                    <!-- </ng-container>
                        </ng-container> -->
                </div>

                <!-- </ng-container> -->

                <!-- <ng-template #noProducts>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no products!</div>
            </ng-template> -->

            </div>
        </mat-tab>
    </mat-tab-group>
</div>