.farm-data-farms {
    grid-template-columns: 60% 40%;
    @screen sm {
        grid-template-columns: 15% 15% 20% 10% 15% 10%;
    }
    @screen md {
        grid-template-columns: 25% 25 25% 25%;
    }
    @screen lg {
        grid-template-columns: 15% 20% 20% 10% 20% 10%;
    }
}

.farm-data-crops {
    grid-template-columns: 60% 40%;
    @screen sm {
        grid-template-columns: 50% 10% 15% 10%;
    }
    @screen md {
        grid-template-columns: 25% 25 25% 25%;
    }
    @screen lg {
        grid-template-columns: 65% 10% 10% 10%;
    }
}

.farm-data-destination {
    grid-template-columns: 60% 40%;
    @screen sm {
        grid-template-columns: 15% 35% 10% 15% 10%;
    }
    @screen md {
        grid-template-columns: 25% 25 25% 25%;
    }
    @screen lg {
        grid-template-columns: 15% 50% 10% 10% 10%;
    }
}