<!--Resources Nested Tabs-->
<div class="h-full rounded-lg overflow-auto absolute inset-0 overflow-hidden bg-card dark:bg-transparent">
    <mat-tab-group mat-align-tabs="start" class="tab_group" (selectedTabChange)="rateTabChanged($event)">
        <!-- Custom Harvesting-->
        <mat-tab label="Custom Harvesting">
            <!-- Combining -->
            <app-list-combining-rate [combiningRateList]="(combiningRateList$ | async)"></app-list-combining-rate>
            <!-- Hauling -->
            <app-list-hauling-rate [haulingRateList]="(haulingRateList$ | async)"></app-list-hauling-rate>
        </mat-tab>
        <!--Commercial Trucking -->
        <mat-tab label="Commercial Trucking">
            <app-list-trucking-rate [truckingRateList]="(truckingRateList$ | async)"></app-list-trucking-rate>
        </mat-tab>
        <!--Custom Farming-->
        <mat-tab label="Custom Farming">
            <app-list-farming-rate [farmingRateList]="(farmingRateList$ | async)"></app-list-farming-rate>
        </mat-tab>
        <!-- Summary -->
        <mat-tab label="Summary" class="summary-tab flex flex-col">
            <!-- Custom Harvesting-->
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-t border-gray-200">
                <div>
                    <header class="ml-2 text-3xl font-extrabold tracking-tight">
                        Combining
                    </header>
                </div>
                <div class="mt-2 flex">
                    <!-- Search -->
                    <!-- <mat-form-field
                        class="mr-4 fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-44 lg:min-w-44 lg:min-w-64">
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:search'"
                        ></mat-icon>
                        <form [formGroup]="searchCombiningForm">
                            <input
                                matInput
                                formControlName="search"
                                [autocomplete]="'off'"
                                [placeholder]="'Search'"/>
                        </form>
                    </mat-form-field> -->
                    <!-- Import/Export -->
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <!-- <button mat-menu-item>
                            <mat-icon>filter</mat-icon>
                            <span>Filters</span>
                        </button> -->
                        <button mat-menu-item>
                            <mat-icon>upload</mat-icon>
                            <span>Import</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>download</mat-icon>
                            <span>Export</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>download</mat-icon>
                            <span>Download Template</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <!-- Main -->
            <div class="sm:p-0">
                <div *ngIf="combiningRateList$ | async as combiningRateList " class="flex flex-auto overflow-hidden">
                    <!-- Products list -->
                    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                        <ng-container>
                            <div class="grid summary-pg-rows-height overflow-y-auto">
                                <!-- Header -->
                                <div class="combining-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear (matSortChange)="sortData($event, 'Combining')">
                                    <div mat-sort-header="crop_name">
                                        Crop
                                    </div>
                                    <div mat-sort-header="bushel_weight">
                                        Bushel Weight
                                    </div>
                                    <div mat-sort-header="combining_rate" class="hidden sm:block ">
                                        Combining Rate
                                        <mat-hint>(Per Acre)</mat-hint>
                                    </div>
                                    <div mat-sort-header="base_bushels" class="hidden sm:block">
                                        Base Bushels
                                        <mat-hint>(Per Acre)</mat-hint>
                                    </div>
                                    <div mat-sort-header="premium_rate" class="hidden sm:block">
                                        Premium Rate
                                        <mat-hint>(Per Bushel)</mat-hint>
                                    </div>
                                </div>
                                <!-- Rows -->
                                <div class="rows-wrapper-summary">
                                    <ng-container
                                        *ngIf="combiningRateList?.combining_rates.length > 0 else noCombiningRateList">
                                        <ng-container *ngFor="let combiningRate of combiningRateList.combining_rates">
                                            <div
                                                class="combining-grid grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                <div class="truncate">
                                                    {{combiningRate.crop_name}}
                                                </div>
                                                <div>
                                                    {{combiningRate.bushel_weight}}
                                                </div>
                                                <div class="hidden sm:block items-center">
                                                    {{combiningRate.combining_rate}}
                                                </div>
                                                <div class="hidden sm:block items-center">
                                                    {{combiningRate.base_bushels == null ? '-':
                                                    combiningRate.base_bushels }}
                                                </div>
                                                <div class="hidden sm:block">
                                                    {{combiningRate.premium_rate == 0 ? '-' : combiningRate.premium_rate
                                                    }}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                            <!-- <mat-paginator
                                    class="border-b border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                    [ngClass]="{ 'pointer-events-none': isLoading }"
                                    [length]="combiningRateList?.count"
                                    [pageIndex]="page - 1"
                                    [pageSize]="5"
                                    [pageSizeOptions]="pageSizeOptionsSummary"
                                    (page)="pageChanged($event, 'summaryCombining')"
                                    [showFirstLastButtons]="true">
                                </mat-paginator> -->
                        </ng-container>
                        <ng-template class="flex" #noCombiningRateList>
                            <div class="show-centered-notice h-full justify-center items-center flex">
                                <div class="p-8 sm:p-16 text-4xl font-semibold tracking-tight text-center">
                                    No Combining Rate(s) Found!
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!-- Hauling -->
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-t border-gray-200">
                <div>
                    <header class="ml-2 text-3xl font-extrabold tracking-tight">
                        Hauling
                    </header>
                </div>
                <div class="mt-2 flex">
                    <!-- Search -->
                    <!-- <mat-form-field
                        class="mr-4 fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-44 lg:min-w-44 lg:min-w-64">
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:search'"
                        ></mat-icon>
                        <form [formGroup]="searchHaulingForm">
                            <input
                                matInput
                                formControlName="search"
                                [autocomplete]="'off'"
                                [placeholder]="'Search'"/>
                        </form>
                    </mat-form-field> -->
                    <!-- Import/Export -->
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <!-- <button mat-menu-item>
                            <mat-icon>filter</mat-icon>
                            <span>Filters</span>
                        </button> -->
                        <button mat-menu-item>
                            <mat-icon>upload</mat-icon>
                            <span>Import</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>download</mat-icon>
                            <span>Export</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>download</mat-icon>
                            <span>Download Template</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <!-- Main -->
            <div class="sm:p-0">
                <div *ngIf="haulingRateList$ | async as haulingRateList" class="flex flex-auto overflow-hidden">
                    <!-- Products list -->
                    <div class="flex flex-col flex-auto  overflow-hidden sm:overflow-y-auto">
                        <ng-container>
                            <div class="grid summary-pg-rows-height overflow-y-auto">
                                <!-- Header -->
                                <div class="hauling-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear (matSortChange)="sortData($event, 'Hauling')">
                                    <div mat-sort-header="rate_type">
                                        Rate Type
                                    </div>
                                    <div mat-sort-header="rate">
                                        Rate
                                    </div>
                                    <div mat-sort-header="base_rate" class="hidden sm:block ">
                                        Base Rate
                                        <mat-hint>(Per Tons)</mat-hint>
                                    </div>
                                    <div mat-sort-header="premium_rate" class="hidden sm:block">
                                        Premium Rate
                                        <mat-hint>(Per Mile)</mat-hint>
                                    </div>
                                </div>
                                <!-- Rows -->
                                <div class="rows-wrapper-summary">
                                    <ng-container
                                        *ngIf="haulingRateList.hauling_rates.length > 0 else noHaulingRateList">
                                        <ng-container *ngFor="let haulingRate of haulingRateList.hauling_rates">
                                            <div
                                                class="hauling-grid grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                <div class="truncate">
                                                    {{haulingRate.rate_type}}
                                                </div>
                                                <div>
                                                    {{haulingRate.rate == 0? '-' : haulingRate.rate}}
                                                </div>
                                                <div class="hidden sm:block items-center">
                                                    {{haulingRate.base_rate == 0? '-' : haulingRate.base_rate}}

                                                </div>
                                                <div class="hidden sm:block items-center">
                                                    {{haulingRate.premium_rate == 0? '-' : haulingRate.premium_rate}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                            <!-- <mat-paginator
                                    class="border-b border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                    [ngClass]="{ 'pointer-events-none': isLoading }"
                                    [length]="haulingRateList?.count"
                                    [pageIndex]="page - 1"
                                    [pageSize]="5"
                                    [pageSizeOptions]="pageSizeOptionsSummary"
                                    (page)="pageChanged($event, 'summaryHauling')"
                                    [showFirstLastButtons]="true">
                                </mat-paginator> -->
                        </ng-container>
                        <ng-template class="flex" #noHaulingRateList>
                            <div class="show-centered-notice h-full justify-center items-center flex">
                                <div class="p-8 sm:p-16 text-4xl font-semibold tracking-tight text-center">
                                    No Hauling Rate(s) Found!
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!--Commercial Trucking -->
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-t border-gray-200">
                <div>
                    <header class="ml-2 text-3xl font-extrabold tracking-tight">
                        Commercial Trucking
                    </header>
                </div>
                <div class="mt-2 flex">
                    <!-- Search -->
                    <!-- <mat-form-field
                        class="mr-4 fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-44 lg:min-w-44 lg:min-w-64">
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:search'"
                        ></mat-icon>
                        <form [formGroup]="searchTruckingForm">
                            <input
                                matInput
                                formControlName="search"
                                [autocomplete]="'off'"
                                [placeholder]="'Search'"/>
                        </form>
                    </mat-form-field> -->
                    <!-- Import/Export -->
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <!-- <button mat-menu-item>
                            <mat-icon>filter</mat-icon>
                            <span>Filters</span>
                        </button> -->
                        <button mat-menu-item>
                            <mat-icon>upload</mat-icon>
                            <span>Import</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>download</mat-icon>
                            <span>Export</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>download</mat-icon>
                            <span>Download Template</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <!-- Main -->
            <div class="sm:p-0">
                <div *ngIf="truckingRateList$ | async as truckingRateList" class="flex flex-auto overflow-hidden">
                    <!-- Products list -->
                    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                        <ng-container>
                            <div class="grid summary-pg-rows-height overflow-y-auto">
                                <!-- Header -->
                                <div class="commercial-trucking-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear (matSortChange)="sortData($event, 'Trucking')">
                                    <div mat-sort-header="rate_type">
                                        Rate Type
                                    </div>
                                    <div mat-sort-header="rate">
                                        Rate
                                    </div>
                                </div>
                                <!-- Rows -->
                                <div class="rows-wrapper-summary h-72">
                                    <ng-container
                                        *ngIf="truckingRateList?.trucking_rates.length > 0 else noTruckingRateList">
                                        <ng-container *ngFor="let truckingRate of truckingRateList?.trucking_rates">
                                            <div
                                                class="commercial-trucking-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                <div class="truncate">
                                                    {{truckingRate.rate_type}}
                                                </div>
                                                <div>
                                                    {{truckingRate.rate}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                            <!-- <mat-paginator
                                    class="border-b border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                    [ngClass]="{ 'pointer-events-none': isLoading }"
                                    [length]="truckingRateList?.count"
                                    [pageIndex]="page - 1"
                                    [pageSize]="5"
                                    [pageSizeOptions]="pageSizeOptionsSummary"
                                    (page)="pageChanged($event, 'summaryTrucking')"
                                    [showFirstLastButtons]="true">
                                </mat-paginator> -->
                        </ng-container>
                        <ng-template class="flex" #noTruckingRateList>
                            <div class="show-centered-notice h-full justify-center items-center flex">
                                <div class="p-8 sm:p-16 text-4xl font-semibold tracking-tight text-center">
                                    No Commercial Trucking Rate(s) Found!
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!--Custom Farming-->
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-t border-gray-200">
                <div>
                    <header class="ml-2 text-3xl font-extrabold tracking-tight">
                        Custom Farming
                    </header>
                </div>
                <div class="mt-2 flex">
                    <!-- Search -->
                    <!-- <mat-form-field
                        class="mr-4 fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-44 lg:min-w-44 lg:min-w-64">
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:search'"
                        ></mat-icon>
                        <form [formGroup]="searchCustomFarmingForm">
                            <input
                                matInput
                                formControlName="search"
                                [autocomplete]="'off'"
                                [placeholder]="'Search'"/>
                        </form>
                    </mat-form-field> -->
                    <!-- Import/Export -->
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <!-- <button mat-menu-item>
                            <mat-icon>filter</mat-icon>
                            <span>Filters</span>
                        </button> -->
                        <button mat-menu-item>
                            <mat-icon>upload</mat-icon>
                            <span>Import</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>download</mat-icon>
                            <span>Export</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>download</mat-icon>
                            <span>Download Template</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <!-- Main -->
            <div class="sm:p-0">
                <div *ngIf="farmingRateList$ | async as farmingRateList" class="flex flex-auto overflow-hidden">
                    <!-- Products list -->
                    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                        <ng-container>
                            <div class="grid summary-pg-rows-height overflow-y-auto">
                                <!-- Header -->
                                <div class="commercial-trucking-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear (matSortChange)="sortData($event, 'Farming')">
                                    <div mat-sort-header="equipment_type">
                                        Equipment Type
                                    </div>
                                    <div mat-sort-header="rate">
                                        Rate
                                    </div>
                                </div>
                                <!-- Rows -->
                                <div class="rows-wrapper-summary h-72">
                                    <ng-container
                                        *ngIf="farmingRateList?.farming_rates.length > 0 else nofarmingRateList">
                                        <ng-container *ngFor="let farmingRate of farmingRateList.farming_rates">
                                            <div
                                                class="commercial-trucking-grid grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                <div class="truncate">
                                                    {{farmingRate.equipment_type}}
                                                </div>
                                                <div>
                                                    {{farmingRate.rate}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                            <!-- <mat-paginator
                                    class="border-b border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                    [ngClass]="{ 'pointer-events-none': isLoading }"
                                    [length]="farmingRateList.count"
                                    [pageIndex]="page - 1"
                                    [pageSize]="5"
                                    [pageSizeOptions]="pageSizeOptionsSummary"
                                    (page)="pageChanged($event, 'summaryFarming')"
                                    [showFirstLastButtons]="true">
                                </mat-paginator> -->
                        </ng-container>
                        <ng-template class="flex" #nofarmingRateList>
                            <div class="show-centered-notice h-full justify-center items-center flex">
                                <div class="p-8 sm:p-16 text-4xl font-semibold tracking-tight text-center">
                                    No Custom Farming Rate(s) Found!
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>