
    <!-- Actions -->
    <div class="overflow-y-auto">
        <div class="flex sm:justify-between justify-around items-center sm:mr-12 p-2">
            <p class=" text-black ml-2 text-2xl font-extrabold tracking-tight">Employee Data</p>
            <button *ngIf="!isEditMode" class="" mat-flat-button [color]="'primary'" (click)="enableEditButton()">
                <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                <span class="">Edit</span>
            </button>
        </div>
        <!-- Image-->
        <div class="flex sm:justify-start justify-center py-2 border-t mx-4">
            <img class="inline-block h-24 w-24 rounded-full sm:ml-20" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80" alt="">
        </div>
        <form [formGroup]="selectedProductForm" class="flex flex-col flex-auto sm:p-0 p-6 sm:grid overflow-y-auto ">
            <div class="grid sm:gap-2 sm:grid-cols-2 grid-cols-1 py-0 sm:pl-12 md:pl-12 pl-2 pr-2 min-h-100">
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">First Name: </mat-label>
                    <mat-label>Sam</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Last Name: </mat-label>
                    <mat-label>John</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Email </mat-label>
                    <mat-label>s@s.com</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Cell Phone Number: </mat-label>
                    <mat-label>+1(123)-456-7890</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Home Phone Number: </mat-label>
                    <mat-label class="">+1(123)-456-5890</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">US Phone Number: </mat-label>
                    <mat-label class="">+1(123)-456-5890</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Address 1: </mat-label>
                    <mat-label class="">Michigan Heights</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Address 2: </mat-label>
                    <mat-label class="">Michigan Heights</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Town/City </mat-label>
                    <mat-label class="">Michigan</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Country: </mat-label>
                    <mat-label class="">U.S.</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Postal Code: </mat-label>
                    <mat-label class="">54000</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Supervisor Phone Number: </mat-label>
                    <mat-label class="">000-0000-0000</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Emergency Contact Name: </mat-label>
                    <mat-label class="">John</mat-label>
                </div>
                <div class="flex flex-row sm:items-center sm:p-0 p-2">
                    <mat-label class="text-base font-extrabold text-gray-500 sm:w-5/12 w-36">Emergency Contact Phone: </mat-label>
                    <mat-label class="">000-0000-0000</mat-label>
                </div>

            </div>
        </form>
    </div>

    <div class="flex justify-end mr-14 mt-1 mb-4">
        <button *ngIf="isEditMode" class="ml-4" mat-flat-button [color]="'warn'" (click)="disableEditButton()">
                <span class="ml-2 mr-1">Cancel</span>
            </button>
        <button *ngIf="isEditMode" class="ml-4" mat-flat-button [color]="'primary'" (click)="disableEditButton()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Save</span>
            </button>
    </div>
