<div>
    <mat-accordion>
        <mat-expansion-panel class="mb-4 bg-gray-100  py-1" (opened)="panelOpenState = true"  [expanded]="true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="text-lg font-extrabold text-gray-500">
                    Harvesting Revenue Estimates
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="bg-white">
                <div class="w-full overflow-x-auto shadow rounded-md"  *ngIf="customerReporting$ | async as harvestingReports">
                    <div *ngIf=" harvestingReports.harvestingServices?.length > 0; else noReports ">
                        <table class="whitespace-nowrap">
                            <thead
                                class="py-4 xshadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                                <tr class="h-4">
                                    <th class="py-4 px-4 border-b w-64">Harvesting Services</th>
                                    <th class="py-4 px-4 border-b w-64">Farm</th>
                                    <th class="py-4 px-4 border-b w-64">Crop</th>
                                    <th class="py-4 px-4 border-b w-64">Rate Type</th>
                                    <th class="py-4 px-4 border-b w-64">Quantity</th>
                                    <th class="py-4 px-4 border-b w-64">Rate</th>
                                    <th class="py-4 px-4 border-b w-64">Revenue</th>
                                    <th class="py-4 px-4 border-b w-64">Revenue / Acre</th>
                                    <th class="py-4 px-4 border-b w-64">Revenue / Bushel</th>
                                    <!-- ... add more headers as needed -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let harvestingReport of harvestingReports.harvestingServices">
                                    <td class="px-4 py-2 text-center border-b w-64">Job {{harvestingReport.job_name}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.farm_name}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.crop_name}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.rate_type}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.quantity}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.rate}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.revenue}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.revenue_per_acre}}</td>
                                    <td class="px-4 text-center border-b w-64"></td>
                                </tr>

                                <tr>
                                    <td class="px-4 text-center border-b w-64"></td>
                                    <td class="px-4 text-center border-b w-64"></td>
                                    <td class="px-4 text-center border-b w-64"></td>
                                    <td class="px-4 text-center border-b w-64"></td>
                                    <td class="px-4 text-center border-b w-64"></td>
                                    <th>Sub Total</th>
                                    <td class="px-4 py-2 text-center border-b w-64 font-bold">{{getSubTotal(harvestingReports.harvestingServices, 'revenue')}}</td>
                                    <td class="px-4 text-center border-b w-64 font-bold">{{getSubTotal(harvestingReports.harvestingServices, 'revenue_per_acre')}}</td>
                                    <td class="px-4 text-center border-b w-64 font-bold"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <ng-template #noReports>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There
                            are no harvesting services reports!</div>
                    </ng-template>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel class="mb-4 bg-gray-100  py-1" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="text-lg font-extrabold text-gray-500">
                    Hauling Revenue Estimates
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="bg-white">
                <div class="w-full overflow-x-auto shadow rounded-md" *ngIf="customerReporting$ | async as harvestingReports">
                    <div  *ngIf=" harvestingReports.haulingServices?.length > 0; else noReports ">
                        <table class="whitespace-nowrap">
                            <thead
                                class="py-4 xshadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                                <tr class="h-4">
                                    <th class="py-4 px-4 border-b w-64">Hauling Services</th>
                                    <th class="py-4 px-4 border-b w-64">Farm</th>
                                    <th class="py-4 px-4 border-b w-64">Crop</th>
                                    <th class="py-4 px-4 border-b w-64">Rate Type</th>
                                    <th class="py-4 px-4 border-b w-64">Quantity</th>
                                    <th class="py-4 px-4 border-b w-64">Rate</th>
                                    <th class="py-4 px-4 border-b w-64">Revenue</th>
                                    <th class="py-4 px-4 border-b w-64">Revenue / Acre</th>
                                    <th class="py-4 px-4 border-b w-64">Revenue / Bushel</th>
                                    <!-- ... add more headers as needed -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let harvestingReport of harvestingReports.haulingServices">
                                    <td class="px-4 py-2 text-center border-b w-64">Job {{harvestingReport.job_name}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.farm_name}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.crop_name}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.rate_type}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.quantity}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.rate}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.revenue}}</td>
                                    <td class="px-4 text-center border-b w-64">{{harvestingReport.revenue_per_acre}}</td>
                                    <td class="px-4 text-center border-b w-64"></td>
                                </tr>

                                <tr>
                                    <td class="px-4 text-center border-b w-64"></td>
                                    <td class="px-4 text-center border-b w-64"></td>
                                    <td class="px-4 text-center border-b w-64"></td>
                                    <td class="px-4 text-center border-b w-64"></td>
                                    <td class="px-4 text-center border-b w-64"></td>
                                    <th>Sub Total</th>
                                    <td class="px-4 py-2 text-center border-b w-64 font-bold">{{getSubTotal(harvestingReports.haulingServices, 'revenue')}}</td>
                                    <td class="px-4 text-center border-b w-64 font-bold">{{getSubTotal(harvestingReports.haulingServices, 'revenue_per_acre')}}</td>
                                    <td class="px-4 text-center border-b w-64 font-bold"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <ng-template #noReports>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There
                            are no hauling services reports!</div>
                    </ng-template>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="mt-12">
        <div class="w-full overflow-x-auto shadow rounded-md" *ngIf="customerReporting$ | async as harvestingReports">
            <div *ngIf=" harvestingReports.totalByCrop?.length > 0; else noReports ">
                <table class="whitespace-nowrap">
                    <thead
                        class="py-4 xshadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                        <tr class="h-4">
                            <th class="border-b">Total</th>
                            <th class="py-4 px-4 border-b w-64">Revenue</th>
                            <th class="py-4 px-4 border-b w-64">Revenue / Acre</th>
                            <th class="py-4 px-4 border-b w-64">Revenue / Bushel</th>
                            <!-- ... add more headers as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let harvestingReport of harvestingReports.totalByCrop">
                            <td class="px-4 py-4 text-center border-b w-64">Total {{harvestingReport.crop_name}} Crop</td>
                            <td class="px-4 text-center border-b w-64">{{harvestingReport.total_revenue}}</td>
                            <td class="px-4 text-center border-b w-64">{{harvestingReport.total_revenue_per_acre}}</td>
                            <td class="px-4 text-center border-b w-64"></td>
                        </tr>

                        <tr>
                            <th class="border-b py-4 flex pl-4">Total Income</th>
                            <td class="px-4 py-4 text-center border-b w-64 font-bold">{{getSubTotal(harvestingReports.totalByCrop, 'total_revenue')}}</td>
                            <td class="px-4 text-center border-b w-64 font-bold">{{getSubTotal(harvestingReports.totalByCrop, 'total_revenue_per_acre')}}</td>
                            <td class="px-4 text-center border-b w-64 font-bold"></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <ng-template #noReports>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There
                    are no Reports!</div>
            </ng-template>
        </div>
    </div>
</div>
