:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkbox {
    margin-left: 2rem;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.progress-bar {
    padding: 0;
}

.progress {
    width: 50px;
}

.mat-input-element {
    font-size: medium;
    font-weight: 200;
}

#fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
}

.mat-toolbar-single-row button {
    width: 100px;
}

.mat-form-field {
    width: 100%;
}