<div *ngIf="employee">
    <div class="bg-gray-100 rounded-lg mx-2 shadow">
        <div class="flex flex-col py-4 px-2 mt-2">
            <div *ngFor="let item of employee.employee_status_bar; index as i">
                <div
                    class="last-of-type:h-2 flex relative {{item.show? 'min-h-14': 'min-h-0'}} {{item.active? 'opacity-100':'opacity-50'}}">
                    <div *ngIf="item.show" class="flex flex-col items-center min-w-12">
                        <div class="flex justify-center items-center border-2 border-solid border-white rounded-full  w-{{this.results.includes(item.step)? '4': '8'}} h-{{this.results.includes(item.step)? '4': '8'}}
                            bg-green-400">
                            <mat-icon class="{{ item.status == true ? 'visible': 'invisible' }}"
                                [svgIcon]="'heroicons_outline:check'" [ngStyle]="{'color':'white'}">
                            </mat-icon>
                        </div>
                        <div class="timeline-track"></div>
                    </div>
                    <div *ngIf="item.show" class="flex-1 flex flex-row px-4">

                        <div class="w-8/12 flex flex-col">
                            <span class="flex items-center text-md font-sans font-normal">{{item.step}}
                                <div
                                    [ngClass]="{ 'animate-bounce cursor-pointer': item.click, 'pointer-events-none': !item.click }">
                                    <mat-icon matTooltip="Compose Email" (click)="composeEmail(i)"
                                        *ngIf="i == 1 || i == 3 || i == 5 || i == 7 || i == 9" class="ml-2 icon-size-5"
                                        [svgIcon]="'heroicons_outline:envelope'">
                                    </mat-icon>
                                    <mat-icon matTooltip="Verify" (click)="verifyDocs(i,'Accept')"
                                        *ngIf="i == 2 || i == 4 || i == 6 || i == 8 || i == 10" class="ml-2 icon-size-5"
                                        [svgIcon]="'heroicons_outline:check-circle'">
                                    </mat-icon>
                                    <mat-icon matTooltip="Verify" (click)="verifyDocs(i,'Reject')"
                                    *ngIf="i == 2 || i == 4 || i == 6 || i == 8 || i == 10" class="ml-2 icon-size-5"
                                    [svgIcon]="'heroicons_outline:x-circle'">
                                </mat-icon>
                                </div>
                            </span>
                            <!-- <mat-hint
                                *ngIf="applicantInfo?.applicant_info?.reason_for_rejection != 'undefined' && applicantInfo?.applicant_info?.reason_for_rejection != 'null'  && applicantInfo?.applicant_info?.reason_for_rejection && i == 9 "
                                class="my-1 text-red-600 text-md font-semibold">
                                {{applicantInfo?.applicant_info?.reason_for_rejection}}
                            </mat-hint>
                            <mat-hint *ngIf="i == 2" class="my-1 text-md font-semibold">
                                {{applicantInfo?.applicant_info.first_interviewer_name === null ?
                                "" : "(" + applicantInfo?.applicant_info.first_interviewer_name + ")"}}
                            </mat-hint>
                            <mat-hint *ngIf="i == 3" class="my-1 text-md font-semibold">
                                {{applicantInfo?.applicant_info.second_interviewer_name === null ?
                                "" : "(" + applicantInfo?.applicant_info.second_interviewer_name + ")"}}
                            </mat-hint>
                            <mat-hint *ngIf="i == 4" class="my-1 text-md font-semibold">
                                {{applicantInfo?.applicant_info.third_interviewer_name === null ?
                                "" : "(" + applicantInfo?.applicant_info.third_interviewer_name + ")"}}
                            </mat-hint>
                            <mat-hint *ngIf="i == 5" class="my-1 text-md font-semibold">
                                {{applicantInfo?.applicant_info.reference_interviewer_name === null ?
                                "": "(" + applicantInfo?.applicant_info.reference_interviewer_name + ")"}}
                            </mat-hint> -->
                        </div>
                        <div class="mt-1 w-4/12 flex justify-end font-mono text-xs">
                            {{item.date | date: "MM-dd-YYYY"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>