.list {
    padding: 0;
  }
  
  .list li {
    display: flex;
  }

$mobile: 767px;
$medium: 768px;



.pop-up-good-fit {
    @media screen and (max-width: $mobile) {
        max-height: 85vh !important;

    }
}
  