<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Crops</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput (keyup)="updateFilter($event)" [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search Crops'" />
            </mat-form-field>
            <!-- Add product button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openAddDialog()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="lg:ml-2">Add</span>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>filter</mat-icon>
                    <span>Filters</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>upload</mat-icon>
                    <span>Import</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>download</mat-icon>
                    <span>Export</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>download</mat-icon>
                    <span>Download Template</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <ngx-datatable #myFilterTable class="material" [limit]="10" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [sorts]="[{ prop: 'name', dir: 'desc' }]">
        <ngx-datatable-column name="Crop" prop="cropName">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.cropName }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Variety">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.variety }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Bushel Weight">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.bushelWeight }}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
