<!--Resources Nested Tabs-->
<div class="tab bg-white shadow sm:rounded-lg overflow-auto	">
    <mat-tab-group mat-align-tabs="center">
        <!-- Documents Info-->
        <mat-tab label="Documents">
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <h2 class="center text-center">Administrator will use this tab to show Documents
                </h2>
            </div>
        </mat-tab>

        <!--How To -->
        <mat-tab label="Farms Information">
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <h2 class="center text-center">Administrator will use this tab to show How To Items
                </h2>
            </div>
        </mat-tab>


        <!-- Hot Links-->
        <mat-tab label="Hot Links">
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <h2 class="center text-center">Administrator will use this tab to show Hot Links
                </h2>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>