.tab .mat-tab-group .mat-tab-body-content {
    padding: 0px !important;
}

.tab .mat-tab-group .mat-tab-labels {
    padding: 12px !important;
}

.timeline-track{
    // display: flex;
    flex-grow: 1;
    // background-color: blue;
    width: 1px;
    background-color: #9fa2a4;
    box-shadow: 0 4px 8px #8db8e4;

}
// ::ng-deep .countryCode1 .mat-stroked-button{
//       min-width: none;
//  }
.countryCode1{
    min-width: none !important;
}

.status-bar>div:last-child .timeline-track{

    display: none !important;



}


