<div
    class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 sm:py-4 px-6 md:px-8 border-b ">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div
            (click)="backHandler()"
            class="flex sm:flex-row flex-col gap-3 sm:items-center text-4xl font-extrabold tracking-tigh w-full cursor-pointer"
        >
        <div class="flex items-center">
            <mat-icon
                class="icon-size-6 text-secondary"
                [svgIcon]="'heroicons_solid:arrow-circle-left'"
            ></mat-icon>
            <span class="ml-1 capitalize text-2xl font-extrabold tracking-tight"
                >{{ applicants.fname }} {{ applicants.lname }}
            </span>
        </div>
            <div class="sm:w-auto lg:w-auto w-full">
                <ng-template [ngIf]="selectedIndex === 'Applicant Data'">
                    <p class="text-lg text-gray-300	font-normal ">(Recruiter decision made)</p>
                </ng-template>
                <ng-template [ngIf]="selectedIndex === 'Recruiter Data'">
                    <p class="text-lg text-blue-300	font-normal">(Advance to Pre-employment Process)</p>
                </ng-template>
                <ng-template [ngIf]="selectedIndex === 'Old Submitted Application'">
                    <p class="text-lg text-red-400	font-normal">(Offer Accepted)</p>
                </ng-template>
            </div>

        </div>
        <!-- Actions -->
    </div>

    <!-- Main for Web & Tab -->
    <div class="sm:flex sm:flex-row mb-4 pt-2  sm:visible hidden">
        <div class="w-4/12 h-12 flex justify-start items-center ">
            <div class="flex" *ngFor="let route of routesLeft;let i = index">
                <button mat-stroked-button  [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'" [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 ml-1 sm:w-30 " (click)="clicked(route)">
                        <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
                    </button>
            </div>
        </div>
        <div class="w-8/12 sm:h-12 flex sm:flex-row   justify-end items-center px-3">
                <div class="" *ngFor="let route of routesright;let i = index">
                    <button mat-stroked-button  [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'" [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 ml-1 sm:w-48 " (click)="clicked(route)">
                            <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
                        </button>
                </div>
            <button mat-stroked-button   class="my-1 ml-2" (click)="openUpdateDialog()">
                <span style="font-size: 13px;"> Update Profile </span>
            </button>
            <button mat-stroked-button   class="my-1 ml-2">
                <span style="font-size: 13px"> Download/Print Profile </span>
            </button>
        </div>
    </div>
        <!-- Main for Mobile -->
    <div class="flex sm:flex-row mb-4 pt-2 pb-2  sm:hidden visible overflow-x-scroll">
            <div class="flex" *ngFor="let route of routesLeft;let i = index">
                <button mat-stroked-button  [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'" [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 ml-1 sm:w-30 " (click)="clicked(route)">
                        <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
                    </button>
            </div>
        <div class="flex" *ngFor="let route of routesright;let i = index">
            <button mat-stroked-button  [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'" [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 ml-1 sm:w-48 " (click)="clicked(route)">
                    <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
                </button>
        </div>
            <button mat-stroked-button   class="my-1 ml-2 min-w-40" (click)="openUpdateDialog()">
                <span style="font-size: 13px;"> Update Profile </span>
            </button>
            <button mat-stroked-button   class="my-1 ml-2 min-w-48">
                <span style="font-size: 13px"> Download/Print Profile </span>
            </button>
    </div>

    <div class="flex sm:flex-row flex-col ">
        <div class="sm:w-8/12 md:w-8/12">
            <div>
                <ng-template [ngIf]="selectedIndex === 'Applicant Data'">
                    <app-applicantdata>
                    </app-applicantdata>
                </ng-template>
            </div>
            <div>
                <ng-template [ngIf]="selectedIndex === 'Recruiter Data'">
                    <app-recruiterremarks>
                    </app-recruiterremarks>
                </ng-template>
            </div>
            <div>
                <ng-template [ngIf]="selectedIndex === 'Prior Application'">
                    <app-applicantdata>
                    </app-applicantdata>
                </ng-template>
            </div>

        </div>
        <div class="sm:w-4/12 md:w-4/12">
            <div class="h-180 bg-gray-100 rounded mx-2 my-2">
            <div class="flex flex-col   py-4 px-2">
                <div class="flex relative min-h-14 {{item.active? 'opacity-100':'opacity-50'}}" *ngFor="let item of items" >
                   <div class="flex flex-col items-center min-w-12">
                    <div class="flex justify-center items-center border-2 border-solid border-white rounded-full  w-{{item.status === false? '4': '8'}} h-{{item.status === false? '4': '8'}} bg-white

                      bg-{{
                        item.status === 'a'
                            ? 'blue'
                            : ''
                    }}-400
                    bg-{{
                        item.status === 'b'
                            ? 'red'
                            : ''
                    }}-400
                    bg-{{
                        item.status === 'c'
                            ? 'orange'
                            : ''
                    }}-400
                      bg-{{
                        item.status === 'd1'
                            ? 'yellow'
                            : ''
                    }}-400
             bg-{{
                        item.status ===
                        'e1'
                            ? 'green'
                            : 'red'
                    }}-400

                    bg-{{
                        item.status ===
                        false
                            ? 'indigo'
                            : ''
                    }}-400
                      "
                      >
                      <mat-icon
                        class="{{item.active? 'visible': 'invisible'}}"
                         [svgIcon]="'heroicons_outline:check'"
                         [ngStyle]="{'color':'white'}"
                         ></mat-icon>
                        </div>
                    <div class="timeline-track"></div>
                     </div>
                   <div class="flex-1 flex flex-row px-4">
                    <div class="w-8/12 flex flex-col">
                        <ng-template [ngIf]="item.name !== ''">
                            <span class="text-md font-sans font-normal text-gray-400">{{item.content}}</span>
                        </ng-template>
                        <ng-template [ngIf]="item.name === ''">
                            <span class="text-md font-sans font-normal text-gray-400 mt-2">{{item.content}}</span>
                        </ng-template>
                        <span class=" text-md text-black">{{item.name === 'rejected'? "": item.name}}</span>
                    </div>
                    <div class=" w-4/12 flex justify-end font-mono text-xs">
                        {{item.date}}
                    </div>
                   </div>
                </div>
            </div>

            <div class="flex flex-row justify-center items-center mb-5">
                <button
                    class="hover:bg-blue-700 bg-blue-700 text-white font-sans hover:text-white py-2 px-2 rounded mr-2 w-44"
                >
                    <span>Advance to offer</span>
                </button>
                <button
                    class="bg-transparent hover:bg-red-500 text-red-500 font-sans hover:text-white py-2 px-2 border border-red-500 hover:border-transparent rounded w-28"
                >
                    <span>Reject</span>
                </button>
            </div>
        </div>
        </div>
    </div>
</div>
