<div class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent p-8">
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 sm:py-4">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoadingApplicant$ | async">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div
            class="flex sm:flex-row flex-col gap-3 sm:items-center text-4xl font-extrabold tracking-tigh w-full cursor-pointer">
            <div class="flex items-center" *ngIf="applicant$ | async as applicantInfo">
                <mat-icon (click)="backHandler()" class="icon-size-6 text-secondary"
                    [svgIcon]="'heroicons_solid:arrow-circle-left'"></mat-icon>
                <img *ngIf="applicantInfo?.applicant_info.avatar" class="inline-block h-24 w-24 rounded-full"
                    src="{{applicantInfo.applicant_info.avatar}}" alt="">
                <img *ngIf="applicantInfo?.applicant_info.avatar == ''" class="inline-block h-24 w-24 rounded-full"
                    src="https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png"
                    alt="">
                <span class="ml-1 capitalize text-2xl font-extrabold tracking-tight">{{
                    applicantInfo?.applicant_info.first_name}} {{
                    applicantInfo?.applicant_info.last_name }}
                </span>
                <mat-hint
                    class="text-{{applicantInfo.applicant_info.ranking == 0 ? 'slate' : applicantInfo.applicant_info.ranking < 30 ? 'red' : applicantInfo.applicant_info.ranking < 70 ? 'yellow' : 'green' }}-500 text-lg ml-4">
                    {{applicantInfo.applicant_info.ranking}}% </mat-hint>
            </div>
        </div>
        <!-- Actions -->
    </div>

    <!-- Main for Web & Tab -->
    <div class="sm:flex sm:flex-row mb-2 pt-2  sm:visible hidden">
        <div class="w-8/12 h-12 flex justify-between items-center">
            <div class="buttons-wrapper-1 gap-2 flex justify-start items-center">
                <div class="flex" *ngFor="let route of routesLeft;let i = index">
                    <button mat-stroked-button
                        [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'"
                        [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 sm:w-30 "
                        (click)="routeHandler(route)">
                        <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
                    </button>
                </div>

            </div>
            <div class="buttons-wrapper-1">
                <button class="mr-1" mat-flat-button [color]="'primary'" (click)="openUpdateDialog(applicant)">
                    <span class="whitespace-normal">Edit</span>
                </button>
                <button class="mr-1" mat-flat-button [color]="'primary'" (click)="composeEmail(8)"
                    [disabled]="applicant?.applicant_info.status_step >= 8 ? true : false">
                    <span class="whitespace-normal">Advance to offer</span>
                </button>
                <button class="m-1" mat-flat-button [color]="'warn'" (click)="composeEmail(-1)"
                    [disabled]="applicant?.applicant_info.status_step >= 8 ? true : false">
                    <span class="">Reject</span>
                </button>

            </div>
        </div>
        <div class="w-4/12 sm:h-12 flex sm:flex-row   justify-end items-center px-3">
            <div class="" *ngFor="let route of routesright;let i = index">
                <button mat-stroked-button
                    [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'"
                    [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 ml-1 sm:w-48 "
                    (click)="routeHandler(route)">
                    <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
                </button>
            </div>
        </div>
    </div>
    <!-- Main for Mobile -->
    <div class="flex sm:flex-row mb-4 pt-2 pb-2  sm:hidden visible overflow-x-scroll">
        <div class="flex" *ngFor="let route of routesLeft;let i = index">
            <button mat-stroked-button
                [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'"
                [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 ml-1 sm:w-30 "
                (click)="routeHandler(route)">
                <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
            </button>
        </div>
        <div class="flex" *ngFor="let route of routesright;let i = index">
            <button mat-stroked-button
                [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'"
                [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 ml-1 sm:w-48 "
                (click)="routeHandler(route)">
                <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
            </button>
        </div>
    </div>

    <div class="flex sm:flex-row flex-col gap-2">
        <div class="sm:w-8/12 md:w-8/12">
            <div>
                <ng-template [ngIf]="selectedIndex === 'Applicant Data'">
                    <app-applicantdata>
                    </app-applicantdata>
                </ng-template>
            </div>
            <div class="mt-9">
                <ng-template [ngIf]="selectedIndex === 'Recruiter Data'">
                    <app-recruiterremarks [applicantData]="applicant?.applicant_info">
                    </app-recruiterremarks>
                </ng-template>
            </div>
            <div>
                <ng-template [ngIf]="selectedIndex === 'Prior Application'">
                    <app-applicantdata>
                    </app-applicantdata>
                </ng-template>
            </div>
        </div>

        <div *ngIf="applicant$ | async as applicantInfo" class="sm:w-4/12 md:w-4/12">
            <div class="bg-gray-100 rounded-lg mx-2 shadow">
                <div class="flex flex-col py-4 px-2 mt-9">
                    <div *ngFor="let item of applicant.applicant_status_bar; index as i">
                        <div
                            class="last-of-type:h-2 flex relative {{item.show? 'min-h-14': 'min-h-0'}} {{item.active? 'opacity-100':'opacity-50'}}">
                            <div *ngIf="item.show" class="flex flex-col items-center min-w-12">
                                <div class="flex justify-center items-center border-2 border-solid border-white rounded-full  w-{{this.results.includes(item.step)? '4': '8'}} h-{{this.results.includes(item.step)? '4': '8'}}
                                    bg-{{item.status === true ? 'green': 'red'}}-400
                                    bg-{{item.status === false? 'gray': ''}}-300">
                                    <mat-icon class="{{ item.status ? 'visible': 'invisible' }}"
                                        [svgIcon]="'heroicons_outline:check'" [ngStyle]="{'color':'white'}">
                                    </mat-icon>
                                </div>
                                <div class="timeline-track"></div>
                            </div>
                            <div *ngIf="item.show" class="flex-1 flex flex-row px-4">

                                <div class="w-8/12 flex flex-col">
                                    <span class="flex items-center text-md font-sans font-normal">{{item.step}}
                                        <div
                                            [ngClass]="{ 'animate-bounce cursor-pointer': item.click, 'pointer-events-none': !item.click }">
                                            <mat-icon matTooltip="Compose Email" (click)="composeEmail(i)"
                                                *ngIf="i == 1 || i == 2 || i == 3 || i == 4 || i == 6"
                                                class="ml-2 icon-size-5" [svgIcon]="'heroicons_outline:envelope'">
                                            </mat-icon>
                                            <mat-icon matTooltip="Make Employee"
                                                (click)="confirmAcceptRejectOffer('Accept')" *ngIf="i == 8"
                                                class="ml-2 mt-2 icon-size-5"
                                                [svgIcon]="'heroicons_outline:check-circle'">
                                            </mat-icon>
                                            <mat-icon matTooltip="Offer Rejected"
                                                (click)="confirmAcceptRejectOffer('Reject')" *ngIf="i == 8"
                                                class="ml-2 mt-2 icon-size-5" [svgIcon]="'heroicons_outline:x-circle'">
                                            </mat-icon>
                                        </div>
                                    </span>
                                    <mat-hint
                                        *ngIf="applicantInfo?.applicant_info?.reason_for_rejection != 'undefined' && applicantInfo?.applicant_info?.reason_for_rejection != 'null'  && applicantInfo?.applicant_info?.reason_for_rejection && i == 9 "
                                        class="my-1 text-red-600 text-md font-semibold">
                                        {{applicantInfo?.applicant_info?.reason_for_rejection}}
                                    </mat-hint>
                                    <button *ngIf="applicantInfo?.applicant_info?.status_message == 'Waitlisted' && i == 9 "
                                     class="" mat-flat-button [color]="'primary'" (click)="resumeOnboarding()">
                                        <span class="p-2">Resume Onboarding</span>
                                    </button>
                                    <mat-hint *ngIf="i == 2" class="my-1 text-md font-semibold">
                                        {{applicantInfo?.applicant_info.first_interviewer_name === null ?
                                        "" : "(" + applicantInfo?.applicant_info.first_interviewer_name + ")"}}
                                    </mat-hint>
                                    <mat-hint *ngIf="i == 3" class="my-1 text-md font-semibold">
                                        {{applicantInfo?.applicant_info.second_interviewer_name === null ?
                                        "" : "(" + applicantInfo?.applicant_info.second_interviewer_name + ")"}}
                                    </mat-hint>
                                    <mat-hint *ngIf="i == 5" class="my-1 text-md font-semibold">
                                        {{applicantInfo?.applicant_info.third_interviewer_name === null ?
                                        "" : "(" + applicantInfo?.applicant_info.third_interviewer_name + ")"}}
                                    </mat-hint>
                                    <mat-hint *ngIf="i == 4" class="my-1 text-md font-semibold">
                                        {{applicantInfo?.applicant_info.reference_interviewer_name === null ?
                                        "": "(" + applicantInfo?.applicant_info.reference_interviewer_name + ")"}}
                                    </mat-hint>
                                </div>
                                <div class="mt-1 w-4/12 flex justify-end font-mono text-xs">
                                    {{item.date | date: "MM-dd-YYYY"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>