<div class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent p-8">
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 sm:py-4">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoadingApplicant$ | async">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div (click)="backHandler()"
            class="flex sm:flex-row flex-col gap-3 sm:items-center text-4xl font-extrabold tracking-tigh w-full cursor-pointer">
            <div class="flex items-center">
                <mat-icon class="icon-size-6 text-secondary" [svgIcon]="'heroicons_solid:arrow-circle-left'"></mat-icon>
                <span class="ml-1 capitalize text-2xl font-extrabold tracking-tight">{{
                    applicant?.applicant_info.first_name}} {{
                    applicant?.applicant_info.last_name }}
                </span>
            </div>
            <!-- <div class="sm:w-auto lg:w-auto w-full">
                <ng-template [ngIf]="selectedIndex === 'Applicant Data'">
                    <p class="text-lg text-gray-300	font-normal ">(Recruiter decision made)</p>
                </ng-template>
                <ng-template [ngIf]="selectedIndex === 'Recruiter Data'">
                    <p class="text-lg text-blue-300	font-normal">(Advance to Pre-employment Process)</p>
                </ng-template>
                <ng-template [ngIf]="selectedIndex === 'Old Submitted Application'">
                    <p class="text-lg text-red-400	font-normal">(Offer Accepted)</p>
                </ng-template>
            </div> -->

        </div>
        <!-- Actions -->
    </div>

    <!-- Main for Web & Tab -->
    <div class="sm:flex sm:flex-row mb-4 pt-2  sm:visible hidden">
        <div class="w-8/12 h-12 flex justify-between items-center">
            <div class="buttons-wrapper-1 gap-2 flex justify-start items-center">
                <div class="flex" *ngFor="let route of routesLeft;let i = index">
                    <button mat-stroked-button
                        [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'"
                        [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 sm:w-30 "
                        (click)="routeHandler(route)">
                        <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
                    </button>
                </div>

            </div>
            <div class="buttons-wrapper-1">
                <button class="mr-1" mat-flat-button [color]="'primary'">
                    <span class="whitespace-normal">Advance to offer</span>
                </button>
                <button class="m-1" mat-flat-button [color]="'warn'">
                    <span class="">Reject</span>
                </button>

            </div>


            <!-- <button
                class="hover:bg-blue-700 bg-blue-700 text-white font-sans hover:text-white py-2 px-2 rounded-full mr-2 w-44">
                <span>Advance to offer</span>
            </button> -->
            <!-- <button
                class="bg-transparent hover:bg-red-500 text-red-500 font-sans hover:text-white py-2 px-2 border border-red-500 hover:border-transparent rounded-full w-28">
                <span>Reject</span>
            </button> -->
        </div>
        <div class="w-4/12 sm:h-12 flex sm:flex-row   justify-end items-center px-3">
            <div class="" *ngFor="let route of routesright;let i = index">
                <button mat-stroked-button
                    [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'"
                    [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 ml-1 sm:w-48 "
                    (click)="routeHandler(route)">
                    <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
                </button>
            </div>
            <button mat-stroked-button class="my-1 ml-2" (click)="openUpdateDialog(applicant)">
                <span style="font-size: 13px;"> Update Profile </span>
            </button>
            <button mat-stroked-button class="my-1 ml-2">
                <span style="font-size: 13px"> Download/Print Profile </span>
            </button>
        </div>
    </div>
    <!-- Main for Mobile -->
    <div class="flex sm:flex-row mb-4 pt-2 pb-2  sm:hidden visible overflow-x-scroll">
        <div class="flex" *ngFor="let route of routesLeft;let i = index">
            <button mat-stroked-button
                [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'"
                [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 ml-1 sm:w-30 "
                (click)="routeHandler(route)">
                <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
            </button>
        </div>
        <div class="flex" *ngFor="let route of routesright;let i = index">
            <button mat-stroked-button
                [style.background-color]="route.title === selectedIndex ? '#d4d7dd' : 'transparent'"
                [ngClass]="route.title === selectedIndex ? 'opacity-100' : 'opacity-80'" class="my-1 ml-1 sm:w-48 "
                (click)="routeHandler(route)">
                <span style="font-size: 13px;  margin-left: 0px;" class="text-black"> {{route.title}} </span>
            </button>
        </div>
        <button mat-stroked-button class="my-1 ml-2 min-w-40" (click)="openUpdateDialog(applicant)">
            <span style="font-size: 13px;"> Update Profile </span>
        </button>
        <button mat-stroked-button class="my-1 ml-2 min-w-48">
            <span style="font-size: 13px"> Download/Print Profile </span>
        </button>
    </div>

    <div class="flex sm:flex-row flex-col gap-2">
        <div class="sm:w-8/12 md:w-8/12">
            <div>
                <ng-template [ngIf]="selectedIndex === 'Applicant Data'">
                    <app-applicantdata>
                    </app-applicantdata>
                </ng-template>
            </div>
            <div>
                <ng-template [ngIf]="selectedIndex === 'Recruiter Data'">
                    <app-recruiterremarks [applicantData]="applicant.applicant_info">
                    </app-recruiterremarks>
                </ng-template>
            </div>
            <div>
                <ng-template [ngIf]="selectedIndex === 'Prior Application'">
                    <app-applicantdata>
                    </app-applicantdata>
                </ng-template>
            </div>
        </div>

        <div class="sm:w-4/12 md:w-4/12">
            <div class="bg-gray-100 rounded-lg mx-2 shadow">
                <div class="flex flex-col py-4 px-2">
                    <div class="last-of-type:h-2 flex relative {{item.show? 'min-h-14': 'min-h-0'}} {{item.active? 'opacity-100':'opacity-50'}}"
                        *ngFor="let item of this.applicant.applicant_status_bar;index as i">
                        <div *ngIf="item.show" class="flex flex-col items-center min-w-12">
                            <div class="flex justify-center items-center border-2 border-solid border-white rounded-full  w-{{this.results.includes(item.step)? '4': '8'}} h-{{this.results.includes(item.step)? '4': '8'}} bg-white
                                    bg-{{item.status === true ? 'green': 'red'}}-400
                                    bg-{{item.status === false? 'indigo': ''}}-400">
                                <mat-icon class="{{ item.status ? 'visible': 'invisible' }}"
                                    [svgIcon]="'heroicons_outline:check'" [ngStyle]="{'color':'white'}">
                                </mat-icon>
                            </div>
                            <div class="timeline-track"></div>
                        </div>
                        <div *ngIf="item.show" class="flex-1 flex flex-row px-4">
                            <div [ngClass]="{ 'pointer-events-none': !item.click }" (click)="composeEmail(i)"
                                class="cursor-pointer w-8/12 flex flex-col">
                                <span class="flex items-center text-md font-sans font-normal">{{item.step}}
                                    <div [ngClass]="{ 'animate-bounce': item.click }">
                                        <mat-icon matTooltip="Compose Email"
                                            *ngIf="i == 1 || i == 2 || i == 3 || i == 4 || i == 6"
                                            class="ml-2 icon-size-5" [svgIcon]="'heroicons_outline:envelope'">
                                        </mat-icon>
                                    </div>
                                </span>
                                <mat-hint *ngIf="i == 2" class="my-1 text-md font-semibold">
                                    {{this.applicant.applicant_info.first_interviewer_name === null ? 
                                    "" : "(" + this.applicant.applicant_info.first_interviewer_name + ")"}} 
                                </mat-hint>
                                <mat-hint *ngIf="i == 3" class="my-1 text-md font-semibold">
                                    {{this.applicant.applicant_info.second_interviewer_name === null ?  
                                    "" : "(" + this.applicant.applicant_info.second_interviewer_name + ")"}} 
                                </mat-hint>
                                <mat-hint *ngIf="i == 4" class="my-1 text-md font-semibold">
                                    {{this.applicant.applicant_info.third_interviewer_name === null ? 
                                    "" : "(" + this.applicant.applicant_info.third_interviewer_name + ")"}} 
                                </mat-hint>
                                <mat-hint *ngIf="i == 5" class="my-1 text-md font-semibold">
                                    {{this.applicant.applicant_info.reference_interviewer_name === null ?
                                    "": "(" + this.applicant.applicant_info.reference_interviewer_name + ")"}} 
                                </mat-hint>
                            </div>
                            <div class=" w-4/12 flex justify-end font-mono text-xs">
                                {{item.date | date: "MM-dd-YYYY"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>