<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{this.data.isEdit? 'Edit Hauling Rate': 'Add Hauling Rate'}}</div>
        <button mat-icon-button (click)="discard()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"
            ></mat-icon>
        </button>
    </div>
    <!-- Compose form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-2 flex-auto p-6 sm:p-6 overflow-y-auto">
        <mat-form-field appearance="outline">
            <mat-label>Rate Type</mat-label>
            <input matInput formControlName="rate_type" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Rate</mat-label>
            <input matInput formControlName="rate" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Base Rate</mat-label>
            <input matInput formControlName="base_rate" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Premium Rate</mat-label>
            <input matInput formControlName="premium_rate" />
        </mat-form-field>
    </form>
    <div class="flex justify-end mr-7 mt-0 mb-4">
        <button class="ml-4 bg-amber-600 text-white" mat-flat-button (click)="discard()">
            <span class="ml-2 mr-1">
                Discard
            </span>
        </button>
        <button class="ml-4" mat-flat-button [color]="'primary'" [class.spinner]="isLoadingHaulingRate$ | async" [disabled]="form.invalid || ((isLoadingHaulingRate$) | async)" 
            (click)="onSubmit()" [disabled]="form.invalid">
            <span class=" mr-1">
                {{this.data.isEdit? 'Update': 'Save'}}
            </span>
        </button>
    </div>
</div>