$mobile: 767px;
$medium: 768px;



.benefits-cards{
    @media screen and (max-width: $mobile) {
        width:14rem;

    }
}
::ng-deep .carousel li
{
    @media screen and (min-width: $medium) {
        padding-bottom: 40% !important;

    }
}


.custom-bg-color {
    background-color: #31558C;

}
