$mobile: 767px;



.benefits-cards{
    @media screen and (max-width: $mobile) {
        width:14rem;

    }
}


.custom-btn-color{
    background-color:#34548A !important; 
    color:#fff !important;
  
  }