$mobile: 767px;
$medium: 768px;



.benefits-cards {
    @media screen and (max-width: $mobile) {
        width: 14rem;

    }
}

::ng-deep .carousel li {
    @media screen and (min-width: $medium) {
        padding-bottom: 42% !important;

    }
}
::ng-deep .carousel li {
    @media screen and (max-width: $mobile) {
        padding-bottom: 45% !important;

    }
}

.custom-height-img {
    @media screen and (min-width: $medium) {
        height: 36rem;
    }
}

.custom-bg-color {
    background-color: #31558C;

}


.custom-btn-color {
    background-color: #34548A !important;
    color: #fff !important;

}

::ng-deep .carousel-slide-overlay {
    background-color: transparent !important;
}

ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}

::ng-deep .carousel-indicators > button
{
    width: 20px !important;
    min-height: 20px !important;
}

::ng-deep .carousel > button:last-of-type{
    right: 20px !important ;
    top: 38% !important;
}
::ng-deep .carousel > button:first-of-type{
    left: 20px !important;
    top: 38% !important;


}
::ng-deep .carousel .mat-icon
{
    font-size: 50px !important;

}


// ::ng-deep .mat-panel-title {
//     @media screen and (max-width: $mobile) {
//         font-size: 0.7rem !important;
//     }
// }
