<div class="flex flex-col flex-auto bg-white">






    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- Header -->

    <div class="container flex flex-col md:flex-row columns-2 mx-auto w-9/12 gap-8">
        <div class="flex flex-col bold md:w-1/2 justify-center  gap-y-8">
            <h1 class="text-4xl md:text-8xl font-bold">Become a part of the DHT Team</h1>
            <p class="text-xl">If you are a conscientious individual who wants seasonal work and enjoys travel - in an
                atmosphere of mutual respect for the employer, employee and the customer, we have a job for you!</p>
            <button class="w-36 mt-3 custom-btn-color" mat-flat-button type="button" [color]="'primary'"
                (click)="openDialog()">Apply Now
            </button>


        </div>

        <div class="flex flex-col bold md:w-1/2 items-center justify-center rounded-2xl p-8">
            <img class="rounded-2xl" src="assets\images\pages\employment\team.png">

        </div>

    </div>


    <!-- Job Description Section -->
    <div class="container flex flex-col md:flex-row columns-1 mx-auto w-9/12 gap-8 py-16">
        <div class="flex flex-col bold w-1/1 justify-center gap-y-8">
            <h1 class="text-2xl md:text-6xl font-bold">Job Description</h1>
            <p class="text-lg">
                We are looking for candidates who have at least six months farm experience and/or truck driving
                experience. Also, other related experience or training such as welding, machinery or truck maintenance
                and repair, and engineering is a plus.
            </p>

            <h3 class="text-2xl pt-16 ">
                Requirements
            </h3>
            <li>
                Individuals must have a clean driving record and a stable work history.</li>

            <li> All employees are required to apply for a US drivers license upon arrival and own a smart phone.</li>

            <li> Employees must pass a physical exam and pre-employment drug screen by company selected physician.</li>

            <li> Operator/drivers are expected to perform required daily maintenance and field repairs when needed.</li>

            <li> A cooperative attitude and a willingness to work with others in a team environment is a must.</li>

            <li> Candidates must speak, read, and write English. Consulate interviews are required in your respective
                countries. Criminal and driving history will be examined.</li>

            <!-- <li> Foreign workers are employed when US workers are not available. H2A visas are available and qualified
                workers should apply no later than March 1st each year</li> -->
        </div>

    </div>
    <!-- End of Job Description Section -->




    <!-- Employee Compensation Section -->
    <div class="container flex flex-col md:flex-row columns-1 mx-auto w-9/12 gap-8 py-16">
        <div class="flex flex-col w-1/1 justify-center gap-y-8">
            <h1 class="text-4xl pb-4 text-center">Employee Compensation</h1>
            <p class="text-lg">
                The US Department of Labor sets our minimum wage rates and these rates differ by state and are adjusted
                periodically. Current rates are available upon request. Employees are paid bi-weekly. We guarantee a
                minimum salary for the season based on Department of Labor standards and greater potential earnings
                possible dependent on hours worked, safety, and performance.

            </p>

        </div>

    </div>


    <!-- Our Benefits Section -->
    <div class="container flex flex-col mx-auto gap-8 pt-16 w-full columns-1" style="background-color:#F1F5F9">

        <div class="flex justify-center gap-y-8 items-center m-auto w-9/12">
            <h1 class="text-4xl text-center">Employee Benefits</h1>
        </div>


        <div class="flex flex-col md:flex-row mx-auto sm:w-9/12 gap-8 pt-8">
            <div
                class="our-values flex flex-col md:w-1/4 shadow-lg rounded-lg bg-white justify-center items-center p-4 py-8 gap-y-6">
                <div class="w-16 h-16 flex justify-center rounded-full items-center text-center m-auto"
                    style="background-color:#31558C;">
                    <img class="w-8" src="assets\images\pages\employment\Group 34897.png">
                </div>
                <h1 class="text-2xl text-center benefits-cards">CDL Training</h1>
            </div>

            <div
                class="our-values flex flex-col md:w-1/4 shadow-lg rounded-lg bg-white justify-center items-center p-4 py-8 gap-y-6">
                <div class="w-16 h-16 flex justify-center rounded-full items-center text-center m-auto"
                    style="background-color:#31558C;">
                    <img class="w-6" src="assets\images\pages\employment\Vector (4).png">
                </div>
                <h1 class="text-2xl text-center benefits-cards">Kitchen facilities Provided</h1>
            </div>

            <div
                class="our-values flex flex-col md:w-1/4 shadow-lg rounded-lg bg-white justify-center items-center p-4 py-8 gap-y-6">
                <div class="w-16 h-16 flex justify-center rounded-full items-center text-center m-auto"
                    style="background-color:#31558C;">
                    <img class="w-8" src="assets\images\pages\employment\Group 34890.png">
                </div>
                <h1 class="text-2xl text-center benefits-cards">Opportunity to Travel</h1>
            </div>

            <div
                class="our-values flex flex-col md:w-1/4 shadow-lg rounded-lg bg-white justify-center items-center p-4 py-8 gap-y-6">
                <div class="w-16 h-16 flex justify-center rounded-full items-center text-center m-auto"
                    style="background-color:#31558C;">
                    <img class="w-8" src="assets\images\pages\employment\7437317_airplane_plane_flight_aircraft_icon 1.png">
                </div>
                <h1 class="text-2xl text-center benefits-cards">Up to 100% Travel Reimbursable</h1>
            </div>


        </div>

        <!--  -->



        <div class="flex flex-col md:flex-row mx-auto sm:w-9/12 gap-8 pb-10">
            <div
                class="our-values flex flex-col md:w-1/4 shadow-lg rounded-lg bg-white justify-center items-center p-4 py-8 gap-y-6">
                <div class="w-16 h-16 flex justify-center rounded-full items-center text-center m-auto"
                    style="background-color:#31558C;">
                    <img class="w-8" src="assets\images\pages\employment\Vector (9).png">
                </div>
                <h1 class="text-2xl text-center benefits-cards">Workmen compensation Insurance</h1>
            </div>

            <div
                class="our-values flex flex-col md:w-1/4 shadow-lg rounded-lg bg-white justify-center items-center p-4 py-8 gap-y-6">
                <div class="w-16 h-16 flex justify-center rounded-full items-center text-center m-auto"
                    style="background-color:#31558C;">
                    <img class="w-8" src="assets\images\pages\employment\8666768_tv_television_icon 1.png">
                </div>
                <h1 class="text-2xl text-center benefits-cards">TV, phones, internet, AC, Washer/Dryers Provided</h1>
            </div>

            <div
                class="our-values flex flex-col md:w-1/4 shadow-lg rounded-lg bg-white justify-center items-center p-4 py-8 gap-y-6">
                <div class="w-16 h-16 flex justify-center rounded-full items-center text-center m-auto"
                    style="background-color:#31558C;">
                    <img class="w-8" src="assets\images\pages\employment\Vector (7).png">
                </div>
                <h1 class="text-2xl text-center benefits-cards">Consulate Fees Reimbursed</h1>
            </div>

            <div
                class="our-values flex flex-col md:w-1/4 shadow-lg rounded-lg bg-white justify-center items-center p-4 py-8 gap-y-6">
                <div class="w-16 h-16 flex justify-center rounded-full items-center text-center m-auto"
                    style="background-color:#31558C;">
                    <img class="w-8" src="assets\images\pages\employment\Group 34890.png">
                </div>
                <h1 class="text-2xl text-center benefits-cards">Transportation Available</h1>
            </div>

        </div>
        <p class="w-9/12 pb-20 mx-auto text-2xl flex items-center font-bold" style="color:#34548A"> <a
                class="flex items-center" (click)="openDialog()" style="cursor: pointer;">Click here to complete our
                Employment Form<mat-icon [svgIcon]="'heroicons_outline:arrow-right'"></mat-icon>
            </a></p>

    </div>


    <!-- Benefists Cards Section -->


    <!-- End of Benefists Cards Section -->







    <div class="container flex flex-col mx-auto w-9/12 my-16">
        <div class="flex flex-col bold justify-center gap-y-8 w-full">
            <h1 class="text-4xl pb-8 text-center">A Day-in-the-Life of a DHT Employee</h1>
            <video class="rounded-xl" loop muted controls="true" onloadedmetadata="this.muted = false" id="myVideo">
                <source src="assets\images\pages\employment\employment-video.mp4" type="video/mp4">
                <p><i class="far fa-times-circle"></i> No Preview Available</p>
            </video>
        </div>
    </div>

    <div class="bg-transparent flex flex-col mt-4">
        <h1 class="text-4xl pb-16 text-center">Our Valuable Employees </h1>

        <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" maxWidth="auto" proportion="25"
            slides="5" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
            orientation="ltr">
            <mat-carousel-slide #matCarouselSlide>
                <div class="container flex flex-col md:flex-row mx-auto w-9/12">
                    <div class="flex flex-col bold items-center justify-center rounded-sm m-auto">
                        <img class="rounded-sm custom-height-img" src="assets\images\pages\employment\trevorr.png">
                    </div>
                </div>
            </mat-carousel-slide>

            <mat-carousel-slide #matCarouselSlide>
                <div class="container flex flex-col md:flex-row mx-auto w-9/12">
                    <div class="flex flex-col bold items-center justify-center rounded-sm m-auto">
                        <img class="rounded-sm custom-height-img" src="assets\images\pages\employment\patrick.png">
                    </div>
                </div>
            </mat-carousel-slide>

            <mat-carousel-slide #matCarouselSlide>
                <div class="container flex flex-col md:flex-row mx-auto w-9/12">
                    <div class="flex flex-col bold items-center justify-center rounded-sm m-auto">
                        <img class="rounded-sm custom-height-img" src="assets\images\pages\employment\waynee.png">
                    </div>
                </div>
            </mat-carousel-slide>

            <mat-carousel-slide #matCarouselSlide>
                <div class="container flex flex-col md:flex-row mx-auto w-9/12">
                    <div class="flex flex-col bold items-center justify-center rounded-sm m-auto">
                        <img class="rounded-sm custom-height-img" src="assets\images\pages\employment\will.png">
                    </div>
                </div>
            </mat-carousel-slide>


        </mat-carousel>
    </div>

    <!-- FAQs Section -->

    <div class="container flex md:flex-row justify-center items-center mx-auto gap-8 w-full columns-1  py-20">

        <div class="bold justify-center gap-y-8 text-center	 m-auto w-9/12">
            <h1 class="text-6xl pb-16 font-bold">Frequently Asked Questions</h1>

            <mat-accordion>
                <mat-expansion-panel class="toggling-info-job-result mb-4 bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500">
                            What are the dates of employment?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>There are two employment dates you can apply for either one or both, but you can only get hired
                        for one of the work dates. </p>


                    <li>Option 1: First Employment Period - March 15th through January 15th
                        <ul>
                            <li class="ml-12" style="list-style-type: circle;">These are the start and end dates for the
                                H2A Visa, but arrival usually starts
                                around April 15th
                                and departure usually occurs around December 15.
                            </li>
                        </ul>
                    </li>




                    <li>Option 2: Second Employment Period - July 1st through
                        January<ul>
                            <li class="ml-12" style="list-style-type: circle;">These are the start and end dates for
                                this
                                Work Period. The employees will arrive
                                around
                                July
                                1st and depart around December 15th.</li>
                        </ul>
                    </li>




                </mat-expansion-panel>

                <mat-expansion-panel class="toggling-info-job-result bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500 items-center">
                            How much will I get paid? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>All employees get paid an hourly rate, which is adjusted every year. First year employees will be
                        paid an hourly rate set by the US Department of Labor (DOL). In 2022, the DOL hourly rates for a
                        sampling of states were as follows:
                        <li>Arizona: $14.79 per hour</li>
                        <li>South Dakota: $16.47 per hour</li>
                        <li>North Dakota: $16.47 per hour</li>
                    </p>

                </mat-expansion-panel>

                <mat-expansion-panel class="toggling-info-job-result bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500 items-center">
                            How Many Hours will I work? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>This depends on the weather but if the sun is shining and the crops are ready, you will work
                        upwards of 80 hours a week, 6 or 7 days a week, 12-14 hours a day. You will be required to
                        frequently submit your work hours (and other agricultural/harvest relevant job data) through a
                        Mobile Application. A Smart Phone Is required. </p>

                </mat-expansion-panel>


                <mat-expansion-panel class="toggling-info-job-result bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500 items-center">
                            When Do I get paid? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>You get paid every 2 weeks on Friday (2 weeks in arrears). The money gets directly deposited from
                        the DHT Bank to your bank.</p>

                </mat-expansion-panel>

                <!--  -->

                <mat-expansion-panel class="toggling-info-job-result mb-4 bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500">
                            What will I do? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>As a Harvest Crew Member you will either drive a Combine, Truck or Tractor. If you have
                        mechanical skills, you could work on repair and maintenance of vehicles and machinery.</p>
                </mat-expansion-panel>

                <mat-expansion-panel class="toggling-info-job-result bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500 items-center">
                            What type of training will I receive? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>All Crew Members receive Company, Safety and Commercial Truck Driving (CDL) Training.
                        <li>Company Training includes a 2-week orientation where you will be required to apply for a
                            Social Security Card, take a Physical, Drug Testing, Mobile App and Web Portal Training,
                            Etc.
                        </li>
                        <li>Safety Training will be provided through In-House classroom training sessions.
                        </li>
                        <li>CDL Training will be provide by a State Certified Training Instructor.
                        </li>
                    </p>

                </mat-expansion-panel>

                <mat-expansion-panel class="toggling-info-job-result bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500 items-center">
                            Where will I work? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Your training will be in Arizona until the Harvest Season begins. In the past, DHT has had jobs
                        in Arizona, Mississippi, South Dakota, New Mexico, California, North Dakota, and many more
                        states. You will be assigned to a crew that travels to one or more of these states. </p>

                </mat-expansion-panel>


                <mat-expansion-panel class="toggling-info-job-result bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500 items-center">
                            What type of lodging will I be staying at? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>For the most part the lodging is very modest, and you will be staying in a Mobile Home. Once the
                        crews leave Arizona for other locations you will be staying in a Travel Trailer with sleeping
                        accommodations, Kitchen Facilities, TV, Air Conditioning, etc.
                        <strong> NOTE: ALL EMPLOYEES ARE REQUIRED
                            TO KEEP THEIR LODGING CLEAN OR THEY WILL BE CHARGED A FEE FOR CLEANING.</strong>
                    </p>

                </mat-expansion-panel>

                <!--  -->
                <mat-expansion-panel class="toggling-info-job-result mb-4 bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500">
                            Will I get any time off?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Before the Harvest Season begins you may have some weekends off. However, once the Harvest season
                        begins, unless it rains or we’re waiting for crops to mature, there will not be any time off.
                    </p>

                </mat-expansion-panel>

                <mat-expansion-panel class="toggling-info-job-result bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500 items-center">
                            Are there any other benefits that I should be aware of? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        <li>DHT provides its employees with the training necessary to test for a CDL License. State
                            Certified Trainers are provided along with the trucks used for training. Acquiring a CDL
                            License is a valuable skill and will aide in your future employment.
                        </li>
                        <li>Employees have electronic access (through web portal and mobile application) to all
                            onboarding documents they have submitted plus company produced paperwork including payroll
                            and daily work records.
                        </li>
                        <li>Health Insurance is not provided but DHT has workers compensation insurance which will
                            covers any accidental injuries that might occur during work hours.
                        </li>
                        <li>DHT may provide its employees access to courtesy vehicles when prior approval is granted.
                        </li>

                    </p>

                </mat-expansion-panel>

                <mat-expansion-panel class="toggling-info-job-result bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500 items-center">
                            Is there opportunity for career advancement? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Yes, you be trained in using different types of equipment and learn many valuable skills that
                        will assist you in your future career placements. Plus, many DHT Employees return from year to
                        year, and help provide company leadership. In addition, most times they will receive an increase
                        in pay.


                    </p>

                </mat-expansion-panel>


                <mat-expansion-panel class="toggling-info-job-result bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500 items-center">
                            What countries do other employees come from? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>In the past, we have hired employees from many different countries, but the primary locations are
                        Ireland, New Zealand, Mexico, Brazil, United Kingdom, and Australia.</p>

                </mat-expansion-panel>

                <mat-expansion-panel class="toggling-info-job-result bg-gray-100 py-1 text-left">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-lg font-extrabold text-gray-500 items-center">
                            When and how should I apply for a Job? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>You can apply at the DHT Website anytime, but the best time to apply is in January or February
                        each year.
                    </p>

                </mat-expansion-panel>

            </mat-accordion>
        </div>


    </div> -->
    <!-- End of FAQs Section-->



    <!--Help You Grow Section -->

    <div class="container flex flex-row md:flex-row justify-center items-center mx-auto gap-8 py-16 w-full columns-1"
        style="background-color:#3A8BA5;">

        <div class="bold justify-center pt-8 text-center m-auto w-9/12">
            <h1 class="text-6xl text-white font-bold">We Can Help You Grow</h1>

            <h3 class="font-bold text-2xl pt-8 text-white">
                Your future employment with DHT will include travel, classroom instruction, on the job training, wages,
                a friendly work environment, new friends, a chance for advancement and much more.
            </h3>

            <button class="w-36 mt-8" mat-flat-button type="button" (click)="openDialog()" [color]="'white'">Apply Now
            </button>
        </div>


    </div>
    <!-- End of Help You Grow Section -->

    <!-- /////////////////FOOOTERRRRRRRRRRRRRRRRRRRRRRRRRRRRRR//////////////////////////////////// -->


    <!-- <div class="flex item-center justify-center w-full mt-24 pb-16" style="background-color:#31558C">
        <div class="flex flex-col md:flex-row mx-auto sm:w-9/12 gap-8 pt-12 pb-8">
            <div class="footer-col flex flex-col md:w-5/12 items-left py-8 gap-y-6">
                <img class="w-40 h-auto font-light" src="assets\images\pages\top-navigation-assets\Group 35423.png">
                <div class="flex flex-row items-center icon-footer">
                    <mat-icon class="text-white h-auto pr-2" [svgIcon]="'heroicons_outline:map'"> </mat-icon>
                    <p class="text-white pt-4">1664 East Florence Blvd Suite 4 <br>#505 Casa Grande AZ 85122</p>
                </div>

                <div class="flex flex-row items-center icon-footer">
                    <mat-icon class="envelope-icon text-white h-auto pr-2" [svgIcon]="'heroicons_outline:at-symbol'"> </mat-icon>
                    <p class="text-white">dht@dht-usa.com</p>
                </div>
            </div>


            <div class="footer-col flex flex-col md:w-3/12 items-left py-8 gap-y-6">
            </div>

            <div class="footer-col flex flex-col md:w-4/12 items-left py-8 gap-y-6">
            </div>



        </div>
    </div> -->



</div>