<div class="bg-white">

    <!-- Our Services Section -->
    <div class="container flex flex-col md:flex-row mx-auto md:w-9/12 gap-8 py-16">
        <div class="flex flex-col bold w-1/1 justify-start gap-y-8 text-center p-4">
            <h1 class="text-4xl font-medium">Our Services</h1>
            <p class="text-lg">
                DHT takes great pride in providing a full range of custom agricultural services such as harvesting,
                farming, trucking and combine/tractor rentals country wide. Our years of industry experience and
                expertise also allow us to harvest a wide variety of crops with confidence.
            </p>

        </div>

    </div>


    <!-- 1 -->

    <div class="container flex flex-col md:flex-row columns-2 mx-auto w-9/12 gap-8 my-16">
        <div class="flex flex-col bold md:w-1/2 justify-center  gap-y-8">
            <h1 class="services-counter -mb-20">1</h1>
            <h1 class="text-4xl custom-heading-color font-semibold">Custom Harvesting</h1>
            <p class="text-lg">DHT offers a variety of custom harvesting solutions that range from full outsourcing to
                partial outsourcing (when the landowner prefers to utilize some of his/her equipment). Our harvesting
                equipment is state-of-the-art, well-maintained, and high-capacity to ensure efficiency, quality, and
                on-time performance.
            </p>


        </div>

        <div class="flex flex-col bold md:w-1/2 items-left justify-center rounded-2xl">
            <img class="rounded" src="assets\images\pages\services\Mask.png">
            <h1 class="text-white -mt-12 pl-8">Harvesting Wheat in South Dakota</h1>
        </div>

    </div>


    <!-- 2 -->

    <div class="container flex flex-col-reverse md:flex-row columns-2 mx-auto w-9/12 gap-8 my-16">

        <div class="flex flex-col bold md:w-1/2 items-left justify-center rounded-2xl">
            <img class="rounded" src="assets\images\pages\services\Mask (1).png">
            <h1 class="text-white -mt-12 pl-8">Landowner Rented DHT Combine in North Dakota</h1>
        </div>

        <div class="flex flex-col bold md:w-1/2 justify-center  gap-y-8">
            <h1 class="services-counter -mb-20">2</h1>
            <h1 class="text-4xl custom-heading-color font-semibold">Combine/Tractor Rentals</h1>
            <p class="text-lg">
                DHT also offers landowners an ability to rent one or more of our newer CASE model combines including
                delivery & pick-up as well as DHT operators, if applicable.
            </p>
        </div>



    </div>

    <!-- 3 -->

    <div class="container flex flex-col md:flex-row columns-2 mx-auto w-9/12 gap-8 my-16">
        <div class="flex flex-col bold md:w-1/2 justify-center  gap-y-8">
            <h1 class="services-counter -mb-20">3</h1>
            <h1 class="text-4xl custom-heading-color font-semibold">Custom Farming</h1>
            <p class="text-lg">
                DHT has been custom farming since 2000 and offers landowners a wide variety of custom farming solutions
                which includes labor, insurance, and the required equipment to offer a wide range of services such as
                ripping, swathing, seeding, tilling, etc. DHT also provides flexible contract structures depending on
                the needs of the customer.
            </p>

        </div>

        <div class="flex flex-col bold md:w-1/2 items-left justify-center rounded-2xl">
            <img class="rounded" src="assets\images\pages\services\CRAIG STALK CUTTER 1.png">
            <h1 class="text-white -mt-12 pl-8">Cultivating Land in Arizona</h1>
        </div>

    </div>

    <!-- 4 -->

    <div class="container flex flex-col-reverse md:flex-row columns-2 mx-auto w-9/12 gap-8 my-16">

        <div class="flex flex-col bold md:w-1/2 items-left justify-center rounded-2xl">
            <img class="rounded" src="assets\images\pages\services\Mask (2).png">
            <h1 class="text-white -mt-12 pl-8">DHT Fleet at Southern Region Operations Center</h1>
        </div>

        <div class="flex flex-col bold md:w-1/2 justify-center  gap-y-8">
            <h1 class="services-counter -mb-20">4</h1>
            <h1 class="text-4xl custom-heading-color font-semibold">Commercial Trucking</h1>
            <p class="text-lg">
                DHT can meet your agricultural (and other) transportation needs.  We have a permanent staff of drivers who have
                pulled hopper bottoms, walking floors, drop decks, and machinery haulers transporting apples, potatoes,
                cotton seed, fertilizer, milo, oats, sunflowers, wheat, barley, beans, silage, hay, palletized wheat
                seed, ag machinery, etc. We operate a variety of trucks and trailers to move your valued cargo safely
                and efficiently. </p>
        </div>



    </div>












    <!-- Stats Section -->

    <div class="container mx-auto gap-8 py-16 w-full my-16" style="background-color:#F1F5F9">
        <div class="lg:w-9/12 w-full m-auto columns-4 flex md:flex-row flex-col gap-y-4">

            <div class="bold justify-center gap-y-8 items-center text-center m-auto sm:w-1/5 w-1/1">
                <h1 class="text-8xl font-bold custom-heading-color">150+</h1>
                <h3 class="font-bold text-2xl heading-width-custom">Happy Customers</h3>
            </div>

            <div class="bold justify-center gap-y-8 items-center text-center m-auto sm:w-1/5 w-1/1">
                <h1 class="text-8xl font-bold custom-heading-color">200+</h1>
                <h3 class="font-bold text-2xl heading-width-custom">Equipment</h3>
            </div>
            <div class="bold justify-center gap-y-8 items-center text-center m-auto sm:w-1/5 w-1/1">
                <h1 class="text-8xl font-bold custom-heading-color">40+</h1>
                <h3 class="font-bold text-2xl heading-width-custom">Years Of Experience</h3>
            </div>

            <div class="bold justify-center gap-y-8 items-center text-center m-auto sm:w-1/5 w-1/1">
                <h1 class="text-8xl font-bold custom-heading-color">20+</h1>
                <h3 class="font-bold text-2xl heading-width-custom">States</h3>
            </div>

            <div class="bold justify-center gap-y-8 items-center text-center m-auto sm:w-1/5 w-1/1">
                <h1 class="text-8xl font-bold custom-heading-color">60+</h1>
                <h3 class="font-bold text-2xl heading-width-custom">Employees</h3>
            </div>

        </div>


    </div>
    <!-- End of Stats Section -->

    <div class="container flex flex-col mx-auto w-9/12">
        <div class="flex flex-col bold items-center justify-center gap-y-8">
            <h1 class="text-2xl md:text-4xl pb-4 text-center">DHT utilizes Top-of-the-Line Equipment for all its
                Services </h1>
            <img class="rounded" src="assets\images\pages\services\Rectangle 117.png">
        </div>
    </div>


    <div class="bg-transparent flex flex-col mt-4">
        <h1 class="text-4xl py-16 text-center">Our Valuable Customers</h1>
        <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="10000" maxWidth="auto" proportion="25"
            slides="5" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false"
            orientation="ltr">


            <!-- <mat-carousel-slide #matCarouselSlide>
                <div class="flex m-auto sm:flex-row sm:w-9/12">
                    <div class="flex m-auto md:flex md:justify-end">
                        <img class="" src="assets\images\pages\services\micah.png">
                    </div>

                </div>
            </mat-carousel-slide> -->
            <mat-carousel-slide #matCarouselSlide>
                <div class="flex m-auto sm:flex-row sm:w-9/12">
                    <div class="flex m-auto md:flex md:justify-end">
                        <img class="" src="assets\images\pages\services\Dwight and Alison Grotberg.png">
                    </div>

                </div>
            </mat-carousel-slide>
            <mat-carousel-slide #matCarouselSlide>
                <div class="flex m-auto sm:flex-row sm:w-9/12">
                    <div class="flex m-auto md:flex md:justify-end">
                        <img class="" src="assets\images\pages\services\Brian and Misti Hostutler.png">
                    </div>

                </div>
            </mat-carousel-slide>



        </mat-carousel>


    </div>





</div>