<div class="flex flex-col max-w-250 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Add Item</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col flex-auto p-6 sm:p-8 sm:grid overflow-y-auto">

        <!-- <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id">
        </mat-form-field> -->
        <div class="mb-6 font-bold grid-cols-1 flex items-center justify-between	" >
        </div>
        <div class="flex flex-col flex-auto sm:grid-cols-1 justify-between gap-x-6 p-0">
            <mat-form-field appearance="outline">
                <mat-label>Service Type</mat-label>
                <input matInput formControlName="service_type">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Farm Name</mat-label>
                <input (ngModelChange)="formValidation($event)" (click)="getDropdownFarms()" [matAutocomplete]="farms"
                    (keyup)="farm_search$.next($event.target.value)" matInput formControlName="farm_id" name="name"
                    placeholder="Farm Name" required />
            </mat-form-field>
            <mat-autocomplete #farms="matAutocomplete" [displayWith]="displayFarmForAutoComplete">
                <div *ngIf="allFarms | withLoading | async as allFarms">
                    <ng-template [ngIf]="allFarms.value">
                        <mat-option *ngFor="let farm of allFarms.value.customer_farms" [value]="farm" [value]="farm">{{
                            farm.name }}
                        </mat-option>
                    </ng-template>
                    <ng-template [ngIf]="allFarms?.loading">
                        <mat-option>
                            <div style="display: flex;
                                        justify-content: center;
                                        text-align: center;">
                                <mat-spinner class="text-primary" diameter="25"></mat-spinner>
                            </div>
                        </mat-option>
                    </ng-template>
    
                    <ng-template [ngIf]="allFarms?.value?.customer_farms?.length == 0">
                        <mat-option disabled> No Farm(s) found </mat-option>
                    </ng-template>
                </div>
            </mat-autocomplete>
            <!-- MAT AUTOCOMPLETE -->
            
            <mat-form-field appearance="outline">
                <mat-label>Crop</mat-label>
                <input matInput formControlName="crop">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Quantity Type</mat-label>
                <mat-select formControlName="qty_type" >
                    <mat-option
                        *ngFor="let rateType of rateTypes"
                        [value]="rateType">{{ rateType }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Quantity</mat-label>
                <input matInput formControlName="qty">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Rate</mat-label>
                <input matInput formControlName="rate">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount">
            </mat-form-field>

        </div>
    </form>
    <div class="flex flex-0 items-center justify-end h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 text-on-primary">
        <div class="flex items-center mt-4 sm:mt-0  gap-x-4">
            <button class="ml-auto sm:ml-0" mat-flat-button (click)="discard()">
                Discard
            </button>
           
            <button type="submit" class="order-first sm:order-last" mat-flat-button [color]="'primary'" (click)="onSubmit()">
                Save
            </button>
        </div>
    </div>
</div>