.combining-grid {
    grid-template-columns: 12% 28% 20% 20% 20%;
    @screen sm {
        grid-template-columns: 12% 28% 20% 20% 20%;
    }
    @screen md {
        grid-template-columns: 12% 28% 20% 20% 20%;
    }
    @screen lg {
        grid-template-columns: 12% 28% 20% 20% 20%;
    }
}       


::ng-deep .mat-tab-body-wrapper {
    height: 100% !important;
}

::ng-deep .tab_group {
    height: 100% !important;
}

::ng-deep .mat-sort-header-content {
    text-align: start !important;

}

.summary-pg-rows-height {
    max-height: 22rem !important;
}

.rows-wrapper {
    height: 16.9rem !important;
}

.rows-wrapper-summary
{
    height: 14.4rem !important;
}