<div class="flex flex-col px-3">
    <!-- <form class="example-form" [formGroup]="form"> -->
    <p class="text-black  py-3 border-b mb-2 text-2xl font-extrabold tracking-tight">
        Account Management
    </p>
    <div class="flex justify-between bg-gray-200 px-4 mx-2 rounded-md">
        <p class="text-black font-semibold text-lg px-4 py-3">
            Acccount Status
        </p>
        <div class="flex justify-center items-center">
            <div class="w-4 bg-green-300 h-4 rounded-full"></div>
            <p class="text-blue-600 font-medium text-lg px-2 py-3">Active</p>
        </div>
    </div>
        <div class="sm:p-0 rounded-md mx-2 my-2 border">
            <!-- Main -->
            <div class="flex flex-auto overflow-hidden">
                <!-- Products list -->
                <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <ng-container>
                            <div class="grid">
                                <!-- Header -->
                                <div class="farm-data-farms z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                                    <div>Role</div>
                                    <div>
                                        Status
                                    </div>
                                    <div>Actions</div>
                                </div>
                                <!-- Rows -->
                                <div>

                                        <div class="farm-data-farms grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                            <div class="truncate">Combine Operator</div>

                                            <div class="items-center">
                                                <mat-icon class="{{
                                                    combineOperaterStatus === true
                                                        ? 'greenActiveIcon'
                                                        : 'redInActiveIcon'
                                                }}" [svgIcon]="
                                                    combineOperaterStatus === true
                                                        ? 'heroicons_solid:check-circle'
                                                        : 'heroicons_solid:x-circle'
                                                ">check-circle</mat-icon>
                                            </div>

                                            <!-- Action -->
                                            <div>
                                                <mat-slide-toggle [(ngModel)]="combineOperaterStatus"></mat-slide-toggle>

                                            </div>
                                        </div>
                                        <div class="farm-data-farms grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                            <div class="truncate">Tractor/Cart operator</div>

                                            <div class="items-center">
                                                <mat-icon class="{{
                                                    tractorCartOperaterStatus === true
                                                        ? 'greenActiveIcon'
                                                        : 'redInActiveIcon'
                                                }}" [svgIcon]="
                                                    tractorCartOperaterStatus === true
                                                        ? 'heroicons_solid:check-circle'
                                                        : 'heroicons_solid:x-circle'
                                                ">check-circle</mat-icon>
                                            </div>

                                            <!-- Action -->
                                            <div>
                                                <mat-slide-toggle [(ngModel)]="tractorCartOperaterStatus"></mat-slide-toggle>
                                            </div>
                                        </div>
                                        <div class="farm-data-farms grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                            <div class="truncate">Truck Driver​</div>

                                            <div class="items-center">
                                                <mat-icon class="{{
                                                    truckDriverStatus === true
                                                        ? 'greenActiveIcon'
                                                        : 'redInActiveIcon'
                                                }}" [svgIcon]="
                                                    truckDriverStatus === true
                                                        ? 'heroicons_solid:check-circle'
                                                        : 'heroicons_solid:x-circle'
                                                ">check-circle</mat-icon>
                                            </div>

                                            <!-- Action -->
                                            <div>
                                                <mat-slide-toggle [(ngModel)]="truckDriverStatus"></mat-slide-toggle>
                                            </div>
                                        </div>
                                        <div class="farm-data-farms grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                            <div class="truncate">Tractor/Farming operator​</div>

                                            <div class="items-center">
                                                <mat-icon class="{{
                                                    farmingTractorOperaterStatus === true
                                                        ? 'greenActiveIcon'
                                                        : 'redInActiveIcon'
                                                }}" [svgIcon]="
                                                    farmingTractorOperaterStatus === true
                                                        ? 'heroicons_solid:check-circle'
                                                        : 'heroicons_solid:x-circle'
                                                ">check-circle</mat-icon>
                                            </div>

                                            <!-- Action -->
                                            <div>
                                                <mat-slide-toggle [(ngModel)]="farmingTractorOperaterStatus"></mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                            <!-- <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length" [pageIndex]="pagination.page" [pageSize]="pagination.size"
                                [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator> -->
                        </ng-container>
                    </ng-container>
                    <ng-template #noProducts>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                            There are no products!
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="flex justify-between mx-2 rounded-md ">
            <p class="text-black font-semibold text-lg py-3 ">
                Payroll Wages Setup
            </p>
        </div>
        <div class=" flex sm:flex-row flex-col mx-2 rounded-md bg-gray-200">
            <div class="w-3/12  flex flex-col">
                <div>
                    <p class="font-normal text-base text-gray-500 my-3 mx-4">Choose:</p>
                </div>
                <div class="flex flex-col my-3 mx-4">
                    <div class="flex items-center gap-2">
                        <mat-radio-button class="mb-2" value="before">Base Rate</mat-radio-button>
                        <mat-form-field appearance="outline">
                            <mat-label>Base Rate</mat-label>
                            <input type="number" matInput>
                        </mat-form-field>
                    </div> 

                    <mat-radio-button class="" value="before">Minimum Wage by State</mat-radio-button>
                </div>
            </div>
            <div class="sm:w-9/12 w-full flex justify-center items-center sm:px-9">
                <div class="divide-y sm:w-full w-120 rounded-md p-2">
                    <div class="flex justify-between sm:p-4 sm:py-auto py-3">
                        <p class="text-sm font-semibold">Arizona</p>
                        <p class="text-sm font-semibold">North Dakota</p>
                        <p class="text-sm font-semibold">South Dakota</p>
                    </div>
                    <div class="flex justify-between sm:p-4 sm:py-auto py-3">
                        <p class="text-xs font-normal ">$16.35/hour</p>
                        <p class="text-xs font-normal mr-6">$12.35/hour</p>
                        <p class="text-xs font-normal ">$11.35/hour</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="flex justify-between mx-2 rounded-md mt-2">
            <p class="text-black font-semibold text-lg flex justify-start items-center">
                History of Wages
            </p>
            <div class="">
                <mat-form-field appearance="fill" class="w-40">
                    <mat-label>Choose an option</mat-label>
                    <mat-select>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="border flex justify-center items-center mx-2 mb-2 rounded-md">
            <div class=" divide-y bg-white w-full rounded-md">
                <div class="flex justify-start p-4 bg-gray-100">
                    <p class="w-6/12 text-sm font-semibold">Year</p>
                    <p class=" text-sm font-semibold">Rate(per hour)</p>
                </div>
                <div class="flex justify-start p-4">
                    <p class="w-6/12 text-xs font-normal ">2022</p>
                    <p class="text-xs font-normal mr-6">$12.35/hour</p>
                </div>

              </div>
        </div>
        <!-- </form> -->
</div>

