.farm-data-farms {
    grid-template-columns: 45% 40% 45%;
    @screen sm {
        grid-template-columns: 45% 45% 45%;
    }
    @screen md {
        grid-template-columns: 45% 45% 45%;
    }
    @screen lg {
        grid-template-columns: 45% 45% 45%;
    }
}

.farm-data-crops {
    grid-template-columns: 60% 40%;
    @screen sm {
        grid-template-columns: 50% 10% 15% 10%;
    }
    @screen md {
        grid-template-columns: 25% 25 25% 25%;
    }
    @screen lg {
        grid-template-columns: 65% 10% 10% 10%;
    }
}

.farm-data-destination {
    grid-template-columns: 60% 40%;
    @screen sm {
        grid-template-columns: 15% 35% 10% 15% 10%;
    }
    @screen md {
        grid-template-columns: 25% 25 25% 25%;
    }
    @screen lg {
        grid-template-columns: 15% 50% 10% 10% 10%;
    }
}
::ng-deep .mat-form-field.mat-form-field-appearance-fill.mat-form-field-has-label .mat-form-field-wrapper {
    margin-top: 24px;
    margin-bottom: 0px !important;
}
.redInActiveIcon {
    color: #dc2626;
}

.greenActiveIcon {
    color: #16a34a;
}