<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{this.data.isEdit? 'Edit Field': 'Add Field'}}</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"
            ></mat-icon>
        </button>
    </div>

    <div *ngIf="this.data.isEdit" class="flex justify-end mr-12 mt-4">
        <button *ngIf="isEdit" class="" mat-flat-button [color]="'primary'" (click)="enableEditButton()">
            <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
            <span class="ml-2 mr-1">Edit</span>
        </button>
    </div>
    <!-- Compose form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-2 flex-auto p-6 sm:p-8 overflow-y-auto">
        <!-- <mat-form-field appearance="outline">
            <mat-label>Farm Name</mat-label>
            <mat-select [disabled]="isEdit" formControlName="farm_id" name="name">
                <mat-option *ngFor="let farm of this.data.customerFarms.customer_farms" [value]="farm.id">
                    {{ farm.name }}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <!-- MAT AUTOCOMPLETE -->

            <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Farm Name</mat-label>
                    <input
                        [matAutocomplete]="farms"
                        (keyup)="farm_search$.next($event.target.value)"
                        matInput
                        formControlName="farm_id"
                        name="name"
                        placeholder="Farm Name"
                        required
                    />
                </mat-form-field>

                <mat-autocomplete
                    #farms="matAutocomplete"
                    [displayWith]="displayFarmForAutoComplete"
                    (optionSelected)="farmSelect($event.option.value)"
                >
                    <div *ngIf="allFarms | withLoading | async as allFarms">
                        <ng-template [ngIf]="allFarms.value">
                            <mat-option
                                *ngFor="let farm of allFarms.value.customer_farms"
                                [value]="farm"
                            >
                                {{ farm.name }}
                            </mat-option>
                        </ng-template>
                        <ng-template [ngIf]="allFarms?.loading">
                            <mat-option>
                                <div
                                    style="
                                        display: flex;
                                        justify-content: center;
                                        text-align: center;
                                    "
                                >
                                    <mat-spinner
                                        class="text-primary"
                                        diameter="25"
                                    ></mat-spinner>
                                </div>
                            </mat-option>
                        </ng-template>

                        <ng-template [ngIf]="allFarms?.value?.length == 0">
                            <mat-option disabled> No Farm found </mat-option>
                        </ng-template>
                    </div>
                </mat-autocomplete>
        <!-- MAT AUTOCOMPLETE -->

        <mat-form-field appearance="outline">
            <mat-label>Field</mat-label>
            <input [readonly]="isEdit" matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Acres</mat-label>
            <input [readonly]="isEdit" matInput formControlName="acres" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input [disabled]="isEdit" matInput [matDatepicker]="dp" placeholder="Calender Year" [formControl]="calendar_year" />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)" panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
    </form>

    <div class="flex justify-end mr-14 mt-1 mb-4">
        <button *ngIf="!isEdit" class="ml-4" mat-flat-button [color]="'warn'" (click)="disableEditButton()">
            <span class="ml-2 mr-1">Cancel</span>
        </button>
        <button *ngIf="!isEdit" class="ml-4" mat-flat-button [color]="'primary'" (click)="onSubmit()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">Save</span>
        </button>
    </div>
</div>
