.tab .mat-tab-group .mat-tab-body-content {
    padding: 0px !important;
}

.tab .mat-tab-group .mat-tab-labels {
    padding: 12px !important;
}

.crops-grid, .farms-grid {
    grid-template-columns: 25% 25% 25% 25%;

    @screen sm {
        grid-template-columns: 25% 25% 25% 25%;
    }

    @screen md {
        grid-template-columns: 25% 25% 25% 25% ;
    }

    @screen lg {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
