.tab .mat-tab-group .mat-tab-body-content {
    padding: 0px !important;
}

.tab .mat-tab-group .mat-tab-labels {
    padding: 12px !important;
}

.sub-nav-component {
    width: 100%;
    height: 78vh;
}

.sub-sidenav-content {
    height: 78vh;
    width: 100%;
    overflow-x: clip;
}

.sub-sidenav {
    padding: 5px;
    border-right: none !important;
    max-width: 270px;
    // z-index: 0;
}

// to make it look under filter
.mat-drawer.mat-drawer-side {
    z-index: 0 !important;
}
.opacity-8 {
    opacity: 80%;
}

.opacity-9 {
    opacity: 90%;
}

.subnav-menu-icon {
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    transition: 0.3s;
    width: 40px !important;
    height: 40px !important;
}

.subnav-menu-icon:hover {
    background-color: #eaedf1;
}

.crops-grid,
.farms-grid {
    grid-template-columns: 18% 18% 18% 18% 18%;
    @screen sm {
        grid-template-columns: 18% 18% 18% 18% 18%;
    }
    @screen md {
        grid-template-columns: 18% 18% 18% 18% 18%;
    }
    @screen lg {
        grid-template-columns: 18% 18% 18% 18% 18%;
    }
}
.customer-mat-drawer .mat-drawer-inner-container div:nth-child(5),
.customer-mat-drawer .mat-drawer-inner-container div:nth-child(6),
.customer-mat-drawer .mat-drawer-inner-container div:nth-child(7),
.customer-mat-drawer .mat-drawer-inner-container div:nth-child(8)

{
    //  pointer-events: none;


}
::ng-deep .mat-select-panel
{
    min-width: calc(100% + 17px) !important;
    margin-left: 7px !important;

}
