<div class="parent-class overflow-y-auto mb-16">
    <div class="flex w-9/12 m-auto flex-col">
        <div class="py-4">Non-Motorized Vehicle VIN # 133</div>
        <img class="" src="assets\images\apps\equipment\Rectangle 1834.png">
    </div>

    <!-- Profile Data -->

    <div class="bg-gray-100 w-9/12 m-auto shadow rounded-lg my-8">
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <div class="font-bold text-2xl pl-10 pt-4">Profile Data</div>
            <dl class="px-4 sm:divide-y sm:divide-gray-200">
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Type
                    </dt>
                    <dd class="font-normal text-sm mt-1 text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        IFTA Truck
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        VIN Number
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        4593849593133
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Company ID
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        133
                    </dd>
                </div>

                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Color
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        Black
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Year
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        2019
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Make
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        Peterbilt
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Make
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        AG 543
                    </dd>
                </div>
            </dl>
        </div>

    </div>

    <!-- Registration, Title and Insurance -->
    <div class="bg-gray-100 w-9/12 m-auto shadow rounded-lg my-8">
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <div class="font-bold text-2xl pl-10 pt-4">Registration, Title and Insurance</div>
            <dl class="px-4 sm:divide-y sm:divide-gray-200">
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Title
                    </dt>
                    <dd class="font-normal text-sm mt-1 text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        No
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        License
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        No
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Registration
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        No
                    </dd>
                </div>

                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Insurance status
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        Yes
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Liability
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        Yes
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Collision
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        Yes
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Comprehensive
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        Yes
                    </dd>
                </div>
            </dl>
        </div>

    </div> 
    <!-- Current / Historical Market Value -->
    <div class="bg-gray-100 w-9/12 m-auto shadow rounded-lg my-8">
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <div class="font-bold text-2xl pl-10 pt-4">Current / Historical Market Value</div>
            <dl class="px-4 sm:divide-y sm:divide-gray-200">
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Purchase/Trade/Lease Price
                    </dt>
                    <dd class="font-normal text-sm mt-1 text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        $102,234​
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Date of Purchase/Trade/Lease
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        June 19th, 2019​
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Sales/Trade Price
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        N/A
                    </dd>
                </div>

                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Date of Sale/Trade
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        N/A
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Estimated Market Value
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        $56,800​
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Source of Market Value
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        Auction results​
                    </dd>
                </div>
                <div class="py-3 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 flex justify-between items-center">
                    <dt class="text-sm font-bold text-gray-500">
                        Date of Market Value
                    </dt>
                    <dd class="mt-1 font-normal text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-end">
                        Jan 18, 2022​
                    </dd>
                </div>
            </dl>
        </div>

    </div> 
</div>