<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div>
            <div class="text-lg font-medium" *ngIf="this.data && this.data.isEdit; else addCrops">
                Edit Crops
            </div>
            <ng-template #addCrops>
                <div class="text-lg font-medium">
                    Add Crops
                </div>
            </ng-template>
        </div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"
            ></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <mat-form-field appearance="outline">
            <mat-label>Crop </mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Variety</mat-label>
            <input matInput formControlName="category" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Bushel Weight</mat-label>
            <input matInput formControlName="bushel_weight" />
        </mat-form-field>
    </form>

    <div class="flex flex-0 items-center justify-end h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-white text-on-primary">
        <div class="flex gap-2 items-center mt-4 sm:mt-0">
            <!-- Discard -->
            <button type="submit" class="order-first sm:order-last bg-amber-600" mat-flat-button [color]="'primary'" (click)="discard()">
                Discard
            </button>
            <button mat-flat-button color="primary" [class.spinner]="isLoadingCrop | async" [disabled]="form.invalid || ((isLoadingCrop) | async)" (click)="onSubmit()">Save</button>
        </div>
    </div>
</div>
