<div class="relative flex  flex-row flex-0 items-center justify-between py-4 px-6 md:px-8 border-b" *ngIf="isLoadingEmployeeDwr$  | async">
    <div class="flex gap-3 items-center text-2xl font-extrabold tracking-tight pl-2 cursor-pointer">
        <span class="ml-1 capitalize">Payroll</span>
    </div>
</div>
<div *ngIf="(employeeDwr$ | async) as employee" class="flex flex-col px-3 mt-4" >
    <div *ngIf="employee?.dwrTasks"  class="flex sm:flex-row flex-col px-3">
         <div class="flex flex-col sm:w-5/12 w-full p-3 bg-gray-100 mr-2 rounded-md">
            <div class="flex justify-between py-1">
               <p class="text-sm font-normal text-gray-500">Name</p>
               <p class="text-sm font-semibold text-black">
                {{employee.total_hours.first_name}} {{employee.total_hours.last_name}}
            </p>
            </div>
            <div class="flex justify-between py-1">
                <p class="text-sm font-normal text-gray-500">Role</p>
                <p class="text-sm font-semibold text-black">{{employee.total_hours.role}}</p>
             </div>
             <div class="flex justify-between py-1">
                <p class="text-sm font-normal text-gray-500">Payroll Type</p>
                <p class="text-sm font-semibold text-black">Lorium Ipsum</p>
             </div>
             <div class="flex justify-between py-1">
                <p class="text-sm font-normal text-gray-500">Base Hourly Rate</p>
                <p class="text-sm font-semibold text-black">$21</p>
             </div>
             <!-- <div class="flex justify-between py-1">
                <p class="text-sm font-normal text-gray-500">H2A Rate (State Dependent)</p>
                <p class="text-sm font-semibold text-black"></p>
             </div> -->
             <div class="flex justify-between py-1">
                <p class="text-sm font-normal text-gray-500">YTD Hours worked</p>
                <p class="text-sm font-semibold text-black">{{employee.total_hours.sum}}</p>
             </div>
             <div class="flex justify-between py-1">
                <p class="text-sm font-normal text-gray-500">YTD Wages Received</p>
                <p class="text-sm font-semibold text-black">Lorium Ipsum</p>
             </div>
             <div class="flex justify-between py-1">
                <p class="text-sm font-normal text-gray-500">Bonuses Received</p>
                <p class="text-sm font-semibold text-black">$222</p>
             </div>
         </div>
         <div class="w-7/12 bg-gray-100">Progress Container</div>
    </div>
    <div class="flex justify-between mx-3 rounded-md ">
        <p class="text-black font-semibold text-lg py-3 ">
            Trucking: Current Pay Period Daily Work Records
        </p>
    </div>
    <div class="sm:p-0 rounded-md mx-2 my-2 border">
        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                <ng-container>
                    <ng-container>
                        <div class="grid">
                            <!-- Header -->
                            <div class="farm-data-farms z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                                <div class="hidden sm:block">Date</div>
                                <div>Chief Crew</div>
                                <div class="hidden sm:block">State</div>
                                <div class="hidden sm:block">Hours</div>
                                <div class="hidden sm:block">Hourly Rate</div>
                                <div class="hidden sm:block">Total Wages</div>
                                <div class="">Status</div>
                                <!-- <div class="">Actions</div> -->
                            </div>
                            <!-- Rows -->
                            <ng-container>
                                <ng-container *ngIf="employee?.dwrTasks[0].length > 0; else noPayroll">
                                    <div *ngFor="let payroll of employee?.dwrTasks[0]" class="farm-data-farms grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <div class="truncate hidden sm:block">{{payroll.date |  date: "MM-d-YYYY"}}</div>
                                        <div class="truncate">{{payroll.supervisor}}</div>
                                        <div class="truncate hidden sm:block">{{payroll.state}}</div>
                                        <div class="truncate hidden sm:block">{{payroll.hours_worked}}</div>
                                        <div class="truncate hidden sm:block">${{payroll.hourly_rate}}</div>
                                        <div class="truncate hidden sm:block">${{totalWage(payroll.hours_worked,payroll.hourly_rate)}}</div>
                                        <div class="truncate  rounded-full h-7 w-26 bg-blue-200 flex  justify-center items-center">Verified</div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-template #noProducts>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        There is no Payroll Data!
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="flex justify-between mx-3 rounded-md ">
        <p class="text-black font-semibold text-lg py-3 ">
            Farming: Current Pay Period Daily Work Records
        </p>
    </div>
    <div class="sm:p-0 rounded-md mx-2 my-2 border">
        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                <ng-container>
                    <ng-container>
                        <div class="grid">
                            <!-- Header -->
                            <div class="farm-data-farms z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                                <div class="hidden sm:block">Date</div>
                                <div>Chief Crew</div>
                                <div class="hidden sm:block">State</div>
                                <div class="hidden sm:block">Hours</div>
                                <div class="hidden sm:block">Hourly Rate</div>
                                <div class="hidden sm:block">Total Wages</div>
                                <div class="">Status</div>
                                <!-- <div class="">Actions</div> -->
                            </div>
                            <!-- Rows -->
                            <ng-container>
                                <ng-container *ngIf="employee?.dwrTasks[1].length > 0; else noPayroll">
                                    <div *ngFor="let payroll of employee?.dwrTasks[1]" class="farm-data-farms grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <div class="truncate hidden sm:block">{{payroll.date |  date: "MM-d-YYYY"}}</div>
                                        <div class="truncate">{{payroll.supervisor}}</div>
                                        <div class="truncate hidden sm:block">{{payroll.state}}</div>
                                        <div class="truncate hidden sm:block">{{payroll.hours_worked}}</div>
                                        <div class="truncate hidden sm:block">${{payroll.hourly_rate}}</div>
                                        <div class="truncate hidden sm:block">${{totalWage(payroll.hours_worked,payroll.hourly_rate)}}</div>
                                        <div class="truncate  rounded-full h-7 w-26 bg-blue-200 flex  justify-center items-center">Verified</div>
                                    </div>

                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-template #noProducts>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        There is no Payroll Data!
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="flex justify-between mx-3 rounded-md ">
        <p class="text-black font-semibold text-lg py-3 ">
            Harvesting: Current Pay Period Daily Work Records
        </p>
    </div>
    <div class="sm:p-0 rounded-md mx-2 my-2 border">
        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                <ng-container>
                    <ng-container>
                        <div class="grid">
                            <!-- Header -->
                            <div class="farm-data-farms z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                                <div class="hidden sm:block">Date</div>
                                <div>Chief Crew</div>
                                <div class="hidden sm:block">State</div>
                                <div class="hidden sm:block">Hours</div>
                                <div class="hidden sm:block">Hourly Rate</div>
                                <div class="hidden sm:block">Total Wages</div>
                                <div class="">Status</div>
                                <!-- <div class="">Actions</div> -->
                            </div>
                            <!-- Rows -->
                            <ng-container>
                                <ng-container *ngIf="employee?.dwrTasks[2].length > 0; else noPayroll">
                                    <div *ngFor="let payroll of employee?.dwrTasks[2]" class="farm-data-farms grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <div class="truncate hidden sm:block">{{payroll.date |  date: "MM-d-YYYY"}}</div>
                                        <div class="truncate">{{payroll.supervisor}}</div>
                                        <div class="truncate hidden sm:block">{{payroll.state}}</div>
                                        <div class="truncate hidden sm:block">{{payroll.hours_worked}}</div>
                                        <div class="truncate hidden sm:block">${{payroll.hourly_rate}}</div>
                                        <div class="truncate hidden sm:block">${{totalWage(payroll.hours_worked,payroll.hourly_rate)}}</div>
                                        <div class="truncate  rounded-full h-7 w-26 bg-blue-200 flex  justify-center items-center">Verified</div>
                                    </div>

                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-template #noPayroll>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        There is no Payroll Data!
                    </div>
                </ng-template>
            </div>
        </div>
    </div>



    <div class="flex justify-between mx-2 rounded-md ">
        <p class="text-black font-semibold text-4xl py-3 ">
            Summary DWR Report
        </p>
    </div>
    <div class="sm:p-0 rounded-md mx-2 my-2 border">
        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
            <!-- Products list -->
            <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                <ng-container>
                    <ng-container>
                        <div class="grid">
                            <div class="flex flex-col gap-y-4 sm:flex-row sm:gap-4 justify-evenly pl-6 py-3 border-b">
                                <div class=" w-6/12 flex justify-around items-center">
                                        <p class="text-sm font-semibold text-black">Employee Name:</p>
                                        <p class="text-sm font-normal text-gray-500">
                                            {{employee.total_hours.first_name}} {{employee.total_hours.last_name}}
                                        </p>
                                </div>
                                <form [formGroup]="form" class="w-6/12 fles flex-col">

                                <div class="">
                                    <mat-form-field birthdayFormat class="w-full" appearance="outline">
                                        <mat-label>Payroll Period</mat-label>
                                        <mat-date-range-input [rangePicker]="picker">
                                            <input matStartDate formControlName="from"
                                                placeholder="Start date">
                                            <input matEndDate formControlName="to"
                                                placeholder="End date">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>
                                    </mat-form-field>

                                </div>

                                </form>
                                <button (click)="removeFarmingFilters()"
                                                class="bg-transparent w-2/12 h-12 m-auto hover:bg-red-500 text-red-500 font-semibold hover:text-white px-2 border border-red-500 hover:border-transparent rounded inline-flex items-center">
                                                <mat-icon class="m-0 icon-size-4" color="warn"
                                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                                <span>Remove filters</span>
                                            </button>
                            </div>
                            <!-- Header -->

                            <div *ngIf="(payrollPeriodDwr$ | async) as payrollPeriod">
                            <!-- <div class="flex justify-between mx-3 rounded-md ">
                                <p class="text-black font-semibold text-lg py-3 ">
                                    Trucking: 
                                </p>
                            </div> -->
                            <div class="payroll-period z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                                <div class="hidden sm:block">Period</div>
                                <div>Chief Crew</div>
                                <div class="hidden sm:block">Hours Worked</div>
                                <div class="hidden sm:block">State</div>
                                <div>Wages</div>
                                <!-- <div>Actions</div> -->
                            </div>
                            <!-- Rows -->
                            <ng-container>
                                <ng-container  >
                                    <div *ngFor="let payrollP of payrollPeriod.payrollPeriod" 
                                    class="payroll-period grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <div class="truncate hidden sm:block">{{payrollP.PayPeroidStart |  date: "MM-d-YYYY"}}-{{payrollP.PayPeriodEnd |  date: "MM-dd-YYYY"}}</div>
                                        <div class="truncate">Demaray Time</div>
                                        <div class="truncate hidden sm:block">{{payrollP.total_hours_worked}}</div>
                                        <!-- <div class="truncate hidden sm:block">{{payrollP.state}}</div> -->
                                        <!-- <div class="truncate">${{payrollP.wage}}</div> -->
                                    </div>
                                </ng-container>
                    
                            </ng-container>
                            <!-- <div class="flex justify-between mx-3 rounded-md ">
                                <p class="text-black font-semibold text-lg py-3 ">
                                    Farming:
                                </p>
                            </div> -->
                            <!-- <div class="farm-data-farms2 z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                                <div class="hidden sm:block">Period</div>
                                <div>Chief Crew</div>
                                <div class="hidden sm:block">Hours Worked(hths)</div>
                                <div class="hidden sm:block">State</div>
                                <div>Wages</div>
                            </div> -->
                            <!-- Rows -->
                            <!-- <ng-container>
                                <ng-container *ngIf="totalHoursWorked(payrollPeriod.payrollPeriod[1]); else noSummary">
                                    <div *ngFor="let payrollP of payrollPeriod.payrollPeriod[1]" 
                                    class="farm-data-farms2 grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <div class="truncate hidden sm:block">{{payrollP.PayPeroidStart |  date: "MM-d-YYYY"}}-{{payrollP.PayPeriodEnd |  date: "MM-d-YYYY"}}</div>
                                        <div class="truncate">Demaray Time</div>
                                        <div class="truncate hidden sm:block">{{payrollP.total_hours_worked}}</div>
                                        <div class="truncate hidden sm:block">{{payrollP.state}}</div>
                                        <div class="truncate">${{payrollP.wage}}</div>
                                    </div>
                                </ng-container>
                    
                            </ng-container> -->
                            <!-- <div class="flex justify-between mx-3 rounded-md ">
                                <p class="text-black font-semibold text-lg py-3 ">
                                    Harvesting:
                                </p>
                            </div> -->

                             <!-- <div class="farm-data-farms2 z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                                <div class="hidden sm:block">Period</div>
                                <div>Chief Crew</div>
                                <div class="hidden sm:block">Hours Worked(hths)</div>
                                <div class="hidden sm:block">State</div>
                                <div>Wages</div>
                            </div> -->
                            <!-- Rows -->
                            <!-- <ng-container>
                                <ng-container *ngIf="totalHoursWorked(payrollPeriod.payrollPeriod[2]); else noSummary">
                                    <div *ngFor="let payrollP of payrollPeriod.payrollPeriod[2]" 
                                    class="farm-data-farms2 grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <div class="truncate hidden sm:block">{{payrollP.PayPeroidStart |  date: "MM-d-YYYY"}}-{{payrollP.PayPeriodEnd |  date: "MM-d-YYYY"}}</div>
                                        <div class="truncate">Demaray Time</div>
                                        <div class="truncate hidden sm:block">{{payrollP.total_hours_worked}}</div>
                                        <div class="truncate hidden sm:block">{{payrollP.state}}</div>
                                        <div class="truncate">${{payrollP.wage}}</div>
                                    </div>
                                </ng-container>
                    
                            </ng-container> -->
                        </div>

                        </div>
                        
                    </ng-container>
                </ng-container>
                <ng-template #noSummary>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        There is no Summary Data!
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
