

<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div class="border-b">
        <div class="overflow-auto relative py-4 px-4 md:px-4 flex flex-col sm:flex-row flex-0 sm:items-center">
            <div class="absolute inset-x-0 bottom-0">
                <!-- <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar> -->
            </div>
            <!-- Title -->
            <div>
                <button mat-icon-button (click)="toggleDrawer()" class="z-0">
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                </button>
            </div>
            <div (click)="backHandler()" class="flex gap-3 items-center text-2xl font-extrabold tracking-tight cursor-pointer">
                <mat-icon w-24 h-24 class="text-secondary" [svgIcon]="'heroicons_solid:arrow-circle-left'"></mat-icon>
                <!-- <img *ngIf="customers.avatar" class="inline-block h-14 w-14 rounded-full" src="{{customers.avatar}}" alt="">
                <img *ngIf="customers.avatar == ''" class="inline-block h-12 w-14 rounded-full" src="https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png" alt=""> -->
                <span class="ml-1">Some Name</span>
            </div>
        </div>
    </div>

    <div style="height: 100%" class="bg-card dark:bg-transparent">
        <mat-drawer-container class="sub-nav-component bg-card divide-x" style="height: 100%" autosize>
            <mat-drawer #drawer class="sub-sidenav bg-card" [mode]="drawerMode" [opened]="drawerOpened">
                <div class="flex" *ngFor="let route of routes; let i = index">
                    <div *ngIf="route.title != 'Fuels/Miles'">
                    <button style="padding: 15px" [style.background-color]="route.title === selectedIndex? '#d4d7dd': 'transparent'"  matTooltip=
                    "{{ route.title }}"
                        matTooltipPosition="right"
                    [ngClass]="route.title === selectedIndex? 'opacity-100': 'opacity-80'" mat-button class="my-1 justify-start w-full"
                    (click)="routeHandler(route)">
                        <mat-icon svgIcon="{{ route.icon }}" class="icon-size-5 text-primary"></mat-icon>
                        <span style="font-size: 13px;font-weight: bold;margin-left: 10px;"></span>
                    </button>
                </div>
                </div>
            </mat-drawer>

            <div class="flex sub-sidenav-content bg-light">
                <div class="w-full h-full">
                    <div class="tab bg-white shadow overflow-auto">

                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Profile'">
                                <app-non-motorized-profile></app-non-motorized-profile>
                            </ng-template>
                        </div>

                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Location'">
                                <app-non-motorized-location></app-non-motorized-location>
                            </ng-template>
                        </div>
                        <div>
                            <ng-template [ngIf]="selectedIndex === 'Maintenance & Repair'">
                                <app-non-motorized-main-repair></app-non-motorized-main-repair>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-container>

        <!-- Main -->
    </div>
</div>

