.tab .mat-tab-group .mat-tab-body-content {
    padding: 0px !important;
}

.tab .mat-tab-group .mat-tab-labels {
    padding: 12px !important;
}
::ng-deep .sub-sidenav
{
    display: none !important;
}

// Left Navigation CSS //

.non-motorized-drawer .mat-drawer-inner-container div:nth-child(2),
.non-motorized-drawer .mat-drawer-inner-container div:nth-child(4)

{
      pointer-events: none;
}